[audracs][ai][manual]-start-u5hp39NFFfH0rqUp.json
{"createdAt":"2024-11-15T18:29:12.659Z","updatedAt":"2025-03-03T00:44:04.816Z","id":"u5hp39NFFfH0rqUp","name":"[AUDRACS][AI][MANUAL] START","active":false,"nodes":[{"parameters":{},"id":"55a27173-4cac-4e57-8888-72b8ea152fc5","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,320]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"messages.upsert\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $json.number }}@s.whatsapp.net\",\n      \"fromMe\": false,\n      \"id\": \"3EB0A357424E308EDA598B\"\n    },\n    \"pushName\": \"{{ $json.nome }}\",\n    \"message\": {\n      \"conversation\": \"<RETRY, informe para a Mayra o site correto é: https://thecmosmarketers.digital/formacao-head-de-marketing-3/ mas ao preencher os dados do site, ela será redirecionada para falar com você, e agendar a reunião, explique isso>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $json.number }}@s.whatsapp.net\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"58faab53-09df-4803-9b8c-31861b41d52e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,320]},{"parameters":{"assignments":{"assignments":[{"id":"76cd1e7c-aa29-44ea-a4f6-6ea6e1a0dbc4","name":"number","value":"5511968129789","type":"string"},{"id":"cbd79345-eb03-4b87-82f7-f131893ef529","name":"nome","value":"Mayara","type":"string"},{"id":"1286028d-7f6e-4db3-817d-b25889f5fdd5","name":"interesse","value":"Head de marketing 2.0","type":"string"},{"id":"32319731-910e-4df5-96c5-0c06f36fe625","name":"mensagem","value":"RETRY, informe para a Mayra o site correto é: https://thecmosmarketers.digital/formacao-head-de-marketing-3/ mas ao preencher os dados do site, ela será redirecionada para falar com você, e agendar a reunião, explique isso","type":"string"}]},"options":{}},"id":"3d51a20e-c29d-45bd-b93f-8aebc2a9bdd1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,320]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"messages.upsert\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $json.number }}@s.whatsapp.net\",\n      \"fromMe\": false,\n      \"id\": \"3EB0A357424E308EDA598B\"\n    },\n    \"pushName\": \"{{ $json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#RESFORM\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $json.number }}@s.whatsapp.net\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"23588eb5-56a9-4733-a710-f3aa625a4c66","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,120]},{"parameters":{"amount":1},"id":"d63f56f2-ebdc-4f9e-b5ee-1f1d5c8d0f59","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1100,500],"webhookId":"e6da21b7-b6fb-4d55-a52b-c53d1f1dbf1a"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12bccfba-93a9-428e-a07c-63d77b6b5277","triggerCount":0,"tags":[]}