[audracs][ai]-verifica-agenda-U5YqHSxWw55s8fAf.json
{"createdAt":"2024-11-18T16:32:11.261Z","updatedAt":"2025-10-01T03:17:47.822Z","id":"U5YqHSxWw55s8fAf","name":"[AUDRACS][AI] VERIFICA AGENDA","active":false,"nodes":[{"parameters":{"jsCode":"// Inicializando arrays para manhã e tarde\nconst morningSlots = [];\nconst afternoonSlots = [];\n\n// Função para verificar se o horário é antes ou depois das 12h\nfunction isMorning(time) {\n  const hour = new Date(time).getHours();\n  return hour < 15; // Agora apenas horários menores que 12 são considerados manhã 15 por conta do Fuso\n}\n\n// Loop sobre todos os itens de entrada\nfor (const item of $input.all()) {\n  const slots = item.json.slots;\n  \n  // Itera sobre cada dia e seus horários\n  for (const date in slots) {\n    const times = slots[date];\n    \n    for (const slot of times) {\n      const time = slot.time;\n      \n      // Verifica se o horário é antes ou depois das 12h e adiciona ao array correspondente\n      if (isMorning(time)) {\n        morningSlots.push({ date, time });\n      } else {\n        afternoonSlots.push({ date, time });\n      }\n    }\n  }\n}\n\n// Retorna as duas listas separadamente\nreturn [{ json: { morningSlots, afternoonSlots } }];"},"id":"4036bda5-4988-49c1-ad70-d920a37e23ac","name":"Code5","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,600]},{"parameters":{"assignments":{"assignments":[{"id":"4c6d8d2b-1ce0-4c9f-b473-785ef6cb1fa9","name":"lista","value":"={{ $item(\"0\").$node[\"If\"].json[\"morningSlots\"] }}","type":"array"}]},"options":{}},"id":"d1c94e62-1564-42c5-a53c-9192e1d2abfb","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,300]},{"parameters":{"jsCode":"// Obtenha os itens de entrada\nconst items = $input.all();\n\n// Obtenha a string JSON da lista\nconst listaString = items[0].json.lista;\n\n// Analise a string JSON em um objeto\nconst listaObj = JSON.parse(listaString);\n\n// Inicialize a string de saída\nlet outputString = '';\n\n// Itere sobre cada data na lista\nfor (const date in listaObj) {\n  outputString += date + ':\\\\n';\n  const timesArray = listaObj[date];\n  timesArray.forEach(item => {\n    outputString += '  - ' + item.time + '\\\\n';\n  });\n}\n\n// Retorne a string formatada\nreturn [{ json: { output: outputString } }];\n"},"id":"c206d6fa-aad3-43fc-b3ba-29b86d6d748f","name":"Code6","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"assignments":{"assignments":[{"id":"4c6d8d2b-1ce0-4c9f-b473-785ef6cb1fa9","name":"lista","value":"={{ $item(\"0\").$node[\"If\"].json[\"afternoonSlots\"] }}","type":"array"}]},"options":{}},"id":"f81afee2-f237-42c5-9a19-617265195a6b","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e0ca30-1c4e-4a61-b4e7-429cb1c28e8f","leftValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"parte_dia\"] }}","rightValue":"Manhã","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"0b86030c-b3d3-4bd2-a385-daac4c1b8467","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[340,600]},{"parameters":{"url":"https://api.cal.com/v1/slots","sendQuery":true,"queryParameters":{"parameters":[{"name":"eventTypeId","value":"=1430365"},{"name":"startTime","value":"={{ $item(\"0\").$node[\"Code8\"].json[\"startime\"] }}"},{"name":"endTime","value":"={{ $item(\"0\").$node[\"Code8\"].json[\"endtime\"] }}"},{"name":"timeZone","value":"America/Sao_Paulo"},{"name":"apiKey","value":"cal_live_b7b9523c52b55fe6c40c64fd5fa6e795"}]},"options":{"redirect":{"redirect":{}}}},"id":"992cb597-7084-498a-bca5-b3eab7ddbd97","name":"cal.com - buscar horarios disponiveis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,600]},{"parameters":{"jsCode":"// Obtenha os itens de entrada\nconst items = $input.all();\n\n// Obtenha o array de objetos da lista\nconst listaArray = items[0].json.lista;\n\n// Inicialize um objeto para agrupar por data\nconst groupedByDate = {};\n\n// Itere sobre cada item na lista e agrupe por data\nlistaArray.forEach(item => {\n  const date = item.date;\n  if (!groupedByDate[date]) {\n    groupedByDate[date] = [];\n  }\n  groupedByDate[date].push(item.time);\n});\n\n// Inicialize a string de saída\nlet outputString = '';\n\n// Itere sobre cada data e seus horários\nfor (const date in groupedByDate) {\n  outputString += date + ':';\n  const timesArray = groupedByDate[date];\n  timesArray.forEach(time => {\n    outputString += '  - ' + time + '';\n  });\n}\n\n// Retorne a string formatada\nreturn [{ json: { output: outputString } }];\n"},"id":"37183947-2871-4e95-91ce-2550fbaa5963","name":"Code7","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,640]},{"parameters":{"jsCode":"const today = new Date();\nlet startime = today;\nlet endtime = new Date();\n\n// Função para pular finais de semana\nfunction adjustForWeekend(date) {\n  const dayOfWeek = date.getDay();\n  // Se for sábado (6), pular para segunda-feira\n  if (dayOfWeek === 6) {\n    date.setDate(date.getDate() + 2);\n  }\n  // Se for domingo (0), pular para segunda-feira\n  if (dayOfWeek === 0) {\n    date.setDate(date.getDate() + 1);\n  }\n}\n\n// Definir endtime para 3 dias úteis depois\nfor (let i = 0; i < 3; i++) {\n  endtime.setDate(endtime.getDate() + 1);\n  adjustForWeekend(endtime);\n}\n\n// Formatar para o formato desejado (YYYY-MM-DD)\nstartime = startime.toISOString().split('T')[0];\nendtime = endtime.toISOString().split('T')[0];\n\n// Retornar os valores\nreturn {\n  startime,\n  endtime\n};\n"},"id":"73920122-9290-4a9d-8f47-7cb0daa423db","name":"Code8","type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,600]},{"parameters":{"assignments":{"assignments":[{"id":"fe5ce945-ea8c-4977-a014-f6b7bf43ba43","name":"parte_dia","value":"Manhã","type":"string"}]},"options":{}},"id":"89ee0fb6-32d9-4ca6-ae26-d21cee7a7e78","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,600]},{"parameters":{"url":"https://api.calendly.com/user_busy_times","sendQuery":true,"queryParameters":{"parameters":[{"name":"end_time","value":"={{ $json.query.endTime + \"T23:59:59.000000Z\" }}"},{"name":"start_time","value":"={{ $json.query.startTime }}T00:00:01.000000Z"},{"name":"user","value":"https://api.calendly.com/users/2a5fd5f6-8fe9-482d-9e5e-1b7d09efc048"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQwODU2NDgwLCJqdGkiOiIxZjdhMGJmMC02YzMxLTQ5NjgtYTVjNS1lODVhYmYxNzk2MzAiLCJ1c2VyX3V1aWQiOiIyYTVmZDVmNi04ZmU5LTQ4MmQtOWU1ZS0xYjdkMDllZmMwNDgifQ.0FCD1VTKFLTSr7XfyKg58qrH8L9lYdqnbOfFpr_awMcSnuYyDcWE6e5_fy3UtXWwvc03fmMQV8op_vQNmM6uLw"}]},"options":{}},"id":"92d7e91b-65eb-4f67-b8e1-ced63d7faac1","name":"GET EVENT TYPE1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,940]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Configurações\nconst SLOT_DURATION = 40; // duração em minutos\nconst START_HOUR = 9; // hora de início do dia\nconst END_HOUR = 18.5; // hora de fim do dia (18:30)\n\n// Função para formatar a data com o timezone -03:00\nfunction formatToMinusThree(date) {\n  const offsetDate = new Date(date.getTime() -0 * 60 * 60 * 1000);\n  return offsetDate.toISOString().replace('Z', '-03:00');\n}\n\n// Função para verificar se o horário é após o momento atual + 1 hora\nfunction isAfterCurrentTimePlusHour(dateTimeStr) {\n  const currentTime = new Date();\n  currentTime.setHours(currentTime.getHours() + 1); // Adiciona 1 hora\n  return new Date(dateTimeStr) > currentTime;\n}\n\n// Função principal que será executada\nconst processItem = (item) => {\n  if (!item.json || !item.json.collection) {\n    console.log('Item inválido:', item);\n    return { error: 'Formato de dados inválido' };\n  }\n\n  const events = item.json.collection;\n  const eventsByDay = {};\n\n  events.forEach(evt => {\n    const date = new Date(evt.start_time).toISOString().split('T')[0];\n    if (!eventsByDay[date]) {\n      eventsByDay[date] = [];\n    }\n    eventsByDay[date].push({\n      start: new Date(evt.start_time),\n      end: new Date(evt.end_time)\n    });\n  });\n\n  // Função para verificar se é dia útil\n  const isWeekday = (date) => {\n    const day = new Date(date).getDay();\n    return day !== 0 && day !== 6;\n  };\n\n  // Função para gerar slots disponíveis para um dia\n  function getAvailableSlotsForDay(date, busySlots) {\n    const availableSlots = [];\n    const baseDate = new Date(date);\n    baseDate.setUTCHours(START_HOUR, 0, 0, 0);\n    \n    const endDate = new Date(date);\n    endDate.setUTCHours(END_HOUR, 30, 0, 0);\n\n    let currentTime = new Date(baseDate);\n\n    while (currentTime < endDate) {\n      let slotEnd = new Date(currentTime.getTime() + SLOT_DURATION * 60000);\n      \n      // Verificar se o slot atual está livre e após o horário atual + 1 hora\n      let isSlotAvailable = isAfterCurrentTimePlusHour(currentTime.toISOString());\n      \n      if (isSlotAvailable) {\n        for (let busy of busySlots) {\n          if (!(currentTime >= busy.end || slotEnd <= busy.start)) {\n            isSlotAvailable = false;\n            break;\n          }\n        }\n      }\n\n      // Se o slot estiver disponível, adicionar à lista\n      if (isSlotAvailable) {\n        availableSlots.push({\n          start: formatToMinusThree(currentTime),\n          end: formatToMinusThree(slotEnd)\n        });\n      }\n\n      // Avançar para o próximo slot\n      currentTime = new Date(currentTime.getTime() + SLOT_DURATION * 60000);\n    }\n\n    return availableSlots;\n  }\n\n  // Processar cada dia e gerar slots disponíveis\n  const availableSlotsByDay = {};\n  Object.keys(eventsByDay).forEach(date => {\n    if (isWeekday(date)) {\n      const slots = getAvailableSlotsForDay(date, eventsByDay[date]);\n      if (slots.length > 0) { // Só incluir dias que tenham slots disponíveis\n        availableSlotsByDay[date] = slots;\n      }\n    }\n  });\n\n  // Retorna o objeto no formato esperado\n  const output = {\n    json: {\n      slots: availableSlotsByDay\n    }\n  };\n\n  return output;\n};\n\n// Executa a função e retorna o resultado\nreturn processItem(item);\n"},"id":"eb37a1fa-ad2b-40fa-8f56-4e75420388bb","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,940]},{"parameters":{"options":{}},"id":"2517c6ea-0f0d-4c86-976f-971d6d0a15d3","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[640,940]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Configurações\nconst SLOT_DURATION = 40; // duração em minutos\nconst START_HOUR = 9; // hora de início do dia\nconst END_HOUR = 18.5; // hora de fim do dia (18:30)\n\n// Processar o item atual\nif (!item.json || !item.json.collection) {\n  console.log('Item inválido:', item);\n  return { error: 'Formato de dados inválido' };\n}\n\nconst events = item.json.collection;\nconst eventsByDay = {};\n\nevents.forEach(evt => {\n  const date = new Date(evt.start_time).toISOString().split('T')[0];\n  if (!eventsByDay[date]) {\n    eventsByDay[date] = [];\n  }\n  eventsByDay[date].push({\n    start: new Date(evt.start_time),\n    end: new Date(evt.end_time)\n  });\n});\n\n// Função para verificar se é dia útil\nconst isWeekday = (date) => {\n  const day = new Date(date).getDay();\n  return day !== 0 && day !== 6;\n};\n\n// Função para gerar slots disponíveis para um dia\nfunction getAvailableSlotsForDay(date, busySlots) {\n  const availableSlots = [];\n  const baseDate = new Date(date);\n  baseDate.setUTCHours(START_HOUR, 0, 0, 0);\n  \n  const endDate = new Date(date);\n  endDate.setUTCHours(END_HOUR, 30, 0, 0);\n\n  let currentTime = new Date(baseDate);\n\n  while (currentTime < endDate) {\n    let slotEnd = new Date(currentTime.getTime() + SLOT_DURATION * 60000);\n    \n    // Verificar se o slot atual está livre\n    let isSlotAvailable = true;\n    for (let busy of busySlots) {\n      if (!(currentTime >= busy.end || slotEnd <= busy.start)) {\n        isSlotAvailable = false;\n        break;\n      }\n    }\n\n    // Se o slot estiver disponível, adicionar à lista\n    if (isSlotAvailable) {\n      availableSlots.push({\n        start: currentTime.toISOString(),\n        end: slotEnd.toISOString()\n      });\n    }\n\n    // Avançar para o próximo slot\n    currentTime = new Date(currentTime.getTime() + SLOT_DURATION * 60000);\n  }\n\n  return availableSlots;\n}\n\n// Processar cada dia e gerar slots disponíveis\nconst availableSlotsByDay = {};\n\nObject.keys(eventsByDay).forEach(date => {\n  if (isWeekday(date)) {\n    availableSlotsByDay[date] = getAvailableSlotsForDay(date, eventsByDay[date]);\n  }\n});\n\nreturn { slots: availableSlotsByDay };"},"id":"99b312b5-1f12-45f3-94c5-7b107ca08e86","name":"Backup 06 01 25","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,1240]},{"parameters":{"path":"c12e2fa5-f05b-4225-bd8c-66fa9c76b277","responseMode":"responseNode","options":{}},"id":"966fdd9f-9070-4d71-bd36-f15aa189b2da","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,940],"webhookId":"c12e2fa5-f05b-4225-bd8c-66fa9c76b277"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Configurações\nconst SLOT_DURATION = 40; // duração em minutos\nconst START_HOUR = 9; // hora de início do dia\nconst END_HOUR = 18.5; // hora de fim do dia (18:30)\n\n// Função para verificar se o horário é após o momento atual + 1 hora\nfunction isAfterCurrentTimePlusHour(dateTimeStr) {\n  const currentTime = new Date();\n  currentTime.setHours(currentTime.getHours() + 1); // Adiciona 1 hora\n  return new Date(dateTimeStr) > currentTime;\n}\n\n// Função principal que será executada\nconst processItem = (item) => {\n  if (!item.json || !item.json.collection) {\n    console.log('Item inválido:', item);\n    return { error: 'Formato de dados inválido' };\n  }\n\n  const events = item.json.collection;\n  const eventsByDay = {};\n\n  events.forEach(evt => {\n    const date = new Date(evt.start_time).toISOString().split('T')[0];\n    if (!eventsByDay[date]) {\n      eventsByDay[date] = [];\n    }\n    eventsByDay[date].push({\n      start: new Date(evt.start_time),\n      end: new Date(evt.end_time)\n    });\n  });\n\n  // Função para verificar se é dia útil\n  const isWeekday = (date) => {\n    const day = new Date(date).getDay();\n    return day !== 0 && day !== 6;\n  };\n\n  // Função para gerar slots disponíveis para um dia\n  function getAvailableSlotsForDay(date, busySlots) {\n    const availableSlots = [];\n    const baseDate = new Date(date);\n    baseDate.setUTCHours(START_HOUR, 0, 0, 0);\n    \n    const endDate = new Date(date);\n    endDate.setUTCHours(END_HOUR, 30, 0, 0);\n\n    let currentTime = new Date(baseDate);\n\n    while (currentTime < endDate) {\n      let slotEnd = new Date(currentTime.getTime() + SLOT_DURATION * 60000);\n      \n      // Verificar se o slot atual está livre e após o horário atual + 1 hora\n      let isSlotAvailable = isAfterCurrentTimePlusHour(currentTime.toISOString());\n      \n      if (isSlotAvailable) {\n        for (let busy of busySlots) {\n          if (!(currentTime >= busy.end || slotEnd <= busy.start)) {\n            isSlotAvailable = false;\n            break;\n          }\n        }\n      }\n\n      // Se o slot estiver disponível, adicionar à lista\n      if (isSlotAvailable) {\n        availableSlots.push({\n          start: currentTime.toISOString(),\n          end: slotEnd.toISOString()\n        });\n      }\n\n      // Avançar para o próximo slot\n      currentTime = new Date(currentTime.getTime() + SLOT_DURATION * 60000);\n    }\n\n    return availableSlots;\n  }\n\n  // Processar cada dia e gerar slots disponíveis\n  const availableSlotsByDay = {};\n  Object.keys(eventsByDay).forEach(date => {\n    if (isWeekday(date)) {\n      const slots = getAvailableSlotsForDay(date, eventsByDay[date]);\n      if (slots.length > 0) { // Só incluir dias que tenham slots disponíveis\n        availableSlotsByDay[date] = slots;\n      }\n    }\n  });\n\n  // Retorna o objeto no formato esperado\n  const output = {\n    json: {\n      slots: availableSlotsByDay\n    }\n  };\n\n  return output;\n};\n\n// Executa a função e retorna o resultado\nreturn processItem(item);"},"id":"51778bf2-86d0-491e-b76d-b8046e349b9a","name":"backup 11 03 25","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,1080]}],"connections":{"Code5":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Code7","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}]]},"Code8":{"main":[[{"node":"cal.com - buscar horarios disponiveis","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code8","type":"main","index":0}]]},"GET EVENT TYPE1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GET EVENT TYPE1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"axios/1.7.4","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","x-forwarded-for":"35.173.90.103","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"195345ad3e12","x-real-ip":"35.173.90.103"},"params":{},"query":{"eventTypeId":"1430365","timeZone":"America/Sao_Paulo","apiKey":"cal_live_b7b9523c52b55fe6c40c64fd5fa6e795","startTime":"2025-03-12","endTime":"2025-03-14"},"body":{},"webhookUrl":"https://webhooks.dev.cmos.ai/data/c12e2fa5-f05b-4225-bd8c-66fa9c76b277","executionMode":"production"}}],"GET EVENT TYPE1":[{"json":{"collection":[{"end_time":"2025-03-12T02:00:00.000000Z","start_time":"2025-03-11T20:00:00.000000Z","type":"external"},{"end_time":"2025-03-12T04:45:00.000000Z","start_time":"2025-03-12T02:45:00.000000Z","type":"external"},{"end_time":"2025-03-12T04:30:00.000000Z","start_time":"2025-03-12T04:00:00.000000Z","type":"external"},{"end_time":"2025-03-12T10:00:00.000000Z","start_time":"2025-03-12T09:00:00.000000Z","type":"external"},{"end_time":"2025-03-12T12:00:00.000000Z","start_time":"2025-03-12T11:30:00.000000Z","type":"external"},{"end_time":"2025-03-12T14:00:00.000000Z","start_time":"2025-03-12T13:20:00.000000Z","type":"external"},{"end_time":"2025-03-12T14:00:00.000000Z","start_time":"2025-03-12T13:20:00.000000Z","type":"external"},{"end_time":"2025-03-12T16:00:00.000000Z","start_time":"2025-03-12T15:00:00.000000Z","type":"external"},{"end_time":"2025-03-12T17:00:00.000000Z","start_time":"2025-03-12T16:00:00.000000Z","type":"external"},{"end_time":"2025-03-12T18:00:00.000000Z","start_time":"2025-03-12T17:20:00.000000Z","type":"external"},{"end_time":"2025-03-12T20:00:00.000000Z","start_time":"2025-03-12T19:30:00.000000Z","type":"external"},{"end_time":"2025-03-13T02:00:00.000000Z","start_time":"2025-03-12T20:00:00.000000Z","type":"external"},{"end_time":"2025-03-12T23:00:00.000000Z","start_time":"2025-03-12T22:00:00.000000Z","type":"external"},{"end_time":"2025-03-13T04:45:00.000000Z","start_time":"2025-03-13T02:45:00.000000Z","type":"external"},{"end_time":"2025-03-13T04:30:00.000000Z","start_time":"2025-03-13T04:00:00.000000Z","type":"external"},{"end_time":"2025-03-13T10:00:00.000000Z","start_time":"2025-03-13T09:00:00.000000Z","type":"external"},{"end_time":"2025-03-13T12:00:00.000000Z","start_time":"2025-03-13T11:30:00.000000Z","type":"external"},{"end_time":"2025-03-13T13:00:00.000000Z","start_time":"2025-03-13T12:20:00.000000Z","type":"external"},{"buffered_end_time":"2025-03-13T14:40:00.000000Z","buffered_start_time":"2025-03-13T14:00:00.000000Z","end_time":"2025-03-13T14:40:00.000000Z","event":{"uri":"https://api.calendly.com/scheduled_events/4722eaa8-cb92-4da9-8fef-2c7e2cf56a0e"},"start_time":"2025-03-13T14:00:00.000000Z","type":"calendly"},{"end_time":"2025-03-13T16:00:00.000000Z","start_time":"2025-03-13T15:00:00.000000Z","type":"external"},{"end_time":"2025-03-13T17:00:00.000000Z","start_time":"2025-03-13T16:00:00.000000Z","type":"external"},{"end_time":"2025-03-13T20:00:00.000000Z","start_time":"2025-03-13T19:30:00.000000Z","type":"external"},{"end_time":"2025-03-14T02:00:00.000000Z","start_time":"2025-03-13T20:00:00.000000Z","type":"external"},{"end_time":"2025-03-13T23:00:00.000000Z","start_time":"2025-03-13T22:00:00.000000Z","type":"external"},{"end_time":"2025-03-14T04:45:00.000000Z","start_time":"2025-03-14T02:45:00.000000Z","type":"external"},{"end_time":"2025-03-14T04:30:00.000000Z","start_time":"2025-03-14T04:00:00.000000Z","type":"external"},{"end_time":"2025-03-14T10:00:00.000000Z","start_time":"2025-03-14T09:00:00.000000Z","type":"external"},{"end_time":"2025-03-14T12:00:00.000000Z","start_time":"2025-03-14T11:30:00.000000Z","type":"external"},{"buffered_end_time":"2025-03-14T12:40:00.000000Z","buffered_start_time":"2025-03-14T12:00:00.000000Z","end_time":"2025-03-14T12:40:00.000000Z","event":{"uri":"https://api.calendly.com/scheduled_events/0275ea09-5a53-4a67-bdab-1f7ac57239e9"},"start_time":"2025-03-14T12:00:00.000000Z","type":"calendly"},{"end_time":"2025-03-14T16:00:00.000000Z","start_time":"2025-03-14T15:00:00.000000Z","type":"external"},{"end_time":"2025-03-14T17:00:00.000000Z","start_time":"2025-03-14T16:00:00.000000Z","type":"external"},{"end_time":"2025-03-14T20:00:00.000000Z","start_time":"2025-03-14T19:30:00.000000Z","type":"external"},{"end_time":"2025-03-15T02:00:00.000000Z","start_time":"2025-03-14T20:00:00.000000Z","type":"external"},{"end_time":"2025-03-14T23:00:00.000000Z","start_time":"2025-03-14T22:00:00.000000Z","type":"external"}]}}]},"versionId":"76f60828-a692-4579-abc4-2b3cada4d224","triggerCount":1,"tags":[]}