[audracs][ai]---marie-0SfRObsJozaRtfUy.json
{"createdAt":"2024-11-07T16:58:49.432Z","updatedAt":"2025-10-01T03:17:48.990Z","id":"0SfRObsJozaRtfUy","name":"[AUDRACS][AI] - Marie","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"82f7ba58-21b8-4393-a73d-7df9d08f987b","name":"telefoneCliente","value":"={{ $('EvolutionAPI').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"b64a909a-69ce-490b-8845-030f8a2bcb00","name":"TelefoneEmpresa","value":"={{ $('EvolutionAPI').item.json.body.sender }}","type":"string"},{"id":"7dc0cd3b-1cc4-4318-872d-88203181f2a7","name":"instancia","value":"={{ $('EvolutionAPI').item.json.body.instance }}","type":"string"},{"id":"fdbea49b-fa72-4769-9bc7-cff01ea3bbff","name":"apikey","value":"={{ $('EvolutionAPI').item.json.body.apikey }}","type":"string"},{"id":"d51f8384-7069-45bd-83f5-335c7259f4b8","name":"nomedocliente","value":"={{ $('EvolutionAPI').item.json.body.data.pushName }}","type":"string"},{"id":"3f8f31bb-1f2f-463b-b84c-4db1d4899397","name":"mensagem","value":"={{ $json.text }}","type":"string"},{"id":"03dc712c-10f1-43db-ac3c-0702db5b8b99","name":"id mensagem","value":"={{ $('EvolutionAPI').item.json.body.data.key.id }}","type":"string"},{"id":"095eb094-4b6c-46f0-b7c4-273cb227b99a","name":"body mensagem","value":"={{ $('EvolutionAPI').item.json.body.data }}","type":"string"},{"id":"c825b497-bd1d-4230-bc1c-bd2047c8e7fc","name":"time","value":"={{ $('EvolutionAPI').item.json.body.data.messageTimestamp }}","type":"string"}]},"options":{}},"id":"63633e97-5df8-4c77-96ee-9b079cf37d8c","name":"tratamento dos dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,1760]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"de0d2cd0-721e-4093-82be-21c8bf4bb7e4","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3c439dbb-6d2d-4b97-b402-bb8ef5a8a103","name":"Filter3","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-3360,1140]},{"parameters":{},"id":"0c501d84-8793-4c52-8308-ecf5d98480e5","name":"No Operation1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3360,1320]},{"parameters":{"method":"POST","url":"=https://wspapi.dev.cmos.ai/chat/getBase64FromMediaMessage/TESTE ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=4787ADC42461-498C-ABB8-9EA693313E5D"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{"timeout":6000}},"id":"ed3cf261-bbbb-4489-8e75-6a984bac5cfd","name":"Tratamento Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3200,1140],"retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8691422-c527-461e-bb04-1b7c8e04f6db","leftValue":"={{ $('EvolutionAPI').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"55e210fd-b929-43af-894a-284ffcb40275","name":"If from me1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4080,1480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8d10fce-2e1f-4c1b-91a2-e4d95c3a7fc9","leftValue":"={{ $('EvolutionAPI').item.json['body'] &&     $('EvolutionAPI').item.json['body']['data'] &&     $('EvolutionAPI').item.json['body']['data']['message'] &&     (      $('EvolutionAPI').item.json['body']['data']['message']['conversation'] ||       ($('EvolutionAPI').item.json['body']['data']['message']['extendedTextMessage'] &&        $('EvolutionAPI').item.json['body']['data']['message']['extendedTextMessage']['text'])    ) }}","rightValue":"#CMOS","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"86019515-a32a-4da3-81e2-cb872b708b61","name":"ATIVAR_IA?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c537de3-5ae6-41a3-9778-5f89831f4922","leftValue":"={{ $('tratamento dos dados').item.json.mensagem }}","rightValue":"#RESETAR","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"05d68362-dbf4-4713-b8e8-6f061e824808","name":"Resetar chat","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3904c549-a31f-44be-af73-34505cfd24a3","leftValue":"={{ $json.remoteJid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"efb80d1a-9a31-4d1e-a6ba-2e4c09e26075","name":"If cliente existe","type":"n8n-nodes-base.if","typeVersion":2,"position":[180,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fc5eb05-1639-44b9-b5ab-144149f7a635","leftValue":"={{ $json.ia_ativa }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b75246fb-5d3e-4545-a539-46874c0ac636","name":"IA_PAUSADA","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,1820]},{"parameters":{},"id":"5e1a7f6f-4a2e-42e4-810f-0eca76db106c","name":"No Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1300,1560]},{"parameters":{},"id":"bba5cf31-8f83-4df5-bc17-f9260b1d820f","name":"No Operation4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2260,1680]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"ia_ativa":false,"rmkt_ativado":false,"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","nome":"={{ $('tratamento dos dados').item.json.nomedocliente }}","inicio_int":"={{ $now }}","ultm_int":"={{ $now }}","qtd_interacoes":1,"etapa_rmkt":0},"matchingColumns":[],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}]},"options":{"replaceEmptyStrings":true}},"id":"f04d9dcd-5a5d-4287-b7ce-e5b7c919e0fb","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[380,1980],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"ia_ativa":true,"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","ultm_int":"={{ $now }}","fluxo":"cmos"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}]},"options":{"replaceEmptyStrings":true}},"id":"373ed766-3c89-415b-b169-8605d064ae33","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1660,1700],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"assignments":{"assignments":[{"id":"bcc29ac2-dcb8-4ed6-825b-41e1c1889f86","name":"sessionId","value":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","type":"string"},{"id":"e3f6999f-1393-49ef-b709-3bf3ab262151","name":"action","value":"=sendMessage","type":"string"},{"id":"2b93067e-de00-4312-8152-dbcdb3af5727","name":"chatInput","value":"={{ $item(\"0\").$node[\"tratamento dos dados\"].json[\"mensagem\"] }}","type":"string"},{"id":"7f51ccac-64e6-4280-ba7d-0557ddb54987","name":"now","value":"={{ $now.setZone('America/Sao_Paulo') }}","type":"string"}]},"options":{}},"id":"6a592208-66b6-478d-a050-2249325b58f1","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,1940]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","tableName":"ai_2_chat_history","contextWindowLength":50},"id":"25d31444-6361-4fe6-a7d4-3746f049ca2f","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[2400,2200],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"options":{}},"id":"9ceb9b10-0fa3-4ebf-a5cb-6701490ba690","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4400,1940]},{"parameters":{"amount":0},"id":"8657acc5-e893-4655-9c9e-345d72717462","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3780,1940],"webhookId":"847e7036-c3ac-4845-8a2c-87a08cb063b6"},{"parameters":{"method":"POST","url":"https://wspapi.dev.cmos.ai/message/sendText/TESTE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"4787ADC42461-498C-ABB8-9EA693313E5D"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('tratamento dos dados').item.json.telefoneCliente }}\",\n  \"text\": \"{{ $('Loop Over Items2').item.json.output }}\",\n  \"delay\": {{ $('Loop Over Items2').item.json.delay }}\n}","options":{"timeout":60000}},"id":"fcaea466-62b5-4321-950c-0203cab5c324","name":"EvolutionAPI - Resposta (Cliente)1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5480,1980],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"function splitTextIntoSentences(text) {\n  // Proteger links de mídias sociais e URLs completas\n  const socialMediaRegex = /((?:instagram|facebook|twitter|linkedin)\\.com\\/[\\w\\.-]+)|(?:https?:\\/\\/[^\\s]+)|([\\w\\.-]+\\.[\\w]+\\/[\\w\\.-]+)/gi;\n  let protectedText = text.replace(socialMediaRegex, match => match.replace(/\\./g, '[[URL_DOT]]'));\n  \n  // Proteger valores monetários\n  protectedText = protectedText.replace(/R\\$\\s*\\d+[\\d,.]+/g, match => match.replace(/\\./g, '[[MONEY_DOT]]'));\n  \n  // Proteger reticências\n  protectedText = protectedText.replace(/\\.{3}/g, '[[ELLIPSIS]]');\n  \n  // Substituir múltiplas quebras de linha por uma única \"\\n \"\n  protectedText = protectedText.replace(/\\n\\s*\\n+/g, '\\n ');\n  \n  // **Não** substituir as quebras de linha aqui\n  \n  // Expressão regular para dividir o texto em sentenças\n  const regex = /[\\s\\S]+?(?:\\. |\\! |\\? |\\n|$)/g;\n  \n  // Dividir o texto protegido em sentenças\n  const matches = protectedText.match(regex);\n  \n  // Se não houver correspondências, retornar o texto original com tratamentos nos '\\n'\n  if (!matches) {\n    return [text.trim().replace(/\\n\\s*\\n+/g, '\\n ').replace(/\\n/g, '\\\\n')];\n  }\n\n  // Processar cada sentença e restaurar os caracteres protegidos\n  return matches.map(sentence => \n    sentence\n      .replace(/\\[\\[URL_DOT\\]\\]/g, '.') // Restaurar pontos em URLs\n      .replace(/\\[\\[MONEY_DOT\\]\\]/g, '.') // Restaurar pontos em valores monetários\n      .replace(/\\[\\[ELLIPSIS\\]\\]/g, '...') // Restaurar reticências\n      .replace(/\\n/g, '\\\\n') // Agora substituir '\\n' por '\\\\n'\n      .trim()\n      .replace(/\\\\n$/, '') // Remover '\\\\n' no final da sentença, se houver\n  );\n}\n\n// Exemplo de uso:\nlet newItems = [];\n\nitems.forEach(item => {\n  const output = item.json.output;\n  const remoteJid = item.json.remoteJid;\n  \n  const sentences = splitTextIntoSentences(output);\n  \n  sentences.forEach(sentence => {\n    newItems.push({\n      json: {\n        output: sentence,\n        remoteJid: remoteJid\n      }\n    });\n  });\n});\n\nreturn newItems;"},"id":"4b7fd0bb-979d-4cb5-ab40-e06f22da2f0a","name":"Divir Parágrafos1","type":"n8n-nodes-base.code","typeVersion":2,"position":[3920,1940]},{"parameters":{"amount":1},"id":"6ead6159-589c-4932-9c00-873b59aa2820","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4000,2080],"webhookId":"b70dd284-df96-4480-8423-fa0250635a0d"},{"parameters":{"assignments":{"assignments":[{"id":"a59bbe15-8515-49df-b5f8-6f8222e0ff84","name":"output","value":"={{ $('AI Agent').item.json.output.replaceAll('\"','\\\\\"') }}","type":"string"}]},"options":{}},"id":"7e8ca2e7-2f50-45f2-86ff-13df35ee40f3","name":"Set output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3560,1940]},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ai_2_chat_history","mode":"list","cachedResultName":"ai_2_chat_history"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $node[\"tratamento dos dados\"].json[\"telefoneCliente\"] }}"}]},"options":{}},"id":"e3f75cb8-aee2-40b1-a29e-eaa7f6b441d2","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[620,1720],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"method":"POST","url":"https://wspapi.dev.cmos.ai/message/sendText/TESTE","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"4787ADC42461-498C-ABB8-9EA693313E5D"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('tratamento dos dados').item.json.telefoneCliente }}\",\n  \"text\": \"*Sucesso*\\n> Reset concluido!\",\n  \"delay\": 0\n}","options":{"timeout":60000}},"id":"9a2ad445-8bec-41f8-a2d5-669f7905f748","name":"EvolutionAPI - Resposta (Cliente)3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,1720],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $node[\"tratamento dos dados\"].json[\"telefoneCliente\"] }}"}]},"options":{}},"id":"3f701524-c281-4e6b-b060-392ff97f7707","name":"Postgres6","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[840,1720],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"url":"={{ $('Filter3').item.json.body.data.message.mediaUrl }}","options":{}},"id":"45dbfcb4-86da-43fa-9129-d6ef934c87f8","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2980,1140]},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{"language":"pt"}},"id":"636fd674-c406-4cee-88f9-1434b86d1c8a","name":"Transcrever Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-2520,1140],"credentials":{"openAiApi":{"id":"W8iBjzq8J1W1HRw0","name":"OpenAi account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","options":{}},"id":"b08f86b1-55d8-4dbb-af3e-bf71fee2b8af","name":"Postgres7","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-180,1980],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"name":"produtos_base","description":"Informações sobre os produtos, serviços, cursos, formações.","topK":20},"id":"2d181fee-e530-4294-acff-19702ca7e646","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2540,2200]},{"parameters":{"options":{}},"id":"329c1228-2e4a-4738-b11b-00df9615886c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2480,2540],"credentials":{"openAiApi":{"id":"W8iBjzq8J1W1HRw0","name":"OpenAi account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"742195af-5e7c-43aa-8bdc-1d7f3995e360","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2720,2400],"credentials":{"openAiApi":{"id":"W8iBjzq8J1W1HRw0","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Verifica_Agenda > Busque na agenda horários disponíveis para agendar a reunião.","url":"https://webhooks.dev.cmos.ai/data/c12e2fa5-f05b-4225-bd8c-66fa9c76b277","sendQuery":true,"parametersQuery":{"values":[{"name":"eventTypeId","valueProvider":"fieldValue","value":"1430365"},{"name":"startTime"},{"name":"endTime"},{"name":"timeZone","valueProvider":"fieldValue","value":"America/Sao_Paulo"},{"name":"apiKey","valueProvider":"fieldValue","value":"cal_live_b7b9523c52b55fe6c40c64fd5fa6e795"}]},"placeholderDefinitions":{"values":[{"name":"startTime","description":"Initial date in this format (YYYY-MM-DD)","type":"string"},{"name":"endTime","description":"Final date in this format (YYYY-MM-DD)  + 4 day"}]}},"id":"06abe24a-fb20-4a88-a7fa-17a9a681ee87","name":"Verifica_Agenda","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2840,2200]},{"parameters":{"toolDescription":"=Quando o usuário solicitar que deseja conversar mais tarde, definir o dia e horário que deve ser definido para entrar em contato.","method":"POST","url":"https://webhooks.dev.cmos.ai/data/39d8619e-53fb-451e-b364-6ccf82915d31","sendBody":true,"parametersBody":{"values":[{"name":"job_name"},{"name":"action","valueProvider":"fieldValue","value":"message_return_later"},{"name":"schedule"},{"name":"remotejid","valueProvider":"fieldValue","value":"={{ $('tratamento dos dados').item.json.telefoneCliente }}"}]},"placeholderDefinitions":{"values":[{"name":"job_name","description":"defina um nome claro que explique o motivo desse cron"},{"name":"schedule","description":"=timestamp with time zone -3 do momento que precisa entrar em contato novamente","type":"string"}]}},"id":"3bfeb77b-f373-4ddf-8d37-819ab8b4b7d0","name":"Agenda_Interacao","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3000,2200]},{"parameters":{"jsCode":"function splitTextIntoSentences(text) {\n  // Protege links de redes sociais e URLs completas\n  const socialMediaRegex = /((?:instagram|facebook|twitter|linkedin)\\.com\\/[\\w\\.-]+)|(?:https?:\\/\\/[^\\s]+)|([\\w\\.-]+\\.[\\w]+\\/[\\w\\.-]+)/gi;\n  let protectedText = text.replace(socialMediaRegex, match => match.replace(/\\./g, '[[URL_DOT]]'));\n  \n  // Protege valores monetários\n  protectedText = protectedText.replace(/R\\$\\s*\\d+[\\d,.]+/g, match => match.replace('.', '[[MONEY_DOT]]'));\n  \n  // Protege reticências\n  protectedText = protectedText.replace(/\\.{3}/g, '[[ELLIPSIS]]');\n  \n  // Expressão regular para dividir o texto, mantendo emojis\n  const regex = /[^.!?]+[.!?](?:\\s*[\\u{1F300}-\\u{1F9FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}])?/gu;\n  \n  // Verifica se tem link protegido\n  if (protectedText.includes('[[URL_DOT]]')) {\n    // Se tiver link, retorna o texto completo\n    return [text.trim()];\n  }\n  \n  const matches = protectedText.match(regex);\n  \n  if (!matches) {\n    return [text.trim()];\n  }\n\n  return matches.map(sentence => \n    sentence\n      .replace(/\\[\\[URL_DOT\\]\\]/g, '.') // Restaura pontos em URLs\n      .replace(/\\[\\[MONEY_DOT\\]\\]/g, '.') // Restaura pontos em valores\n      .replace(/\\[\\[ELLIPSIS\\]\\]/g, '...') // Restaura reticências\n      .trim()\n  );\n}\n\nlet newItems = [];\n\nitems.forEach(item => {\n  const output = item.json.output;\n  const remoteJid = item.json.remoteJid;\n  \n  const sentences = splitTextIntoSentences(output);\n  \n  sentences.forEach(sentence => {\n    newItems.push({\n      json: {\n        output: sentence,\n        remoteJid: remoteJid\n      }\n    });\n  });\n});\n\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,1340],"id":"9bbe1c72-b925-4b2b-a97a-27b0905849db","name":"concatena"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1140,1340],"id":"6fd7b433-273f-4f56-b2fd-9b9840bac373","name":"Loop Over Items3"},{"parameters":{"assignments":{"assignments":[{"id":"21857a84-7062-481b-93e5-489bb7a51b4e","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"5bb2142c-11d1-4f6d-930b-667c0901a044","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,1340],"id":"1e4d4e48-ac38-4927-9857-76d21f8d1b3e","name":"Edit Fields2"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1420,1440],"id":"8ff16a97-83e6-4a93-b5a9-e35eabd91842","name":"Wait1","webhookId":"14d3270b-a132-4d8f-829c-cb412c0aff91"},{"parameters":{"assignments":{"assignments":[{"id":"04898736-d183-49ec-a7c1-49e72a7d2aa8","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"e0de175f-db13-4003-8f25-8c9190918d8f","name":"telefone","value":"={{ $('Edit Fields2').item.json.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,1320],"id":"78f4d9f8-968d-4dc4-beb6-7d35c7b6e026","name":"Edit Fields6"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"produtos","mode":"list","cachedResultName":"produtos"},"options":{}},"id":"178cfc2b-addc-4e5c-932f-c6c774a4dfa7","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[2480,2400],"credentials":{"qdrantApi":{"id":"QN0rhPlVSsGh0yDM","name":"QdrantApi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13c445cc-8687-4b45-8581-df33e72a227f","leftValue":"={{ $('Loop Over Items2').item.json.output }}","rightValue":"Entendi!","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"571baee0-e8b2-4cfa-b8b9-7bf659b17701","leftValue":"={{ $('Loop Over Items2').item.json.output }}","rightValue":"Ótimo!","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4dc116f6-bd45-4ea4-9b48-9ecc0f95e322","leftValue":"={{ $('Loop Over Items2').item.json.output }}","rightValue":"Legal!","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"a6da8816-5a25-438a-9915-f474486d5d23","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5280,2040]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1-KBINaMB-3IAmWB5-Uwu1LjQFzMjc9LMMC7sYhW_M6I","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"c5f6bad6-27ba-40df-9160-6dd64b55fc03","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2020,1940],"credentials":{"googleDriveOAuth2Api":{"id":"xojyRYGTF3a3OzNA","name":"Audracs Testes"}}},{"parameters":{"operation":"text","options":{}},"id":"4ab13827-3193-4986-a28f-6e1b6113fa5d","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2160,1940]},{"parameters":{"jsCode":"  // Defina a velocidade média de digitação (caracteres por segundo)\n   const typingSpeed = 20; // Ajuste este valor conforme necessário\n\n   const newItems = [];\n\n   // Loop sobre os itens de entrada\n   for (const item of $input.all()) {\n     const output = item.json.output; // A mensagem a ser enviada\n\n     // Calcula o tempo de digitação\n     const messageLength = output.length;\n     const typingTimeInSeconds = messageLength / typingSpeed;\n     const delay = typingTimeInSeconds * 1000; // Converte para milissegundos\n\n     // Adiciona o delay e outras informações no novo item\n     newItems.push({\n       json: {\n         output: output,\n         delay: delay\n       }\n     });\n   }\n\n   return newItems;"},"id":"c7b18464-68d3-4ba0-88cd-86307543edd5","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[4140,1940]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c537de3-5ae6-41a3-9778-5f89831f4922","leftValue":"={{ $('tratamento dos dados').item.json.mensagem }}","rightValue":"#RESFORM","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"fee7aad0-a82c-4973-b7f8-aa81f250de52","name":"Resetar chat1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,1980]},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ai_2_chat_history","mode":"list","cachedResultName":"ai_2_chat_history"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $node[\"tratamento dos dados\"].json[\"telefoneCliente\"] }}"}]},"options":{}},"id":"efd08bd9-3687-4b96-9465-2f4ee0a58a1e","name":"Postgres8","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[720,1540],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $node[\"tratamento dos dados\"].json[\"telefoneCliente\"] }}"}]},"options":{}},"id":"734a38d7-d95f-469b-90d3-2934f217302d","name":"Postgres9","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,1540],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"ia_ativa":false,"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"0d750c6e-ff41-4d28-932e-aac9275903b7","name":"Postgres12","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1140,1560],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"toolDescription":"=Quando o usuário decidir quando será a reunião, definir o dia e horário que deve ser definido para a reunião.","method":"POST","url":"https://webhooks.dev.cmos.ai/data/0ceda276-fc11-4682-9693-4e6f53286337","sendBody":true,"parametersBody":{"values":[{"name":"job_name"},{"name":"action","valueProvider":"fieldValue","value":"agendar_reuniao"},{"name":"schedule"},{"name":"remotejid","valueProvider":"fieldValue","value":"={{ $('tratamento dos dados').item.json.telefoneCliente }}"},{"name":"email"},{"name":"name"},{"name":"observacao"}]},"placeholderDefinitions":{"values":[{"name":"job_name","description":"defina um nome claro que explique o motivo desse cron"},{"name":"schedule","description":"=timestamp with time zone -3 do momento que precisa entrar em contato novamente","type":"string"},{"name":"email","description":"insira apenas o email formatado do usuario","type":"string"},{"name":"name","description":"Nome e Sobrenome do usuário","type":"string"},{"name":"observacao","description":"Baseado nas perguntas e resposta feitas ao usuário, faça um resumo do momento que o usuário está e os interesses dele, e dados inportantes","type":"string"}]}},"id":"14d6cb40-0a45-40e4-afa7-6931f0b7b024","name":"Agenda_Reuniao","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3140,2220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65665390-096f-46f6-bb82-ada0dce81dc3","leftValue":"={{ $json.remoteJid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"99f89752-bb49-4c79-a1ff-4eda534e5c78","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2060,1400]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages_time_control","mode":"list","cachedResultName":"messages_time_control"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('If from me1').item.json.body.data.key.remoteJid }}","id":"={{ $('VERIFICA SE TEM MSG').item.json.id }}","message":"={{ $('VERIFICA SE TEM MSG').item.json.message }}, {{ $('Merge').item.json.text }}"},"matchingColumns":["id"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"create_at","displayName":"create_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"1f854bb7-6ef0-4862-9671-e6d8fd1c5d68","name":"Postgres14","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1600,1300],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"amount":15},"id":"31624e18-fa71-4633-9363-460f8e2df47c","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1200,1500],"webhookId":"a5e7e629-e510-4380-abfa-dcc42f17d6f3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d292f356-db71-4637-bd1d-f6ae6f83b365","leftValue":"={{ $('MENSAGEM 1').item.json.message }}","rightValue":"={{ $node[\"MENSAGEM  2\"].json[\"message\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"72b9be4d-cb47-4172-b8ad-636964e7d4fa","name":"If5","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,1500]},{"parameters":{"assignments":{"assignments":[{"id":"04cef79c-759a-41b6-9869-f7e01d352a65","name":"text","value":"={{ $node[\"If5\"].json[\"message\"] }}","type":"string"}]},"options":{}},"id":"175a478b-ef40-4e7e-9581-ad4f7ff25f3d","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,1400]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"a0dee235-8b04-40f1-aee2-f6ff98f1f13f","name":"Postgres18","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5200,1420],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"c285c192-4e12-44ed-9db5-768dae933b7b","name":"Postgres17","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5200,1240],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres17').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $('Postgres - Get user').item.json.rd_deal_id }}\",\n    \"text\": \"AI enviou mensagem com sucesso para contato.\"\n  }\n}","options":{}},"id":"d7af34bb-5213-43c7-bee5-c5473a0c1105","name":"CRM NOTE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5360,1240]},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Postgres - Get user').item.json.rd_deal_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres17').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c19868d85bd001439c61b"}]},"options":{}},"id":"4bcff7a2-799e-44b6-9ace-a00b0e856ab0","name":"Update negociacao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5520,1240]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","etapa_crm":"waiting_first_answer"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}]},"options":{"replaceEmptyStrings":true}},"id":"481baca3-8b43-4c1b-a02c-cc86226a6ffd","name":"Postgres19","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5720,1240],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Postgres - Get user').item.json.rd_deal_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres18').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c19868d85bd001439c61c"}]},"options":{}},"id":"c1fb47ce-444b-4aee-b537-7b7266864329","name":"Update negociacao1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5520,1420]},{"parameters":{},"id":"5c9bfcb8-0176-4a11-b993-8744dd9a361f","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[4620,1840]},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres18').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $('Postgres - Get user').item.json.rd_deal_id }}\",\n    \"text\": \"Contato respondeu a primeira mensagem da AI.\"\n  }\n}","options":{}},"id":"04c2279f-8f98-4bd8-89d4-725d81b6d9b9","name":"CRM NOTE1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5360,1420]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","etapa_crm":"Empty"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}]},"options":{"replaceEmptyStrings":true}},"id":"9af1f689-e5b1-4e7c-b50d-a8f4dcb8ddb9","name":"Postgres20","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5720,1420],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"model":"gpt-4o","options":{"frequencyPenalty":0.5,"presencePenalty":0.5,"temperature":0.2,"topP":0.8}},"id":"76b31c1d-1a90-435d-ab42-bb5f7c4643de","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2300,2200],"credentials":{"openAiApi":{"id":"W8iBjzq8J1W1HRw0","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"27a6f5dc-38b0-4e39-886f-7ea5859d36d3","name":"number","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"fee29874-78f3-40e3-91b4-6efc038d05c1","name":"conversation","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"0cff3741-7bd3-4071-ab9b-c568126635e5","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3740,1560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5615f048-f760-41eb-97f2-1912cae6ff0f","leftValue":"={{ $json.conversation }}","rightValue":". .","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"197d2f98-e7de-4f90-897f-0920483844e5","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3560,1580]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"ia_ativa":false,"remoteJid":"={{ $node[\"Edit Fields3\"].json[\"number\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"deb057ef-bd36-473e-88d7-2b3dc8094c9e","name":"Postgres13","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3300,1600],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"ba523e43-3b87-4019-9065-efc29db984db","name":"Postgres21","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5200,1600],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Postgres - Get user').item.json.rd_deal_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres21').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c19868d85bd001439c61d"}]},"options":{}},"id":"66073dfa-4125-4e98-9c44-dee936250a53","name":"Update negociacao2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5540,1600]},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres21').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $('Postgres - Get user').item.json.rd_deal_id }}\",\n    \"text\": \"Contato entrou em Remarketing por falta de interação.\"\n  }\n}","options":{}},"id":"6d50ad3c-d7d6-4ad9-9c0d-4fa3600882f4","name":"CRM NOTE2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5380,1600]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","etapa_crm":"em_rmkt"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}]},"options":{"replaceEmptyStrings":true}},"id":"bc4ecfa5-72b3-434e-bcb1-e3ec74247d9e","name":"Postgres22","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5740,1600],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"047cb4fe-c366-44a2-9b0b-25b88c5af80f","name":"Postgres23","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5200,1780],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Postgres - Get user').item.json.rd_deal_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres23').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c19868d85bd001439c61c"}]},"options":{}},"id":"deff6cd5-04e8-4d7a-a9f2-cc3751d31341","name":"Update negociacao3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5540,1780]},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres23').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $('Postgres - Get user').item.json.rd_deal_id }}\",\n    \"text\": \"Contato respondeu ao Remarketing.\"\n  }\n}","options":{}},"id":"0e40fa50-2189-4d41-88f2-244a0cdb4105","name":"CRM NOTE3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5380,1780]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","etapa_crm":"em_rmkt"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}]},"options":{"replaceEmptyStrings":true}},"id":"e3e9e21c-b744-400e-94f8-cb116a8a55c5","name":"Postgres24","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5740,1780],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"httpMethod":"POST","path":"947f7604-ffcc-46b7-bdd3-1e3ca9f86113","options":{}},"id":"2b3f8c17-d37d-436a-8603-c9c5afe31843","name":"EvolutionAPI","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4280,1480],"webhookId":"176e2245-490e-4670-8f7a-f0d6f72a55f7"},{"parameters":{"resource":"track","operation":"event","userId":"={{ $node[\"EvolutionAPI\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","event":"send_message","context":{"contextUi":{"active":true,"ip":"","locate":"","page":"IA_MARIE","timezone":"={{ $now }}","app":{},"campaign":{},"device":{}}},"integrations":{},"properties":{"propertiesUi":[{"key":"content","value":"={{ JSON.stringify($json) }}"}]}},"id":"80ccfb43-6547-410a-9c7c-7a2802c97233","name":"Segment","type":"n8n-nodes-base.segment","typeVersion":1,"position":[-3760,1940],"credentials":{"segmentApi":{"id":"x0SLa70kbKAts7oz","name":"Segment account"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c7077bb5-24d4-4d2f-b3fc-ead05eff6191","leftValue":"={{ $item(\"0\").$node[\"If from me1\"].json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8f867798-1c7d-4af1-a06f-5d0ea65a85d4","leftValue":"={{ $item(\"0\").$node[\"If from me1\"].json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0e416065-c998-410a-bac0-64b000ccd681","leftValue":"={{ $item(\"0\").$node[\"If from me1\"].json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1492c4f9-43e9-43eb-818a-b44a98243b46","leftValue":"={{ $item(\"0\").$node[\"If from me1\"].json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"image/webp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"figurinha"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"23827d43-2992-4dc9-8361-35f05f520566","leftValue":"={{ $item(\"0\").$node[\"If from me1\"].json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d0c4670b-eae1-4d09-a11f-44ea2b4730bd","leftValue":"={{ $item(\"0\").$node[\"If from me1\"].json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text/message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"71e8d5fc-6ab9-407d-a888-da66a1c6f5e6","leftValue":"={{ $item(\"0\").$node[\"If from me1\"].json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"ephemeralMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ephemeralMessage"}]},"options":{}},"id":"cd0ca405-7a84-4df6-bc20-c39122846391","name":"VERIFICAR TIPO DE MENSAGEM","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3580,1140]},{"parameters":{"assignments":{"assignments":[{"id":"65742397-a7c7-47ae-9f82-f01c2168f266","name":"body.data.message.conversation","value":"={{ $json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"797177c0-91b7-4402-b2c4-3db5d3be9826","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2900,1420]},{"parameters":{"assignments":{"assignments":[{"id":"65742397-a7c7-47ae-9f82-f01c2168f266","name":"text","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"1583c52c-987a-4d37-87ff-581d9424567e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,1300]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages_time_control","mode":"list","cachedResultName":"messages_time_control"},"limit":1,"where":{"values":[{"column":"remoteJid","value":"={{ $('If from me1').item.json.body.data.key.remoteJid }}"}]},"options":{}},"id":"8f2727c7-64bb-4760-8797-9baa1cae3892","name":"VERIFICA SE TEM MSG","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2280,1400],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages_time_control","mode":"list","cachedResultName":"messages_time_control"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('If from me1').item.json.body.data.key.remoteJid }}","create_at":"={{ $now }}","message":"={{ $('Merge').item.json.text }}"},"matchingColumns":["id"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"create_at","displayName":"create_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"b5c2ac93-57c0-4e2e-991c-6a24936da488","name":"Postgres15","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1560,1520],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages_time_control","mode":"list","cachedResultName":"messages_time_control"},"limit":1,"where":{"values":[{"column":"remoteJid","value":"={{ $('If from me1').item.json.body.data.key.remoteJid }}"}]},"options":{}},"id":"20876985-1815-4eac-961e-5dfe9717c26c","name":"MENSAGEM 1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1380,1500],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages_time_control","mode":"list","cachedResultName":"messages_time_control"},"limit":1,"where":{"values":[{"column":"remoteJid","value":"={{ $('If from me1').item.json.body.data.key.remoteJid }}"}]},"options":{}},"id":"4d5726ab-22b4-432d-90c6-9dbfe2a8ddf2","name":"MENSAGEM  2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1020,1500],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages_time_control","mode":"list","cachedResultName":"messages_time_control"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $json.id }}"}]},"options":{}},"id":"9c8262f4-a7e1-47bf-97f9-091144e18bbb","name":"Postgres16","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-580,1400],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"returnAll":true,"where":{"values":[{"column":"remoteJid","value":"={{ $('EvolutionAPI').item.json.body.data.key.remoteJid }}"}]},"options":{}},"id":"63389d53-481f-4031-af36-9d27dff6eb71","name":"Postgres - Get user","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-20,1820],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"options":{"systemMessage":"=Data e hora atual: {{ $item(\"0\").$node[\"Edit Fields1\"].json[\"now\"] }}\n\n{{ $item(\"0\").$node[\"Extract from File\"].json[\"data\"] }}"}},"id":"50288c0d-f2e5-4e8d-8831-90d650e294c2","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2440,1940]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('tratamento dos dados').item.json.telefoneCliente }}","ultm_int":"={{ $now }}","qtd_interacoes":"={{ $('Postgres - Get user').item.json.qtd_interacoes + 1}}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"36fe0c3f-a532-4fef-9041-f01339ac26a7","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3340,1940],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9dc8040-6190-4181-a0b4-b37098423ff6","leftValue":"={{ $('Merge').item.json.text }}","rightValue":"#RESETAR","operator":{"type":"string","operation":"contains"}},{"id":"48bb9dc9-807c-4991-ad26-d6793b0d8398","leftValue":"={{ $('Merge').item.json.text }}","rightValue":"#RESFORM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"7de1e99b-bca4-4cfb-a8cf-5a483459836a","name":"RESET","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,1500]},{"parameters":{},"id":"6f1ccb60-af3b-46bc-9a98-61d437e8ca2e","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2500,1400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Postgres - Get user').item.json.etapa_crm }}","rightValue":"start_crm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start_crm"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b90c5e81-4ac2-44a9-b917-5bed148698af","leftValue":"={{ $('Postgres - Get user').item.json.etapa_crm }}","rightValue":"waiting_first_answer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"first_answer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4977dbf2-2fb7-4ef6-8d01-70e74cea72db","leftValue":"={{ $('Postgres - Get user').item.json.etapa_crm }}","rightValue":"entrar_em_rmkt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"entrar_em_rmkt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd37c441-bfda-4ef4-885b-70a47641478c","leftValue":"={{ $('Postgres - Get user').item.json.etapa_crm }}","rightValue":"em_rmkt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"em_rmkt"}]},"options":{}},"id":"2df4b4ed-d64e-4ee1-968b-d27a4c64adae","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4860,1440]},{"parameters":{"assignments":{"assignments":[{"id":"bcf111f0-3cf2-41ed-a276-caa7385cfad8","name":"text","value":"={{ $('Merge').item.json.text }}","type":"string"}]},"options":{}},"id":"d405128c-d7cf-4a83-9b67-f14eaede247a","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1420,1800]}],"connections":{"tratamento dos dados":{"main":[[{"node":"Postgres - Get user","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Tratamento Audio","type":"main","index":0}]]},"Tratamento Audio":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If from me1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"VERIFICAR TIPO DE MENSAGEM","type":"main","index":0},{"node":"Segment","type":"main","index":0}]]},"ATIVAR_IA?":{"main":[[{"node":"Postgres2","type":"main","index":0}],[{"node":"IA_PAUSADA","type":"main","index":0}]]},"Resetar chat":{"main":[[{"node":"Postgres5","type":"main","index":0}],[{"node":"Resetar chat1","type":"main","index":0}]]},"If cliente existe":{"main":[[{"node":"Resetar chat","type":"main","index":0}],[{"node":"Postgres1","type":"main","index":0}]]},"IA_PAUSADA":{"main":[[{"node":"No Operation4","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Postgres - Get user","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"IA_PAUSADA","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Divir Parágrafos1","type":"main","index":0}]]},"EvolutionAPI - Resposta (Cliente)1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Divir Parágrafos1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Set output":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Postgres5":{"main":[[{"node":"Postgres6","type":"main","index":0}]]},"EvolutionAPI - Resposta (Cliente)3":{"main":[[{"node":"Postgres12","type":"main","index":0}]]},"Postgres6":{"main":[[{"node":"EvolutionAPI - Resposta (Cliente)3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcrever Audio","type":"main","index":0}]]},"Transcrever Audio":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Verifica_Agenda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agenda_Interacao":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"concatena":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"concatena","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"EvolutionAPI - Resposta (Cliente)1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Resetar chat1":{"main":[[{"node":"Postgres8","type":"main","index":0}],[{"node":"ATIVAR_IA?","type":"main","index":0}]]},"Postgres8":{"main":[[{"node":"Postgres9","type":"main","index":0}]]},"Postgres9":{"main":[[{"node":"Postgres12","type":"main","index":0}]]},"Postgres12":{"main":[[{"node":"No Operation","type":"main","index":0}]]},"Agenda_Reuniao":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If3":{"main":[[{"node":"Postgres14","type":"main","index":0}],[{"node":"RESET","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"MENSAGEM  2","type":"main","index":0}]]},"If5":{"main":[[{"node":"Postgres16","type":"main","index":0}],[{"node":"MENSAGEM 1","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"tratamento dos dados","type":"main","index":0}]]},"Postgres18":{"main":[[{"node":"CRM NOTE1","type":"main","index":0}]]},"Postgres17":{"main":[[{"node":"CRM NOTE","type":"main","index":0}]]},"CRM NOTE":{"main":[[{"node":"Update negociacao","type":"main","index":0}]]},"Update negociacao":{"main":[[{"node":"Postgres19","type":"main","index":0}]]},"Update negociacao1":{"main":[[{"node":"Postgres20","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Switch","type":"main","index":0}]]},"CRM NOTE1":{"main":[[{"node":"Update negociacao1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres13","type":"main","index":0}]]},"Update negociacao2":{"main":[[{"node":"Postgres22","type":"main","index":0}]]},"CRM NOTE2":{"main":[[{"node":"Update negociacao2","type":"main","index":0}]]},"Postgres21":{"main":[[{"node":"CRM NOTE2","type":"main","index":0}]]},"Postgres23":{"main":[[{"node":"CRM NOTE3","type":"main","index":0}]]},"Update negociacao3":{"main":[[{"node":"Postgres24","type":"main","index":0}]]},"CRM NOTE3":{"main":[[{"node":"Update negociacao3","type":"main","index":0}]]},"EvolutionAPI":{"main":[[{"node":"If from me1","type":"main","index":0}]]},"VERIFICAR TIPO DE MENSAGEM":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Filter3","type":"main","index":0}],[{"node":"No Operation1","type":"main","index":0}],[{"node":"No Operation1","type":"main","index":0}],[{"node":"No Operation1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"VERIFICA SE TEM MSG":{"main":[[{"node":"If3","type":"main","index":0}]]},"Postgres15":{"main":[[{"node":"MENSAGEM 1","type":"main","index":0}]]},"MENSAGEM 1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"MENSAGEM  2":{"main":[[{"node":"If5","type":"main","index":0}]]},"Postgres16":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Postgres - Get user":{"main":[[{"node":"If cliente existe","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Set output","type":"main","index":0}]]},"RESET":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Postgres15","type":"main","index":0}]]},"Merge":{"main":[[{"node":"VERIFICA SE TEM MSG","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Postgres17","type":"main","index":0}],[{"node":"Postgres18","type":"main","index":0}],[{"node":"Postgres21","type":"main","index":0}],[{"node":"Postgres23","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"tratamento dos dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"EvolutionAPI":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"axios/1.7.5","content-length":"973","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"35.173.90.103","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"195345ad3e12","x-real-ip":"35.173.90.103"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"TESTE","data":{"key":{"remoteJid":"5511986191462@s.whatsapp.net","fromMe":false,"id":"3EB0ACB556C36C07F2CA90"},"pushName":"Gabriel Fukuoka","message":{"conversation":"#RESETAR","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"oXaFIoc0wbDaRg==","senderTimestamp":"1741789899","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"OzF3XJEzHf+9Nw==","recipientTimestamp":"1741262869"},"deviceListMetadataVersion":2,"messageSecret":"LbkBnEDGzp8VpAId8LiEcrvG4jmJcwIpfYQmGjiJOcc="}},"messageType":"conversation","messageTimestamp":1742386281,"instanceId":"7cc94892-040e-4bb2-9eeb-e07b45b99bb2","source":"web","chatwootMessageId":19558,"chatwootInboxId":3,"chatwootConversationId":837},"destination":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","date_time":"2025-03-19T09:11:21.380Z","sender":"554888359569@s.whatsapp.net","server_url":"https://wspapi.dev.cmos.ai","apikey":null},"webhookUrl":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","executionMode":"production"}}]},"versionId":"e6fdf6d7-2dfa-45d8-b105-d1c2588dd358","triggerCount":1,"tags":[]}