[audracs][ai]---active-form-6xCLtSeOsuSuogMJ.json
{"createdAt":"2025-01-03T18:07:58.295Z","updatedAt":"2025-10-01T03:17:46.862Z","id":"6xCLtSeOsuSuogMJ","name":"[AUDRACS][AI] - Active Form","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"caa5983a-c1ea-49f1-82da-b340956a085a","name":"lead_id","value":"={{ $node[\"Dados_Contato\"].json[\"id_contact\"] }}","type":"string"},{"id":"e744ceff-e169-42be-8aff-e56f9e1eee13","name":"lead_email","value":"={{ $('Webhook FORM').item.json.body.leads[0].email }}","type":"string"},{"id":"bd5b4d66-151d-4e46-92f0-773f20b81596","name":"lead_name","value":"={{ $('Webhook FORM').item.json.body.leads[0].name }}","type":"string"},{"id":"74f3e27f-f718-4617-a42a-c2fd3e463b7f","name":"event_identifier","value":"={{ $('Webhook FORM').item.json.body.leads[0].last_conversion.content.event_identifier }}","type":"string"},{"id":"43cfb5fb-e621-4654-b287-4a2de0e45a82","name":"event_type","value":"={{ $('Webhook FORM').item.json.body.leads[0].last_conversion.content.event_type }}","type":"string"},{"id":"f2bb03ab-ce6c-4700-845d-84c02c4746ce","name":"event_timestamp","value":"={{ $('Webhook FORM').item.json.body.leads[0].last_conversion.content.event_timestamp }}","type":"string"},{"id":"7c6b3193-7dca-4e11-845a-05845058559a","name":"conversion_identifier","value":"={{ $('Webhook FORM').item.json.body.leads[0].last_conversion.content.conversion_identifier }}","type":"string"},{"id":"e8ab5d7d-0a5f-4b31-ba1d-45d14b9fbfcd","name":"cf_qual_e_o_seu_cargo","value":"={{ $('Webhook FORM').item.json.body.leads[0].last_conversion.content['[F] Qual é o seu cargo atual (ou o último que exerceu)?'] }}","type":"string"},{"id":"1cd2a8ce-f00f-41a3-b86c-9f01887fe006","name":"lead_phone","value":"={{ $node[\"Validar Telefone\"].json[\"whatsapp_formatado\"] }}","type":"string"},{"id":"21abc47a-364f-4305-9d75-da6a2d6665c9","name":"crm_deal_id","value":"={{ $('Criando negociacao').item.json.id }}","type":"string"}]},"options":{}},"id":"8eba44d6-903d-4b09-909f-e42eaefddace","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,340]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"{{ $('Edit Fields').item.json.event_type }}\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('Postgres4').item.json.remoteJid }}\",\n      \"fromMe\": false,\n      \"id\": \"{{ $('Postgres4').item.json.rd_contact_id }}\"\n    },\n    \"pushName\": \"{{ $('Postgres4').item.json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#CMOS <RESTART, nome:{{ $('Postgres4').item.json.nome }}, interesse: Head de Marketing, email: {{ $('Postgres4').item.json.email }}, telefone: {{ $node[\"Postgres4\"].json[\"remoteJid\"].split('@')[0] }}, lead id: {{ $node[\"Postgres4\"].json[\"rd_contact_id\"] }}, Eu lidero pessoas atualmente?: {{ $('Webhook FORM').item.json.body.leads[0].custom_fields['Quantas pessoas você lidera atualmente?'] }}, Meu cargo: {{ $('Webhook FORM').item.json.body.leads[0].custom_fields['[F] Qual é o seu cargo atual (ou o último que exerceu)?'] }}>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $json.number }}@s.whatsapp.net\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"e0d47daa-252e-4073-99b5-a2ab842ac8ef","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,340]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"messages.upsert\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $json[\"remoteJid\"] }}\",\n      \"fromMe\": false,\n      \"id\": \"3EB0A357424E308EDA598B\"\n    },\n    \"pushName\": \"{{ $json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#RESFORM\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $json.remoteJid }}\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"fd1c1eb5-9302-4f84-aa22-ca461967e06e","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,340]},{"parameters":{"amount":1},"id":"6cca9058-0e9e-4670-9a1e-d4d6989452ed","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,340],"webhookId":"04c93ee7-7ff2-40a0-8b39-9ab6970ab322"},{"parameters":{"content":"verifica se já tem fluxo ativo, caso sim pula etapa e avisa que foi agendado.\n\nCaso não tenha, faça mensagem de Abertura bem vindo e informa que foi agendado e fica disponível para tirar dúvidas."},"id":"9546e175-dcd1-4f83-96a6-af767e28ac89","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,-500]},{"parameters":{"content":"criar campo fluxo"},"id":"6b272c65-e7dc-4eda-9835-9688ef5fec7c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,-300]},{"parameters":{"functionCode":"var whatsapp = items[0].json.whatsapp.replace(' ','').replace('(','').replace(')','').replace(' ','').replace(' ','').replace('-','').replace(' ','');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp_formatado = '55'+ddd+whatsapp;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      whatsapp,\n      whatsapp_formatado,   \n    }\n  }\n];"},"id":"5be07ac7-6e37-4216-8c05-07d389b400df","name":"Validar Telefone","type":"n8n-nodes-base.function","position":[1100,340],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"40628962-d091-47f0-bd34-5071284785f9","name":"whatsapp","value":"={{ $('Dados_Contato').item.json.phone_contact }}","type":"string"},{"id":"1148e4b2-485c-42c7-9937-b249136a18c2","name":"id_user_rd","value":"={{ $('Dados_Contato').item.json.id_contact }}","type":"string"}]},"options":{}},"id":"e247ecd1-e902-4a1e-9c77-8c32b46b4ee3","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,340]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"rmkt_ativado":true,"remoteJid":"={{ $('Edit Fields').item.json.lead_phone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('+','').replaceAll('-','') }}@s.whatsapp.net"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"3cb25d44-9743-4603-bf59-ba8791487e09","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2040,340],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"content":"## RESETA CONVERSA AI","height":282.83464566929115,"width":238.6501687289086,"color":2},"id":"55fff74c-fb0a-4f5d-8c58-1e12494510bf","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,-60]},{"parameters":{"content":"## INICIA CONVERSA AI","height":215.34308211473575,"width":604.454443194601,"color":4},"id":"0291d57f-a009-4d2f-9d13-45ea7709b4fb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,260]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"limit":1,"where":{"values":[{"column":"remoteJid","value":"={{ $('Edit Fields').item.json.lead_phone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('+','').replaceAll('-','') }}@s.whatsapp.net"}]},"options":{}},"id":"63426381-82a3-4764-b299-c1a128cc7408","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2240,340],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres2').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"name\": \"LP FHM - {{ $json[\"name_contact\"] }}\",\n    \"set_contacts\": [ { \"id\": \"{{ $json[\"id_contact\"] }}\" } ],\n    \"deal_stage_id\": \"679c19868d85bd001439c61a\"\n  }\n}","options":{}},"id":"f77840eb-7340-4abd-b7be-647a8d059b7f","name":"Criando negociacao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,240]},{"parameters":{"assignments":{"assignments":[{"id":"566ac7b0-4ee4-45ec-8ded-be01314f456b","name":"name","value":"={{ $json.body.leads[0].name }}","type":"string"},{"id":"284a1c14-3ff5-44be-9bca-00b3de757822","name":"email","value":"={{ $json.body.leads[0].email }}","type":"string"},{"id":"8e1da593-bb9d-4e92-a022-ae02c4db8382","name":"mobile_phone","value":"={{ $json.body.leads[0].mobile_phone }}","type":"string"}]},"options":{}},"id":"7fc703dd-4b63-4804-88fa-0ed7dc86860e","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,340]},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/contacts/{{ $('Dados_Contato').item.json.id_contact }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres2').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact\": {\n    \"deal_ids\": [\n      \"{{ $json[\"id\"] }}\"\n    ]\n  }\n}","options":{}},"id":"dadc4e79-7dd0-4a56-804f-28ceaea3fb0e","name":"Atualiza Contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14819f00-ee49-4f0c-a324-14326c7cf423","leftValue":"={{ $('Edit Fields3').item.json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"cb910b43-c73c-4463-aea9-97108fb804a9","leftValue":"={{ $('Edit Fields3').item.json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7fbd6375-8c75-46e3-a35d-983384beaf8b","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58fc6606-231a-4e67-8e10-18dcadca5045","leftValue":"={{ $json.total }}","rightValue":1,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"bdb1c285-9f2c-49fc-ab08-407e798d58a9","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,320]},{"parameters":{"assignments":{"assignments":[{"id":"ac19dba0-2096-4ebf-8d66-9a640aa3b82a","name":"id_contact","value":"={{ $json.contacts[0].id }}","type":"string"},{"id":"f36d00b7-a0e2-4eca-9ead-ee989b1a476e","name":"name_contact","value":"={{ $json.contacts[0].name }}","type":"string"},{"id":"31fbc18b-2ddd-40f4-88fa-cbdffb846ac8","name":"email_contact","value":"={{ $json.contacts[0].emails[0].email || ''}}","type":"string"},{"id":"8b4fa5fc-26c0-41dd-bedc-f0ef37319162","name":"phone_contact","value":"={{ $json.contacts[0].phones[0].phone || ''}}","type":"string"}]},"options":{}},"id":"53ba76a8-ca43-4608-9c99-909997f19824","name":"Dados_Contato","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,240]},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $json.token_crm }}"},{"name":"email","value":"={{ $('Edit Fields3').item.json.email }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"7e3b5f34-4bac-405c-90a3-34443f6fd4c0","name":"Busca por Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,320],"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $json.token_crm }}"},{"name":"phone","value":"={{ $('Edit Fields3').item.json.mobile_phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"a287ea9a-dc38-46bf-8421-fa3cd492c8ea","name":"Busca por Phone","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,540],"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["id"],"schema":[{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"token_crm","displayName":"token_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"30a19b01-5f21-4816-b11d-ac6854de1fdf","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[720,0],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres2').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $json[\"rd_deal_id\"] }}\",\n    \"text\": \"Contato encaminhado para AI.\"\n  }\n}","options":{}},"id":"7bf32fe2-ddc1-462a-a9dd-893d03fa705e","name":"CRM NOTE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2460,340]},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $node[\"Postgres1\"].json[\"rd_deal_id\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres2').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c19868d85bd001439c61b"}]},"options":{}},"id":"ed6d6d68-5fee-428c-a304-0db726a56236","name":"Update negociacao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,220],"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"732d3b0d-3c95-4244-9bfb-d0f93b653aa3","options":{}},"id":"46d26b7e-f055-448b-9def-316a22895cad","name":"Webhook FORM","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-780,340],"webhookId":"732d3b0d-3c95-4244-9bfb-d0f93b653aa3"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres2').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact\": {\n    \"emails\": [\n      {\n        \"email\": \"{{ $node[\"Edit Fields3\"].json[\"email\"] }}\"\n      }\n    ],\n    \"phones\": [\n      {\n        \"type\": \"home\",\n        \"phone\": \"{{ $node[\"Edit Fields3\"].json[\"mobile_phone\"] }}\"\n      }\n    ],\n    \"name\": \"{{ $('Edit Fields3').item.json.name }}\"\n  }\n}","options":{}},"id":"5ee367c4-818f-4588-a81c-e7a923989d5e","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,420]},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres2').item.json.token_crm }}"},{"name":"email","value":"={{ $('Edit Fields3').item.json.email }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"830f82cf-8bdd-45e4-a82f-c0b65b38a0a3","name":"Busca por Email1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,420],"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"amount":2},"id":"6d35f847-6f68-4e8c-a09c-a1058d9ad674","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[500,420],"webhookId":"3f2b4919-e966-4d4c-823d-6d0033325e01"},{"parameters":{"method":"POST","url":"https://api.calendly.com/webhook_subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQwODU2NDgwLCJqdGkiOiIxZjdhMGJmMC02YzMxLTQ5NjgtYTVjNS1lODVhYmYxNzk2MzAiLCJ1c2VyX3V1aWQiOiIyYTVmZDVmNi04ZmU5LTQ4MmQtOWU1ZS0xYjdkMDllZmMwNDgifQ.0FCD1VTKFLTSr7XfyKg58qrH8L9lYdqnbOfFpr_awMcSnuYyDcWE6e5_fy3UtXWwvc03fmMQV8op_vQNmM6uLw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"url\": \"https://webhooks.dev.cmos.ai/data/8ff64ffe-9539-4234-a48d-efbf023a75c3\",\n  \"events\": [\n    \"invitee.created\"\n  ],\n  \"user\": \"https://api.calendly.com/users/2a5fd5f6-8fe9-482d-9e5e-1b7d09efc048\",\n  \"organization\":\"https://api.calendly.com/organizations/cc47c4a5-47a4-4390-985c-d4b70551ef9c\",\n  \"scope\": \"user\"\n}","options":{}},"id":"a827357e-d572-497c-8b0a-9ba9cdd26cf9","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-640]},{"parameters":{"assignments":{"assignments":[{"id":"e744ceff-e169-42be-8aff-e56f9e1eee13","name":"lead_email","value":"={{ $('Webhook CLANEDLY').item.json.body.email }}","type":"string"},{"id":"bd5b4d66-151d-4e46-92f0-773f20b81596","name":"lead_name","value":"={{ $('Webhook CLANEDLY').item.json.body.name }}","type":"string"},{"id":"74f3e27f-f718-4617-a42a-c2fd3e463b7f","name":"event_identifier","value":"=calendly.agendou","type":"string"},{"id":"43cfb5fb-e621-4654-b287-4a2de0e45a82","name":"event_type","value":"=calendly.agendou","type":"string"},{"id":"f2bb03ab-ce6c-4700-845d-84c02c4746ce","name":"call_timestamp","value":"={{ $('Webhook CLANEDLY').item.json.body.start_at }}","type":"string"},{"id":"1cd2a8ce-f00f-41a3-b86c-9f01887fe006","name":"lead_phone","value":"={{ $('Webhook CLANEDLY').item.json.body.phone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('+','').replaceAll('-','') }}","type":"string"},{"id":"13816888-e154-41d4-bf32-ed88a2a44632","name":"meet","value":"={{ $json.error.message.split('\"')[2] }}","type":"string"},{"id":"3e982f20-35ad-4c71-a9f9-1e7241454813","name":"uri","value":"={{ $json.error.message.split('\"')[2].split('/')[3].replaceAll('\\\\','') }}","type":"string"}]},"options":{}},"id":"cb333e3e-ab12-4852-876d-f0d44249e91b","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,-480]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"d7ec1214-b421-4f0b-bea4-0eae34920380","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-460,340],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('Edit Fields').item.json.lead_phone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('+','').replaceAll('-','') }}@s.whatsapp.net","rd_contact_id":"={{ $json.lead_id }}","rd_deal_id":"={{ $json.crm_deal_id }}","nome":"={{ $json.lead_name }}","email":"={{ $json.lead_email }}","etapa_crm":"start_crm","inicio_int":"={{ $now }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}]},"options":{}},"id":"ea024a10-cb87-4a05-ba8a-3bdc2d357223","name":"Postgres4","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1420,340],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"url":"https://calendly.com/events/14c0f5b6-4312-4d58-8cf1-d37ee4472dfe/google_meet","options":{"redirect":{"redirect":{"followRedirects":false}}}},"id":"7e3a2fd0-abb7-42f8-bacf-b716e8e51358","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-480],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"returnAll":true,"where":{"values":[{"column":"remoteJid","value":"={{ $json.lead_phone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('+','').replaceAll('-','') }}@s.whatsapp.net"},{"column":"ia_ativa","value":"true"}]},"options":{}},"id":"caa2269e-062a-48cb-a53b-ea6e8250edc9","name":"Postgres - Get user","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1640,-480],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"703fc6b7-f9f1-44fb-aa38-4c3f3fe80517","leftValue":"={{ $json.remoteJid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9c8da115-30e8-482c-af33-613b0ac2b38b","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,-480]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id_googlevent","displayName":"id_googlevent","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"attendees","displayName":"attendees","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"hangoutLink","displayName":"hangoutLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated","displayName":"updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"4c3d45ef-363a-4b73-beb6-96def543b0e8","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2340,-860],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"errorMessage":"Usuario Agendou Pelo Calendly não foi encontrado"},"id":"fef0e32f-25f3-41c3-88ec-29956bfd817f","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2080,-480]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"calendly.agendou\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('Edit Fields1').item.json.lead_phone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('+','').replaceAll('-','') }}@s.whatsapp.net\",\n      \"fromMe\": false,\n      \"id\": \"00000\"\n    },\n    \"pushName\": \"{{ $('Edit Fields1').item.json.lead_name }}\",\n    \"message\": {\n      \"conversation\": \"#CMOS <JUMP STEP, nome:{{ $('Edit Fields1').item.json.lead_name }}, interesse: Head de Marketing, Já agendou um horário pela agenda: {{ $('Edit Fields1').item.json.call_timestamp }}, email: {{ $('Edit Fields1').item.json.lead_email }}, telefone: {{ $('Edit Fields1').item.json.lead_phone }},link:  ,PULE ETAPAS, FAÇA A MENSAGEM DE BOAS VINDAS , AGRADEÇA E FIQUE A DISPOSIÇÃO PARA TIRAR DÚVIDAS, ESSA MENSAGEM É DO SYSTEM>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"@s.whatsapp.net\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"82cf4fc9-1d2f-469f-b4f9-f04e3e1ffb08","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2380,-460]},{"parameters":{"content":"determina qual etapa o followup desse user deve começar "},"id":"6b2af355-3a50-4351-aecb-ac8e225446f5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3000,-1460]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"rmkt_ativado":false,"followup_ativado":true,"remoteJid":"={{ $('Postgres - Get user').item.json.remoteJid }}","ultm_int":"={{ $now.toUTC() }}","etapa_followup":"24h","id_googlevent":"={{ $node[\"Edit Fields4\"].json[\"id_googlevent\"] }}","start_time_googlevent":"={{ $node[\"Postgres5\"].json[\"start_time\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"310eb440-0745-4689-a50c-b847f12ffaee","name":"Postgres6","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3380,-1200],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"rmkt_ativado":false,"followup_ativado":true,"remoteJid":"={{ $('Postgres - Get user').item.json.remoteJid }}","ultm_int":"={{ $now.toUTC() }}","etapa_followup":"2h","id_googlevent":"={{ $node[\"Edit Fields4\"].json[\"id_googlevent\"] }}","start_time_googlevent":"={{ $node[\"Postgres5\"].json[\"start_time\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"57ccc07f-4c60-44ed-af29-d058e1d073ab","name":"Postgres7","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3380,-1020],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"rmkt_ativado":false,"followup_ativado":true,"remoteJid":"={{ $('Postgres - Get user').item.json.remoteJid }}","ultm_int":"={{ $now.toUTC() }}","etapa_followup":"10min","id_googlevent":"={{ $node[\"Edit Fields4\"].json[\"id_googlevent\"] }}","start_time_googlevent":"={{ $node[\"Postgres5\"].json[\"start_time\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"a224c9d6-60e7-4593-8ec6-073ae61bcbe0","name":"Postgres8","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3380,-860],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $node[\"Set21\"].json[\"rd_deal_id\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres15').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c19868d85bd001439c61e"}]},"options":{}},"id":"3c719ed8-12c8-4847-a8d5-2ad48e2da166","name":"Update negociacao1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4100,-1020]},{"parameters":{"assignments":{"assignments":[{"id":"5714359c-6b9d-410d-80da-c37c29ed3354","name":"id_googlevent","value":"={{ $('Edit Fields1').item.json.uri }}","type":"string"},{"id":"b20d8ac2-cf70-48fd-b086-67daaa0b5ac5","name":"start_time","value":"={{ $('Edit Fields1').item.json.call_timestamp }}","type":"string"},{"id":"6d9b5425-76fd-4668-86dc-92ea1584f0c3","name":"end_time","value":"={{ $('Edit Fields1').item.json.call_timestamp.toDateTime().plus(1, 'hours').toString() }}","type":"string"},{"id":"1e71f2b8-7180-41f5-a49b-d9bf48e5dacb","name":"summary","value":"={{ $('Webhook CLANEDLY').item.json.body.event_type }}","type":"string"},{"id":"dfc2ae4b-0b86-44ca-8a32-a8c3cf621742","name":"description","value":"=calendly","type":"string"},{"id":"0a5fb857-6cbd-44c9-9456-9ec8f96edd6d","name":"hangoutLink","value":"={{ $('Edit Fields1').item.json.meet }}","type":"string"},{"id":"979e33b7-effb-46f6-a0fc-e005d7c19e64","name":"status","value":"Agendado","type":"string"},{"id":"d02afb93-0bc4-48b2-8ab6-670fdc89cae6","name":"remotejid","value":"={{ $json.remoteJid }}","type":"string"}]},"options":{}},"id":"0eb79d3a-0f9c-4a76-b26c-feb5276589f7","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2140,-860]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"calendly.agendou\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $node[\"Edit Fields4\"].json[\"remotejid\"] }}\",\n      \"fromMe\": false,\n      \"id\": \"00000\"\n    },\n    \"pushName\": \"{{ $('Postgres - Get user').item.json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#CMOS <JUMP STEP, nome:{{ $('Postgres - Get user').item.json.nome }}, interesse: Head de Marketing, Já agendou um horário pela agenda: {{ $('Edit Fields4').item.json.start_time }}, PULE PARA A ETAPA DE AGRADECIMENTO , INFORME QUE VIU NO SISTEMA QUE O USER FEZ UM AGENDAMENTO E FIQUE A DISPOSIÇÃO PARA TIRAR DÚVIDAS, ESSA MENSAGEM É DO SYSTEM>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $json.number }}@s.whatsapp.net\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"e1cf7db2-579f-4671-86c3-43ffc082e85e","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,-860]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ ($node[\"Edit Fields4\"].json[\"start_time\"].toDateTime().toUTC()) - ($now.minus(3,'hours').toUTC()) >= 86400000 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"24h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50dd30df-e987-47de-8f48-a1f7e647b58c","leftValue":"={{ ($node[\"Edit Fields4\"].json[\"start_time\"].toDateTime().toUTC()) - ($now.minus(3,'hours').toUTC()) >= 7200000 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"2h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e6f52e4-70c3-4ebb-9b86-a1a135d2a681","leftValue":"={{ ($node[\"Edit Fields4\"].json[\"start_time\"].toDateTime().toUTC()) - ($now.minus(3,'hours').toUTC()) >= 600000 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"10min"}]},"options":{}},"id":"bf5eb118-2da3-4c88-8f2f-6247adb7d50b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2840,-1020]},{"parameters":{"assignments":{"assignments":[{"id":"329467aa-9050-494d-adff-cf35643ef3d6","name":"rd_deal_id","value":"={{ $json.rd_deal_id }}","type":"string"}]},"options":{}},"id":"8d109f70-61f6-416b-b009-235af5836308","name":"Set21","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3680,-1020]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"50392ecc-cdd4-485d-840c-bb4fa4935e10","name":"Postgres15","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3900,-1020],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"8ff64ffe-9539-4234-a48d-efbf023a75c3","options":{}},"id":"5813b0f2-4b4c-42d4-b9d2-de9953b3e196","name":"Webhook CLANEDLY","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[300,-480],"webhookId":"8ff64ffe-9539-4234-a48d-efbf023a75c3"},{"parameters":{"amount":3,"unit":"minutes"},"id":"d4a1cb55-a9ee-4435-a49d-2b585da4158f","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[520,-480],"webhookId":"011ee9c1-28c2-49ab-afa1-53cb499f2538"}],"connections":{"Edit Fields":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Validar Telefone","type":"main","index":0}]]},"Validar Telefone":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"CRM NOTE","type":"main","index":0}]]},"Criando negociacao":{"main":[[{"node":"Atualiza Contato","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Busca por Email","type":"main","index":0}],[{"node":"Busca por Phone","type":"main","index":0}]]},"If2":{"main":[[{"node":"Dados_Contato","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}]]},"Dados_Contato":{"main":[[{"node":"Criando negociacao","type":"main","index":0}]]},"Busca por Email":{"main":[[{"node":"If2","type":"main","index":0}]]},"Busca por Phone":{"main":[[{"node":"If2","type":"main","index":0}]]},"Atualiza Contato":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Webhook FORM":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Busca por Email1","type":"main","index":0}]]},"Busca por Email1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Postgres - Get user","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"If1","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Postgres - Get user":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Postgres5":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Postgres6":{"main":[[{"node":"Set21","type":"main","index":0}]]},"Postgres7":{"main":[[{"node":"Set21","type":"main","index":0}]]},"Postgres8":{"main":[[{"node":"Set21","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Postgres5","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Postgres6","type":"main","index":0}],[{"node":"Postgres7","type":"main","index":0}],[{"node":"Postgres8","type":"main","index":0}]]},"Set21":{"main":[[{"node":"Postgres15","type":"main","index":0}]]},"Postgres15":{"main":[[{"node":"Update negociacao1","type":"main","index":0}]]},"Webhook CLANEDLY":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook FORM":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"Typhoeus - https://github.com/typhoeus/typhoeus","content-length":"6704","accept":"*/*","content-type":"application/json","timeout":"10","x-b3-sampled":"0","x-b3-spanid":"0b4c983ee6ca8789","x-b3-traceid":"00000000000000002beb9eef495c10ca","x-datadog-parent-id":"814193028574644105","x-datadog-sampling-priority":"0","x-datadog-trace-id":"3164797913723048138","x-forwarded-for":"34.136.72.72","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"195345ad3e12","x-real-ip":"34.136.72.72","accept-encoding":"gzip"},"params":{},"query":{},"body":{"leads":[{"id":"4123694031","email":"pedroscardua210@gmail.com","name":"Pedro","company":null,"job_title":null,"bio":null,"public_url":"http://app.rdstation.com.br/leads/public/8d7435b7-05f0-435a-b92d-b6fb31980043","created_at":"2025-02-28T18:39:35.000-03:00","opportunity":"false","number_conversions":"1","user":null,"first_conversion":{"content":{"event_type":"CONVERSION","event_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","identificador":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","event_timestamp":"2025-02-28T21:39:35Z","created_at":"2025-02-28T21:39:35Z","conversion_url":"https://thecmosmarketers.digital/formacao-head-de-marketing-3-1/","conversion_domain":"thecmosmarketers.digital","conversion_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","traffic_source":"encoded_eyJmaXJzdF9zZXNzaW9uIjp7InZhbHVlIjoiKG5vbmUpIiwiZXh0cmFfcGFyYW1zIjp7fX0sImN1cnJlbnRfc2Vzc2lvbiI6eyJ2YWx1ZSI6Iihub25lKSIsImV4dHJhX3BhcmFtcyI6e319LCJjcmVhdGVkX2F0IjoxNzQwNzc4Njg5NjI5fQ==","email_lead":"pedroscardua210@gmail.com","#[F] Qual é o seu cargo atual (ou o último que exerceu)?":"Gerente de Marketing","Quantas pessoas você lidera atualmente?":"Até 3 pessoas","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.4.1 Safari/605.1.15","device":"desktop","asset_id":7645239,"conversion_payload":"{\"redirect_to\":\"https://conteudo.thecmosmarketers.digital/aplicacao-enviada-fhm20\"}","__cdp__original_event":{"event_batch_uuid":"40e558cf-2ebc-44da-9c90-05c19ae5013e","event_batch_index":0,"event_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","event_uuid":"d14f0d94-cfd6-4d35-bc44-1114e61cdf3c","event_family":"CDP","event_type":"CONVERSION","payload":{"client_tracking_id":"df9a02e2-db28-423e-a023-571da168c789","conversion_url":"https://thecmosmarketers.digital/formacao-head-de-marketing-3-1/","conversion_domain":"thecmosmarketers.digital","conversion_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","internal_source":"6","c_utmz":"","traffic_source":"encoded_eyJmaXJzdF9zZXNzaW9uIjp7InZhbHVlIjoiKG5vbmUpIiwiZXh0cmFfcGFyYW1zIjp7fX0sImN1cnJlbnRfc2Vzc2lvbiI6eyJ2YWx1ZSI6Iihub25lKSIsImV4dHJhX3BhcmFtcyI6e319LCJjcmVhdGVkX2F0IjoxNzQwNzc4Njg5NjI5fQ==","privacy_data":{"browser":"","consent":"1","consent_privacy_policy":"1"},"name":"Pedro","email":"pedroscardua210@gmail.com","mobile_phone":"+55 (11) 99200-2723","cf_qual_e_o_seu_cargo":"Gerente de Marketing","cf_quantas_pessoas_voce_lidera_atualmente":"Até 3 pessoas","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.4.1 Safari/605.1.15","device":"desktop","asset_id":7645239,"conversion_payload":"{\"redirect_to\":\"https://conteudo.thecmosmarketers.digital/aplicacao-enviada-fhm20\"}"},"event_timestamp":"2025-02-28T21:39:35Z"},"Nome":"Pedro","Celular":"+55 (11) 99200-2723","UF":null},"created_at":"2025-02-28T18:39:35.000-03:00","cumulative_sum":"1","source":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","conversion_origin":{"source":"(direct)","medium":"(none)","value":null,"campaign":"(direct)","channel":"Direct"}},"last_conversion":{"content":{"event_type":"CONVERSION","event_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","identificador":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","event_timestamp":"2025-02-28T21:39:35Z","created_at":"2025-02-28T21:39:35Z","conversion_url":"https://thecmosmarketers.digital/formacao-head-de-marketing-3-1/","conversion_domain":"thecmosmarketers.digital","conversion_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","traffic_source":"encoded_eyJmaXJzdF9zZXNzaW9uIjp7InZhbHVlIjoiKG5vbmUpIiwiZXh0cmFfcGFyYW1zIjp7fX0sImN1cnJlbnRfc2Vzc2lvbiI6eyJ2YWx1ZSI6Iihub25lKSIsImV4dHJhX3BhcmFtcyI6e319LCJjcmVhdGVkX2F0IjoxNzQwNzc4Njg5NjI5fQ==","email_lead":"pedroscardua210@gmail.com","#[F] Qual é o seu cargo atual (ou o último que exerceu)?":"Gerente de Marketing","Quantas pessoas você lidera atualmente?":"Até 3 pessoas","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.4.1 Safari/605.1.15","device":"desktop","asset_id":7645239,"conversion_payload":"{\"redirect_to\":\"https://conteudo.thecmosmarketers.digital/aplicacao-enviada-fhm20\"}","__cdp__original_event":{"event_batch_uuid":"40e558cf-2ebc-44da-9c90-05c19ae5013e","event_batch_index":0,"event_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","event_uuid":"d14f0d94-cfd6-4d35-bc44-1114e61cdf3c","event_family":"CDP","event_type":"CONVERSION","payload":{"client_tracking_id":"df9a02e2-db28-423e-a023-571da168c789","conversion_url":"https://thecmosmarketers.digital/formacao-head-de-marketing-3-1/","conversion_domain":"thecmosmarketers.digital","conversion_identifier":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","internal_source":"6","c_utmz":"","traffic_source":"encoded_eyJmaXJzdF9zZXNzaW9uIjp7InZhbHVlIjoiKG5vbmUpIiwiZXh0cmFfcGFyYW1zIjp7fX0sImN1cnJlbnRfc2Vzc2lvbiI6eyJ2YWx1ZSI6Iihub25lKSIsImV4dHJhX3BhcmFtcyI6e319LCJjcmVhdGVkX2F0IjoxNzQwNzc4Njg5NjI5fQ==","privacy_data":{"browser":"","consent":"1","consent_privacy_policy":"1"},"name":"Pedro","email":"pedroscardua210@gmail.com","mobile_phone":"+55 (11) 99200-2723","cf_qual_e_o_seu_cargo":"Gerente de Marketing","cf_quantas_pessoas_voce_lidera_atualmente":"Até 3 pessoas","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.4.1 Safari/605.1.15","device":"desktop","asset_id":7645239,"conversion_payload":"{\"redirect_to\":\"https://conteudo.thecmosmarketers.digital/aplicacao-enviada-fhm20\"}"},"event_timestamp":"2025-02-28T21:39:35Z"},"Nome":"Pedro","Celular":"+55 (11) 99200-2723","UF":null},"created_at":"2025-02-28T18:39:35.000-03:00","cumulative_sum":"1","source":"inscricao-lp-formacao-head-de-marketing-2-0-turma-4-versao-2-teste-sdr","conversion_origin":{"source":"(direct)","medium":"(none)","value":null,"campaign":"(direct)","channel":"Direct"}},"custom_fields":{"#[F] Qual é o seu cargo atual (ou o último que exerceu)?":"Gerente de Marketing","Quantas pessoas você lidera atualmente?":"Até 3 pessoas"},"website":null,"personal_phone":null,"mobile_phone":"+55 (11) 99200-2723","city":null,"state":null,"tags":["#lq"],"lead_stage":"Lead Qualificado","last_marked_opportunity_date":null,"uuid":"8d7435b7-05f0-435a-b92d-b6fb31980043","fit_score":"d","interest":0}]},"webhookUrl":"https://webhooks.dev.cmos.ai/data/732d3b0d-3c95-4244-9bfb-d0f93b653aa3","executionMode":"production"}}],"Webhook CLANEDLY":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"Zapier","content-length":"160","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","traceparent":"00-0000000000000000e26a81ac9649543a-189263d2441e0350-00","tracestate":"dd=s:0;t.dm:-0","x-datadog-parent-id":"1770587358247125840","x-datadog-sampling-priority":"0","x-datadog-tags":"_dd.p.dm=-0","x-datadog-trace-id":"16314995178358789178","x-forwarded-for":"52.1.205.184","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"195345ad3e12","x-real-ip":"52.1.205.184"},"params":{},"query":{},"body":{"name":"Pedro","email":"asdad@gmai.com","phone":"+55 27 99316-0804","event_type":"Reúna-se com um representante","start_at":"2025-03-05T12:00:00.000000Z"},"webhookUrl":"https://webhooks.dev.cmos.ai/data/8ff64ffe-9539-4234-a48d-efbf023a75c3","executionMode":"production"}}]},"versionId":"cc7c63ed-0fe8-445f-b6c9-c0e88328e831","triggerCount":2,"tags":[]}