[audracs][ai][tool]agenda-reunião-ai-tfwdk4AWbYSMO1kg.json
{"createdAt":"2025-01-06T21:59:16.103Z","updatedAt":"2025-10-01T03:17:48.400Z","id":"tfwdk4AWbYSMO1kg","name":"[AUDRACS][AI][TOOL]AGENDA REUNIÃO AI","active":false,"nodes":[{"parameters":{"calendar":{"__rl":true,"value":"walleska@thecmosmarketers.digital","mode":"list","cachedResultName":"walleska@thecmosmarketers.digital"},"start":"={{ $json.schedule }}","end":"={{ $json.schedule_end }}","additionalFields":{"attendees":["={{ $json.email }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $json.description }}","guestsCanInviteOthers":true,"guestsCanModify":true,"guestsCanSeeOtherGuests":true,"sendUpdates":"all","summary":"={{ $json.summary }}"}},"id":"e2311973-b7c5-4e42-9bf3-d891a1a6c129","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[1060,140],"credentials":{"googleCalendarOAuth2Api":{"id":"BCbKHCt6JdITyd3w","name":"Google Calendar Waleska"}}},{"parameters":{"assignments":{"assignments":[{"id":"67f2c994-115f-4a66-ade5-28efd7bf13b8","name":"action","value":"={{ $json.body.action }}","type":"string"},{"id":"1dba77ae-ede7-4963-badc-9f77143a5c91","name":"remotejid","value":"={{ $json.body.remotejid }}","type":"string"},{"id":"0c0bb7d5-cf25-4087-b53f-170dffc1b678","name":"job_name","value":"={{ $json.body.job_name }}","type":"string"},{"id":"36572d6b-9fc9-4cff-8ed9-88f23f911f45","name":"schedule","value":"={{ $json.body.schedule.toDateTime() }}","type":"string"},{"id":"01caa203-fd9b-4b84-949e-580e38ebbe31","name":"schedule_end","value":"={{ $json.body.schedule.toDateTime().plus(40, 'minute') }}","type":"string"},{"id":"8c4173aa-433a-465f-bef4-9fff3d911ffd","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"b4d63b60-31d9-4460-bbed-e4e466f05626","name":"summary","value":"={{ $json.body.name }} e The CMOs (Walleska)","type":"string"},{"id":"2d8e16ad-4b00-4539-bfb3-ab7f75fe9e8a","name":"description","value":"=Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/{{ $json.body.remotejid.split('@')[0] }}\n\nResumo: \n\n{{ $json.body.observacao }}","type":"string"}]},"options":{}},"id":"f6b76b9a-17ff-4ad3-85e5-db50bd5da2c4","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,140]},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"julianapereira@thecmosmarketers.digital","mode":"list","cachedResultName":"julianapereira@thecmosmarketers.digital"},"eventId":"l4hrt5jfvv05lcinau3t1nl4o4","options":{}},"id":"4467899d-0052-4480-9b91-973b14704308","name":"Calendar Deletar evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[1220,-120],"credentials":{"googleCalendarOAuth2Api":{"id":"XlfltNJV8P2MZQsk","name":"cmos juliana"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"walleska@thecmosmarketers.digital","mode":"list","cachedResultName":"walleska@thecmosmarketers.digital"},"eventId":"={{ $json.id.replaceAll('.','') }}","options":{}},"id":"ae611c6b-56e6-47d7-8b0d-bedc08d61f8e","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[960,520],"credentials":{"googleCalendarOAuth2Api":{"id":"BCbKHCt6JdITyd3w","name":"Google Calendar Waleska"}}},{"parameters":{"assignments":{"assignments":[{"id":"4147bccf-5df0-486a-a17f-91235df8d988","name":"id","value":"={{ $json.query.id }}","type":"string"}]},"options":{}},"id":"68280f6d-4259-4c97-901a-986f11eb0254","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,520]},{"parameters":{"options":{"responseCode":200}},"id":"81f833a2-5a5d-46cd-9837-a2ebd00c143e","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2240,580]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id_googlevent","displayName":"id_googlevent","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"attendees","displayName":"attendees","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"hangoutLink","displayName":"hangoutLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated","displayName":"updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"6f60f86f-e1db-4840-9e35-9a2dce973cb4","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1460,140],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"5714359c-6b9d-410d-80da-c37c29ed3354","name":"id_googlevent","value":"={{ $json.id }}","type":"string"},{"id":"b20d8ac2-cf70-48fd-b086-67daaa0b5ac5","name":"start_time","value":"={{ $json.start.dateTime }}","type":"string"},{"id":"6d9b5425-76fd-4668-86dc-92ea1584f0c3","name":"end_time","value":"={{ $json.end.dateTime }}","type":"string"},{"id":"1e71f2b8-7180-41f5-a49b-d9bf48e5dacb","name":"summary","value":"={{ $json.summary }}","type":"string"},{"id":"dfc2ae4b-0b86-44ca-8a32-a8c3cf621742","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"0b2216ce-1bca-40ce-9a06-049c4a5d5453","name":"attendees","value":"={{ $json.attendees }}","type":"array"},{"id":"0a5fb857-6cbd-44c9-9456-9ec8f96edd6d","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"979e33b7-effb-46f6-a0fc-e005d7c19e64","name":"status","value":"Agendado","type":"string"},{"id":"d02afb93-0bc4-48b2-8ab6-670fdc89cae6","name":"remotejid","value":"={{ $node[\"Edit Fields\"].json[\"remotejid\"] }}","type":"string"}]},"options":{}},"id":"879d8df2-d558-4870-956b-63fd3c79b46e","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,140]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"limit":1,"where":{"values":[{"column":"id_googlevent","value":"={{ $json.id_googlevent }}"}]},"options":{}},"id":"783ddd11-42bb-48b2-999b-a0ecbea59e40","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1560,520],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e99581d-cfc7-469a-a2aa-9813e10ec116","leftValue":"={{ $json.status }}","rightValue":"Cancelado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"7ec4cdb1-bd44-4968-bca0-053bd32d307b","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1720,520]},{"parameters":{"respondWith":"noData","options":{"responseCode":400}},"id":"6e46f56d-32e9-4c15-9938-358e4548ac65","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2240,420]},{"parameters":{"path":"/see/event","responseMode":"responseNode","options":{}},"id":"177b8316-1ed1-4ed4-9b8b-d1860ea407f0","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[600,520],"webhookId":"0ceda276-fc11-4682-9693-4e6f53286337"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id_googlevent"],"schema":[{"id":"id_googlevent","displayName":"id_googlevent","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"attendees","displayName":"attendees","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"hangoutLink","displayName":"hangoutLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"a8e2844b-6618-484e-92dd-92756572d59b","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1400,520],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"5714359c-6b9d-410d-80da-c37c29ed3354","name":"id_googlevent","value":"={{ $json.id }}","type":"string"},{"id":"b20d8ac2-cf70-48fd-b086-67daaa0b5ac5","name":"start_time","value":"={{ $json.start.dateTime }}","type":"string"},{"id":"6d9b5425-76fd-4668-86dc-92ea1584f0c3","name":"end_time","value":"={{ $json.end.dateTime }}","type":"string"},{"id":"1e71f2b8-7180-41f5-a49b-d9bf48e5dacb","name":"summary","value":"={{ $json.summary }}","type":"string"},{"id":"dfc2ae4b-0b86-44ca-8a32-a8c3cf621742","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"0b2216ce-1bca-40ce-9a06-049c4a5d5453","name":"attendees","value":"={{ $json.attendees }}","type":"array"},{"id":"0a5fb857-6cbd-44c9-9456-9ec8f96edd6d","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"13a8bca6-f73c-4970-aa64-c4f0e8b575ca","name":"updated","value":"={{ $json.updated }}","type":"string"}]},"options":{}},"id":"1ad282bf-1f80-451f-8857-13e249e1b13a","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,520]},{"parameters":{"assignments":{"assignments":[{"id":"5714359c-6b9d-410d-80da-c37c29ed3354","name":"id_googlevent","value":"={{ $json.id }}","type":"string"},{"id":"b20d8ac2-cf70-48fd-b086-67daaa0b5ac5","name":"start_time","value":"={{ $json.start.dateTime }}","type":"string"},{"id":"6d9b5425-76fd-4668-86dc-92ea1584f0c3","name":"end_time","value":"={{ $json.end.dateTime }}","type":"string"},{"id":"1e71f2b8-7180-41f5-a49b-d9bf48e5dacb","name":"summary","value":"={{ $json.summary }}","type":"string"},{"id":"dfc2ae4b-0b86-44ca-8a32-a8c3cf621742","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"0b2216ce-1bca-40ce-9a06-049c4a5d5453","name":"attendees","value":"={{ $json.attendees }}","type":"array"},{"id":"0a5fb857-6cbd-44c9-9456-9ec8f96edd6d","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"979e33b7-effb-46f6-a0fc-e005d7c19e64","name":"status","value":"Cancelado","type":"string"},{"id":"13a8bca6-f73c-4970-aa64-c4f0e8b575ca","name":"updated","value":"={{ $json.updated }}","type":"string"}]},"options":{}},"id":"d6fe9cef-f09e-4d1b-9933-30240a7c8dee","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,680]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1bf04d9-dfee-4a1a-8c3d-db211255424b","leftValue":"={{ $json.status }}","rightValue":"cancelled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"449a3f0a-8c74-474e-8173-cfb067f19b17","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,720]},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"walleska@thecmosmarketers.digital","mode":"list","cachedResultName":"walleska@thecmosmarketers.digital"},"eventId":"={{ $json.id }}","options":{}},"id":"de715d13-0563-4f99-bc77-4a8dd53c8c3b","name":"Google Calendar2","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[760,1080],"credentials":{"googleCalendarOAuth2Api":{"id":"BCbKHCt6JdITyd3w","name":"Google Calendar Waleska"}}},{"parameters":{"assignments":{"assignments":[{"id":"4147bccf-5df0-486a-a17f-91235df8d988","name":"id","value":"={{ $json.query.id }}","type":"string"},{"id":"5a8db8c4-c917-46c5-898a-613b53b991fa","name":"status","value":"={{ $json.query.status }}","type":"string"}]},"options":{}},"id":"dcdd8abd-1a54-4450-ba29-5dec63c6eb68","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,1080]},{"parameters":{"options":{"responseCode":200}},"id":"3ed5f8ec-8b77-452b-bc93-0d2217a715c3","name":"Respond to Webhook2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2260,1100]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"limit":1,"where":{"values":[{"column":"id_googlevent","value":"={{ $json.id_googlevent }}"}]},"options":{}},"id":"a91bd490-2293-4de5-8113-a7325bc7f08d","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1580,1040],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e99581d-cfc7-469a-a2aa-9813e10ec116","leftValue":"={{ $json.status }}","rightValue":"Cancelado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"9e0b49e3-b8dd-45a5-b79c-99f60c63ada4","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1740,1040]},{"parameters":{"respondWith":"noData","options":{"responseCode":400}},"id":"603befb0-f297-48df-a3c5-9162e01b98d0","name":"Respond to Webhook3","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2260,940]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id_googlevent"],"schema":[{"id":"id_googlevent","displayName":"id_googlevent","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"attendees","displayName":"attendees","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"hangoutLink","displayName":"hangoutLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"76a67e5e-d828-4e04-a101-e963cb3548e5","name":"Postgres4","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1420,1040],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"5714359c-6b9d-410d-80da-c37c29ed3354","name":"id_googlevent","value":"={{ $json.id }}","type":"string"},{"id":"b20d8ac2-cf70-48fd-b086-67daaa0b5ac5","name":"start_time","value":"={{ $json.start.dateTime }}","type":"string"},{"id":"6d9b5425-76fd-4668-86dc-92ea1584f0c3","name":"end_time","value":"={{ $json.end.dateTime }}","type":"string"},{"id":"1e71f2b8-7180-41f5-a49b-d9bf48e5dacb","name":"summary","value":"={{ $json.summary }}","type":"string"},{"id":"dfc2ae4b-0b86-44ca-8a32-a8c3cf621742","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"0b2216ce-1bca-40ce-9a06-049c4a5d5453","name":"attendees","value":"={{ $json.attendees }}","type":"array"},{"id":"0a5fb857-6cbd-44c9-9456-9ec8f96edd6d","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"13a8bca6-f73c-4970-aa64-c4f0e8b575ca","name":"updated","value":"={{ $json.updated }}","type":"string"},{"id":"924939c4-ad8a-472b-a38a-de5e54875061","name":"status","value":"={{ $node[\"Edit Fields3\"].json[\"status\"] }}","type":"string"}]},"options":{}},"id":"dff27312-0de4-4bc7-aded-dd4e5a658d63","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,1040]},{"parameters":{"assignments":{"assignments":[{"id":"5714359c-6b9d-410d-80da-c37c29ed3354","name":"id_googlevent","value":"={{ $json.id }}","type":"string"},{"id":"b20d8ac2-cf70-48fd-b086-67daaa0b5ac5","name":"start_time","value":"={{ $json.start.dateTime }}","type":"string"},{"id":"6d9b5425-76fd-4668-86dc-92ea1584f0c3","name":"end_time","value":"={{ $json.end.dateTime }}","type":"string"},{"id":"1e71f2b8-7180-41f5-a49b-d9bf48e5dacb","name":"summary","value":"={{ $json.summary }}","type":"string"},{"id":"dfc2ae4b-0b86-44ca-8a32-a8c3cf621742","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"0b2216ce-1bca-40ce-9a06-049c4a5d5453","name":"attendees","value":"={{ $json.attendees }}","type":"array"},{"id":"0a5fb857-6cbd-44c9-9456-9ec8f96edd6d","name":"hangoutLink","value":"={{ $json.hangoutLink }}","type":"string"},{"id":"979e33b7-effb-46f6-a0fc-e005d7c19e64","name":"status","value":"Cancelado","type":"string"},{"id":"13a8bca6-f73c-4970-aa64-c4f0e8b575ca","name":"updated","value":"={{ $json.updated }}","type":"string"}]},"options":{}},"id":"47a85f35-0b0f-4474-9232-b0857fd51e82","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,860]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1bf04d9-dfee-4a1a-8c3d-db211255424b","leftValue":"={{ $json.status }}","rightValue":"cancelled","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"b37febb3-9704-455d-90d6-b480b5e7223e","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,1080]},{"parameters":{"httpMethod":"POST","path":"/see/update_event","responseMode":"responseNode","options":{}},"id":"aa771972-bf6a-4925-8eef-aaabbfec7181","name":"Webhook2","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[400,1080],"webhookId":"0ceda276-fc11-4682-9693-4e6f53286337"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"walleska@thecmosmarketers.digital","mode":"list","cachedResultName":"walleska@thecmosmarketers.digital"},"eventId":"={{ $json.id }}","updateFields":{"summary":"=[{{ $node[\"Edit Fields3\"].json[\"status\"] }}] {{ $json.summary.split(']')[1] || $json.summary}}"}},"id":"8f0c29b3-a7cc-4ec2-9dbd-e8c055e245a0","name":"Google Calendar3","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[1040,1180],"credentials":{"googleCalendarOAuth2Api":{"id":"BCbKHCt6JdITyd3w","name":"Google Calendar Waleska"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"julianapereira@thecmosmarketers.digital","mode":"list","cachedResultName":"julianapereira@thecmosmarketers.digital"},"eventId":"=6f57at4of24885gg0ud8icdva8","updateFields":{"summary":"=Pedro Scardua e The CMOs (Juliana Pereira)"}},"id":"21b9d52d-2bf9-43bc-864c-a1342fcfa7f9","name":"Google Calendar4","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[1420,1360],"credentials":{"googleCalendarOAuth2Api":{"id":"XlfltNJV8P2MZQsk","name":"cmos juliana"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"details\": \"Informe para o Usuário que pode confirmar ou recusar esse agendamente através do link: https://reuniao.thecmosmarketers.digital/cmo/{{ $json[\"id_googlevent\"] }}\"\n}","options":{}},"id":"4064ad03-8eb8-4afb-940c-fb09cfe8801c","name":"Respond to Webhook4","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1680,140]},{"parameters":{"httpMethod":"POST","path":"0ceda276-fc11-4682-9693-4e6f53286337","responseMode":"responseNode","options":{}},"id":"5f39a271-6ca0-4333-ad3c-85751e36fb57","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[600,140],"webhookId":"0ceda276-fc11-4682-9693-4e6f53286337"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"rmkt_ativado":false,"followup_ativado":true,"remoteJid":"={{ $node[\"Edit Fields\"].json[\"remotejid\"] }}","ultm_int":"={{ $now.toUTC() }}","etapa_followup":"24h","id_googlevent":"={{ $node[\"Edit Fields2\"].json[\"id_googlevent\"] }}","start_time_googlevent":"={{ $node[\"Postgres\"].json[\"start_time\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"a77383fd-17cc-49fd-a32f-449ee703019b","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2500,-160],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"content":"determina qual etapa o followup desse user deve começar "},"id":"489faa96-ef26-45ca-b954-0054ca43342a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2000,-120]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"rmkt_ativado":false,"followup_ativado":true,"remoteJid":"={{ $node[\"Edit Fields\"].json[\"remotejid\"] }}","ultm_int":"={{ $now.toUTC() }}","etapa_followup":"2h","id_googlevent":"={{ $node[\"Edit Fields2\"].json[\"id_googlevent\"] }}","start_time_googlevent":"={{ $node[\"Postgres\"].json[\"start_time\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"72f6ac1c-381a-4a1e-baf8-647457d376e0","name":"Postgres6","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2500,0],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"rmkt_ativado":false,"followup_ativado":true,"remoteJid":"={{ $node[\"Edit Fields\"].json[\"remotejid\"] }}","ultm_int":"={{ $now.toUTC() }}","etapa_followup":"10min","id_googlevent":"={{ $node[\"Edit Fields2\"].json[\"id_googlevent\"] }}","start_time_googlevent":"={{ $node[\"Postgres\"].json[\"start_time\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"456fa2c2-1b15-4bb6-b80f-226d86e9900c","name":"Postgres7","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2500,160],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $node[\"Set21\"].json[\"rd_deal_id\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres15').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c19868d85bd001439c61e"}]},"options":{}},"id":"873f24b0-568e-4de0-9dbd-a0ade530b392","name":"Update negociacao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3180,0]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"fd166447-4620-4087-80a3-213c721685ad","name":"Postgres15","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2980,0],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"329467aa-9050-494d-adff-cf35643ef3d6","name":"rd_deal_id","value":"={{ $json.rd_deal_id }}","type":"string"}]},"options":{}},"id":"9475cbb6-2664-4461-9d3c-a00f589cb9f6","name":"Set21","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2760,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ ($json.start_time.toDateTime().toUTC()) - ($now.minus(3,'hours').toUTC()) >= 86400000 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"24h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50dd30df-e987-47de-8f48-a1f7e647b58c","leftValue":"={{ ($json.start_time.toDateTime().toUTC()) - ($now.minus(3,'hours').toUTC()) >= 7200000 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"2h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e6f52e4-70c3-4ebb-9b86-a1a135d2a681","leftValue":"={{ ($json.start_time.toDateTime().toUTC()) - ($now.minus(3,'hours').toUTC()) >= 600000 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"10min"}]},"options":{}},"id":"58760389-443c-4e04-aa08-a4ee459cb2be","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1920,140]},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres15').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $node[\"Set21\"].json[\"rd_deal_id\"] }}\",\n    \"text\": \"Agendou uma reunião.\"\n  }\n}","options":{}},"id":"e77db916-de08-42d8-b4e5-2565e87667c8","name":"CRM NOTE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3180,-180]}],"connections":{"Edit Fields":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Google Calendar2":{"main":[[{"node":"If3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Google Calendar2","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Google Calendar3","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Respond to Webhook4":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Postgres5":{"main":[[{"node":"Set21","type":"main","index":0}]]},"Postgres6":{"main":[[{"node":"Set21","type":"main","index":0}]]},"Postgres7":{"main":[[{"node":"Set21","type":"main","index":0}]]},"Postgres15":{"main":[[{"node":"Update negociacao","type":"main","index":0},{"node":"CRM NOTE","type":"main","index":0}]]},"Set21":{"main":[[{"node":"Postgres15","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Postgres5","type":"main","index":0}],[{"node":"Postgres6","type":"main","index":0}],[{"node":"Postgres7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook2":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36","content-length":"2","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9","content-type":"application/json; charset=utf-8","origin":"http://localhost:59141","priority":"u=1, i","referer":"http://localhost:59141/","sec-ch-ua":"\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"177.161.185.248","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c6078aa02f74","x-real-ip":"177.161.185.248"},"params":{},"query":{"id":"6f57at4of24885gg0ud8icdva8","status":"Confirmado"},"body":{},"webhookUrl":"https://webhooks.dev.cmos.ai/data/see/update_event","executionMode":"production"}}],"Webhook1":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 18_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.1 Mobile/15E148 Safari/604.1","accept":"*/*","accept-encoding":"gzip, deflate, br","accept-language":"pt-BR,pt;q=0.9","origin":"https://cmos.audracs.com.br","priority":"u=3, i","referer":"https://cmos.audracs.com.br/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"177.161.185.248","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c6078aa02f74","x-real-ip":"177.161.185.248"},"params":{},"query":{"id":"opapqvgrb7cq2dkqvcblu3gb44."},"body":{},"webhookUrl":"https://webhooks.dev.cmos.ai/data/see/event","executionMode":"production"}}],"Postgres6":[{"json":{"remoteJid":"5527993160804@s.whatsapp.net","nome":"Carlos 300125","inicio_int":null,"ultm_int":"2025-02-02T21:02:20.710Z","ia_ativa":true,"qtd_interacoes":30,"rmkt_ativado":false,"etapa_rmkt":null,"fluxo":"cmos","rd_contact_id":"679c2c6751b9e9000113c6d3","rd_deal_id":"679c5453f824d654975822e7","email":"carlos300125@gmail.com","etapa_crm":"Empty","followup_ativado":true,"etapa_followup":"determinar"}}],"Postgres7":[{"json":{"remoteJid":"5527993160804@s.whatsapp.net","nome":"Carlos 300125","inicio_int":null,"ultm_int":"2025-02-02T21:02:20.710Z","ia_ativa":true,"qtd_interacoes":30,"rmkt_ativado":false,"etapa_rmkt":null,"fluxo":"cmos","rd_contact_id":"679c2c6751b9e9000113c6d3","rd_deal_id":"679c5453f824d654975822e7","email":"carlos300125@gmail.com","etapa_crm":"Empty","followup_ativado":true,"etapa_followup":"determinar"}}],"Webhook":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"axios/1.7.4","content-length":"540","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"35.173.90.103","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"195345ad3e12","x-real-ip":"35.173.90.103"},"params":{},"query":{},"body":{"action":"agendar_reuniao","remotejid":"554797303988@s.whatsapp.net","job_name":"Reunião Formação Head de Marketing 2.0","schedule":"2025-03-06T13:00:00-03:00","email":"franciellehanck@gmail.com","name":"Francielle Camelo","observacao":"Francielle lidera uma equipe de 4 a 7 pessoas e está interessada na formação Head de Marketing 2.0 para aprimorar suas habilidades de liderança e gestão estratégica. Ela começou recentemente em uma nova posição de liderança, mas já possui experiência anterior liderando outras equipes."},"webhookUrl":"https://webhooks.dev.cmos.ai/data/0ceda276-fc11-4682-9693-4e6f53286337","executionMode":"production"}}]},"versionId":"f3dcc1c7-23a8-4a2d-ab1f-7701f1c84262","triggerCount":3,"tags":[]}