backups-u4zJYxY4f70FZsC2.json
{"createdAt":"2025-11-04T00:34:24.622Z","updatedAt":"2025-11-04T00:51:32.794Z","id":"u4zJYxY4f70FZsC2","name":"backups","active":false,"nodes":[{"parameters":{},"id":"27546875-5d1b-476c-8ffb-54c99ca3412b","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[859.2528427493457,789.8065175238871]},{"parameters":{"options":{}},"id":"f01f2558-36fc-4761-97c6-0cd9f030ae85","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1059.2528427493457,789.8065175238871]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"3c84873d-79c4-45dd-90f3-39997007448f","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1259.2528427493457,789.8065175238871]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"61a4b746-5989-46ca-8e50-39c191070822","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1459.2528427493457,789.8065175238871]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"e1fa2f62-d08f-4f75-9400-347677581759","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1859.2528427493457,789.8065175238871]},{"parameters":{"filters":{},"requestOptions":{}},"id":"e4e8f3d6-2c6c-41b4-8e6e-9ac98a62cf91","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2059.2528427493457,789.8065175238871],"credentials":{"n8nApi":{"id":"PpcwJa5B26WLqZ16","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"a99751f7-1fd8-43ee-ac8d-cc84752d9416","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2259.2528427493457,789.8065175238871]},{"parameters":{"batchSize":1,"options":{}},"id":"cefe99b7-fe2c-4ce9-b246-2415b6f7e3fa","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2499.2528427493457,789.8065175238871]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0d0f48f8-aa45-44f4-8794-39032345207f","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2739.2528427493457,709.8065175238871]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"pedroscardua","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-cmos","mode":"list","cachedResultName":"backup-n8n-cmos","cachedResultUrl":"https://github.com/pedroscardua/backup-n8n-cmos"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"634910b0-1236-4643-ad80-711ea74df89a","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2959.2528427493457,509.8065175238871],"credentials":{"githubOAuth2Api":{"id":"XzpbPXmhxREcN3zm","name":"cmos aws GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"pedroscardua","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-cmos","mode":"list","cachedResultName":"backup-n8n-cmos","cachedResultUrl":"https://github.com/pedroscardua/backup-n8n-cmos"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"fa33efba-1f53-482c-a1c2-487f68bb5879","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2959.2528427493457,909.8065175238871],"credentials":{"githubOAuth2Api":{"id":"XzpbPXmhxREcN3zm","name":"cmos aws GitHub account"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"cfffc3e4-78f6-45c6-9df7-9f15b89c6c23","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[819.2528427493457,629.8065175238871]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"eaf6e6b3-21e8-4ce3-b0c3-6ce99c03ca08","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1016.7952427493458,629.8065175238871]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"574debd9-bd34-499b-addc-53978687d7ef","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1619.2528427493457,629.8065175238871]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"43bc1f09-13c3-4d4a-bb75-62c5c8a9b22b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2024.1680427493452,629.8065175238871]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"1245d3bf-0d6c-476b-b439-4b45fb27de43","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2423.0246857765833,380]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":234.82946582693546,"width":508.8662091091177},"id":"837490b3-7c9d-4646-93e9-765757ac2c31","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,380]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"pedroscardua","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n-cmos","mode":"list","cachedResultName":"backup-n8n-cmos","cachedResultUrl":"https://github.com/pedroscardua/backup-n8n-cmos"}},"id":"e35cc589-0874-43da-8a03-4e5732072009","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1680,800],"credentials":{"githubOAuth2Api":{"id":"XzpbPXmhxREcN3zm","name":"cmos aws GitHub account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"options":{}},"id":"1242cf3a-426b-4bbb-bb8a-0519b62594d9","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1720,220],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"table_pg_cron","mode":"list","cachedResultName":"table_pg_cron"},"options":{}},"id":"ab2b196f-0de3-46a1-9829-680a17ce907b","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1980,420],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres":[{"json":{"id_googlevent":"l4hrt5jfvv05lcinau3t1nl4o4","start_time":"2025-01-07T14:00:00.000Z","end_time":"2025-01-07T14:40:00.000Z","summary":"Pedro Scardua e The CMOs (Juliana Pereira)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5527993160804\n\nResumo: \n\nInteressado na formação Head de Marketing 2.0, agendado para discutir detalhes e esclarecer dúvidas sobre o curso.","attendees":[{"email":"contato@pedroscardua.com.br","responseStatus":"accepted"}],"hangoutLink":"https://meet.google.com/iji-uvqe-qaa","status":"Cancelado","updated":"2025-02-02T05:44:39.046Z","remotejid":null}},{"json":{"id_googlevent":"nspapqi5ohnqjepjiousrffgnk","start_time":"2025-03-05T11:20:00.000Z","end_time":"2025-03-05T12:00:00.000Z","summary":"[Confirmado] Pedro Scardua e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5527993160804\n\nResumo: \n\nInteressado na formação Head de Marketing 2.0, lidera até 3 pessoas, busca superar desafios de sobrecarga e pressão por resultados. Início recente na liderança, deseja criar bases sólidas para crescer na carreira.","attendees":[{"email":"contato@pedroscardua.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/ucj-uodw-rju","status":"Confirmado","updated":"2025-03-01T20:04:32.037Z","remotejid":"5527993160804@s.whatsapp.net"}},{"json":{"id_googlevent":"b0ohck2ve2f8aou8q88s9nt1k4","start_time":"2025-03-03T10:20:00.000Z","end_time":"2025-03-03T11:00:00.000Z","summary":"Gustavo Stork e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/554896485341\n\nResumo: \n\nGustavo lidera uma equipe de 7 pessoas há 2 anos e busca aprimorar suas habilidades de liderança e estratégia. Está interessado na Formação Head de Marketing 2.0 para superar desafios como direcionar o time estrategicamente e estruturar metas claras.","attendees":[{"email":"gugastork@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/tzu-mynm-rfm","status":"Agendado","updated":"2025-03-01T19:54:21.536Z","remotejid":"554896485341@s.whatsapp.net"}},{"json":{"id_googlevent":"opapqvgrb7cq2dkqvcblu3gb44","start_time":"2025-02-03T09:00:00.000Z","end_time":"2025-02-03T09:40:00.000Z","summary":"[Confirmado]    Pedro Scardua e The CMOs (Juliana Pereira)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5527993160804\n\nResumo: \n\nInteressado na formação Head de Marketing 2.0, lidera uma equipe pequena de até 3 pessoas, busca superar desafios como sobrecarga e alta pressão por resultados. Está no início da jornada de liderança.","attendees":[{"email":"contato@pedroscardua.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/oic-qxrr-guq","status":"Confirmado","updated":"2025-02-02T16:15:35.882Z","remotejid":null}},{"json":{"id_googlevent":"6f57at4of24885gg0ud8icdva8","start_time":"2025-01-07T14:00:00.000Z","end_time":"2025-01-07T14:40:00.000Z","summary":"[Recusado]  Pedro Scardua e The CMOs (Juliana Pereira)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5527993160804\n\nResumo: \n\nInteressado na formação Head de Marketing 2.0, agendado para discutir detalhes e esclarecer dúvidas sobre o curso.","attendees":[{"email":"contato@pedroscardua.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/xay-qvyk-gzi","status":"Recusado","updated":"2025-02-02T06:30:29.752Z","remotejid":null}},{"json":{"id_googlevent":"g1jv9ei7dd3ff4o09dpcmu0af4","start_time":"2025-01-07T14:00:00.000Z","end_time":"2025-01-07T14:40:00.000Z","summary":"Pedro Scardua e The CMOs (Juliana Pereira)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5527993160804\n\nResumo: \n\nInteressado na formação Head de Marketing 2.0, agendado para discutir detalhes e esclarecer dúvidas sobre o curso.","attendees":[{"email":"contato@pedroscardua.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/iox-fmee-pqx","status":"Agendado","updated":null,"remotejid":null}},{"json":{"id_googlevent":"blrh8hkmec5tilsr5hqh12o9qs","start_time":"2025-02-03T09:00:00.000Z","end_time":"2025-02-03T09:40:00.000Z","summary":"Pedro Scardua e The CMOs (Juliana Pereira)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5527993160804\n\nResumo: \n\nInteressado na Formação Head de Marketing 2.0, lidera uma equipe pequena de até 3 pessoas, enfrenta desafios de sobrecarga e alta pressão por resultados. Está no início da jornada como líder e busca criar bases sólidas de liderança e gestão.","attendees":[{"email":"carlos300125@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/snk-hxpq-stc","status":"Agendado","updated":null,"remotejid":null}},{"json":{"id_googlevent":"87a1d02f-946e-455d-b8cc-98b24a166036","start_time":"2025-03-05T12:00:00.000Z","end_time":"2025-03-05T13:00:00.000Z","summary":"Reúna-se com um representante","description":"calendly","attendees":null,"hangoutLink":"https://meet.google.com/uea-xbcr-rbv\\","status":"Agendado","updated":null,"remotejid":"5527993160804@s.whatsapp.net"}},{"json":{"id_googlevent":"uea-xbcr-rbv","start_time":"2025-03-05T12:00:00.000Z","end_time":"2025-03-05T13:00:00.000Z","summary":"Reúna-se com um representante","description":"calendly","attendees":null,"hangoutLink":"https://meet.google.com/uea-xbcr-rbv\\","status":"Agendado","updated":null,"remotejid":"5527993160804@s.whatsapp.net"}},{"json":{"id_googlevent":"3bf9tad8igq61sc4bm5f4oebt0","start_time":"2025-03-05T10:00:00.000Z","end_time":"2025-03-05T10:40:00.000Z","summary":"[Confirmado] Veridiana Alarcom Thomé e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5516993420356\n\nResumo: \n\nVeridiana lidera uma equipe pequena de 2 pessoas há 1 ano e enfrenta desafios como sobrecarga de trabalho operacional e alta pressão por resultados. Está interessada na formação Head de Marketing 2.0 para aprimorar suas habilidades de liderança.","attendees":[{"email":"veridiana@bendu.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/eys-zego-rpi","status":"Confirmado","updated":"2025-03-02T13:42:17.952Z","remotejid":"5516993420356@s.whatsapp.net"}},{"json":{"id_googlevent":"6s2aoebgthobopjk71m8qok308","start_time":"2025-03-06T13:00:00.000Z","end_time":"2025-03-06T13:40:00.000Z","summary":"Francielle Camelo e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/554797303988\n\nResumo: \n\nFrancielle lidera uma equipe de 4 a 7 pessoas e está interessada na formação Head de Marketing 2.0 para aprimorar suas habilidades de liderança e gestão estratégica. Ela começou recentemente em uma nova posição de liderança, mas já possui experiência anterior liderando outras equipes.","attendees":[{"email":"franciellehanck@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/dci-yfnu-dtz","status":"Agendado","updated":"2025-03-02T15:51:13.107Z","remotejid":"554797303988@s.whatsapp.net"}},{"json":{"id_googlevent":"q6ldisobq4tumufqjdlhgiahlo","start_time":"2025-03-06T13:40:00.000Z","end_time":"2025-03-06T14:20:00.000Z","summary":"[Confirmado] Joice Limma e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5511961166811\n\nResumo: \n\nJoice lidera uma equipe pequena de até 3 pessoas em uma microempresa. Está interessada na formação Head de Marketing 2.0 para superar desafios como sobrecarga e alta pressão por resultados, buscando criar bases sólidas de liderança e gestão.","attendees":[{"email":"joice.lima@marelar.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/vqu-xjee-kmf","status":"Confirmado","updated":"2025-03-03T13:14:42.163Z","remotejid":"5511961166811@s.whatsapp.net"}},{"json":{"id_googlevent":"6k5leaqv5o1fti342522qns0p4","start_time":"2025-03-06T13:40:00.000Z","end_time":"2025-03-06T14:20:00.000Z","summary":"Joice Limma e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5511961166811\n\nResumo: \n\nJoice lidera uma equipe pequena de até 3 pessoas em uma microempresa. Ela está interessada na formação de Head de Marketing 2.0 para superar desafios como sobrecarga e alta pressão por resultados, buscando criar bases sólidas de liderança e gestão desde o início da sua trajetória.","attendees":[{"email":"joice.lima@marelar.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/oee-ptyv-diz","status":"Cancelado","updated":"2025-03-05T01:32:16.912Z","remotejid":"5511961166811@s.whatsapp.net"}},{"json":{"id_googlevent":"k6l7mi59ofbcgb8e69l8qqdb9c","start_time":"2025-03-12T10:20:00.000Z","end_time":"2025-03-12T11:00:00.000Z","summary":"[Confirmado] Anderson Tadeu Campos e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5511952019421\n\nResumo: \n\nAnderson lidera uma equipe pequena de até 3 pessoas e enfrenta desafios como sobrecarga de trabalho operacional e alta pressão por resultados. Ele tem três anos de experiência em liderança e busca aperfeiçoamento para estruturar suas práticas e crescer como líder. Está interessado na Formação Head de Marketing 2.0 para melhorar suas habilidades estratégicas e de liderança.","attendees":[{"email":"andersontadeucampos@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/squ-xjeq-axo","status":"Confirmado","updated":"2025-03-10T11:58:12.199Z","remotejid":"5511952019421@s.whatsapp.net"}},{"json":{"id_googlevent":"4sb6ugtv67tf94h5ja9us48h8g","start_time":"2025-03-06T16:00:00.000Z","end_time":"2025-03-06T16:40:00.000Z","summary":"Yasmin Dias da Silva e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/559681116860\n\nResumo: \n\nYasmin lidera uma equipe pequena de 3 colaboradores e 2 prestadores de serviço em um setor de marketing novo na empresa. Ela está interessada na Formação Head de Marketing 2.0 para superar desafios como sobrecarga e busca reconhecimento na posição de liderança, já que é a mais experiente do time. Está há 2 meses na posição de liderança.","attendees":[{"email":"yasmindiasss.yd.yd@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/zwg-zaqa-uks","status":"Agendado","updated":null,"remotejid":"559681116860@s.whatsapp.net"}},{"json":{"id_googlevent":"0f03u8u42vkn0te6n48h047ohk","start_time":"2025-03-11T17:40:00.000Z","end_time":"2025-03-11T18:20:00.000Z","summary":"Victor Vitti Verdecanna e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5519996324660\n\nResumo: \n\nVictor lidera uma equipe pequena de 2 pessoas e enfrenta desafios como sobrecarga de trabalho operacional e alta pressão por resultados. Ele está na posição de liderança há apenas 6 meses e busca criar bases sólidas de liderança e gestão.","attendees":[{"email":"victorverdecanna@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/iud-vbwt-iyt","status":"Agendado","updated":null,"remotejid":"5519996324660@s.whatsapp.net"}},{"json":{"id_googlevent":"0d2hept9rp0s5fpj0g7lft0508","start_time":"2025-03-06T14:20:00.000Z","end_time":"2025-03-06T15:00:00.000Z","summary":"[Confirmado] Victor Cidade e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/559183311843\n\nResumo: \n\nVictor lidera uma equipe de 4 a 7 pessoas em sua agência e está interessado na formação Head de Marketing 2.0 para refinar habilidades e aumentar seu impacto como líder. Ele possui experiência de 4 anos em posições de liderança.","attendees":[{"email":"victorcidade@novaluma.digital","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/wuf-brfp-ypn","status":"Confirmado","updated":"2025-03-06T12:18:32.412Z","remotejid":"559183311843@s.whatsapp.net"}},{"json":{"id_googlevent":"bcmp207iq6kd7f6hafnse4ss2g","start_time":"2025-03-13T09:20:00.000Z","end_time":"2025-03-13T10:00:00.000Z","summary":"Kaue Aguiar e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/558587140501\n\nResumo: \n\nKaue é um líder experiente com mais de 10 anos de experiência, liderando uma equipe grande de mais de 8 pessoas. Ele está interessado em inscrever seu gestor de operações na formação Head de Marketing 2.0 para aprimorar habilidades de liderança e estratégia.","attendees":[{"email":"kaue@obostudio.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/fhk-ejgi-iog","status":"Agendado","updated":null,"remotejid":"558587140501@s.whatsapp.net"}},{"json":{"id_googlevent":"46vn8er7jib6ch3t3cout4andg","start_time":"2025-03-12T10:20:00.000Z","end_time":"2025-03-12T11:00:00.000Z","summary":"Anderson Tadeu Campos e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5511952019421\n\nResumo: \n\nAnderson lidera uma equipe pequena de até 3 pessoas e enfrenta desafios como sobrecarga de trabalho operacional e alta pressão por resultados. Ele tem três anos de experiência em liderança e está interessado na formação Head de Marketing 2.0 para aprimorar suas habilidades e crescer como líder.","attendees":[{"email":"andersontadeucampos@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/atb-amze-wcb","status":"Cancelado","updated":"2025-03-12T02:04:51.722Z","remotejid":"5511952019421@s.whatsapp.net"}},{"json":{"id_googlevent":"h9hh2bllketm7fmhl99ujr3p7k","start_time":"2025-03-12T14:20:00.000Z","end_time":"2025-03-12T15:00:00.000Z","summary":"Lais Castro do Amaral e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/554799287870\n\nResumo: \n\nLais lidera uma equipe de 4 a 7 pessoas há 1 ano e meio. Está interessada na formação Head de Marketing 2.0 para melhorar o alinhamento estratégico e estruturar metas claras.","attendees":[{"email":"lais.amaral.bc@hotmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/jeq-hoyr-ewp","status":"Agendado","updated":null,"remotejid":"554799287870@s.whatsapp.net"}},{"json":{"id_googlevent":"usummfrta3k6t8ehqga2kk3moc","start_time":"2025-03-10T14:20:00.000Z","end_time":"2025-03-10T15:00:00.000Z","summary":"[Confirmado]  Glauciene Alencar e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/553187036466\n\nResumo: \n\nGlauciene lidera mais de 8 pessoas, está há um mês na posição de liderança no setor de marketing, vindo do ramo bancário. Está interessada na formação para desenvolver habilidades estratégicas e maximizar resultados organizacionais.","attendees":[{"email":"glaucienealencar@hotmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/ogg-pbpu-aca","status":"Confirmado","updated":"2025-03-10T17:14:08.590Z","remotejid":"553187036466@s.whatsapp.net"}},{"json":{"id_googlevent":"4dpo1er3dmd5ibeql0muhpr20k","start_time":"2025-03-13T10:20:00.000Z","end_time":"2025-03-13T11:00:00.000Z","summary":"[Recusado]  Yasmim Coelho e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5511993241125\n\nResumo: \n\nYasmim está interessada em se preparar para uma posição de liderança em marketing. Atualmente, ela tem um ano de experiência na área e busca aprimorar suas habilidades e ganhar confiança na liderança. Ela ainda não é líder, mas deseja se desenvolver para futuras posições de liderança.","attendees":[{"email":"ycoelho011@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/nmx-swvm-jks","status":"Recusado","updated":"2025-03-13T11:33:25.197Z","remotejid":"5511993241125@s.whatsapp.net"}},{"json":{"id_googlevent":"nod8ddfsu496kqc9vpdghsk9sc","start_time":"2025-03-14T10:20:00.000Z","end_time":"2025-03-14T11:00:00.000Z","summary":"[Confirmado]  Michael Ismael Antônio Da Silva e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/554399009831\n\nResumo: \n\nMichael está interessado na formação de Head de Marketing 2.0. Atualmente, ele é o único funcionário do setor de marketing da empresa e planeja liderar uma equipe de 4 a 5 pessoas no futuro. Tem experiência em marketing há 6 anos, mas apenas 3 meses na chefia do setor.","attendees":[{"email":"michael.ismael@ismaellgroup.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/jka-xmvh-fdx","status":"Confirmado","updated":"2025-03-14T11:25:32.842Z","remotejid":"554399009831@s.whatsapp.net"}},{"json":{"id_googlevent":"nfj649apkt2k58gi5erbihbllg","start_time":"1999-12-31T22:00:00.000Z","end_time":"2000-01-01T22:00:00.000Z","summary":null,"description":null,"attendees":null,"hangoutLink":null,"status":"Cancelado","updated":"2025-03-12T17:44:49.093Z","remotejid":"557193963154@s.whatsapp.net"}},{"json":{"id_googlevent":"82ursqlb4o7spteof9h3pivs7o","start_time":"2025-03-13T10:20:00.000Z","end_time":"2025-03-13T11:00:00.000Z","summary":"[Confirmado] Taise Blanco e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/554891481999\n\nResumo: \n\nTaise está atualmente como analista, mas atuando como ponto focal após o desligamento do líder. Tem interesse em retomar a liderança e busca entender mais sobre a Formação Head de Marketing 2.0 para se preparar melhor para essa transição.","attendees":[{"email":"taiseblanco@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/zeo-xnot-euu","status":"Confirmado","updated":"2025-03-12T10:17:41.214Z","remotejid":"554891481999@s.whatsapp.net"}},{"json":{"id_googlevent":"ei06vo1i9d1gmrnc9e2ajf04lc","start_time":"2025-03-17T17:00:00.000Z","end_time":"2025-03-17T17:40:00.000Z","summary":"Leticia Ribeiro e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/556181387002\n\nResumo: \n\nLeticia lidera uma equipe pequena, enfrenta desafios de sobrecarga e alta pressão por resultados. Tem interesse na formação Head de Marketing 2.0 para refinar habilidades e aumentar impacto como líder. Está sem cartão de crédito e busca alternativas de pagamento.","attendees":[{"email":"cesarefrigeracao770@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/mbp-wbrm-swo","status":"Agendado","updated":null,"remotejid":"556181387002@s.whatsapp.net"}},{"json":{"id_googlevent":"v4hf864jeaqv69lnamluh4j688","start_time":"2025-03-17T16:00:00.000Z","end_time":"2025-03-17T16:40:00.000Z","summary":"Kaue Aguiar e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/558587140501\n\nResumo: \n\nKaue lidera mais de 8 pessoas e está interessado na formação para seu gestor de operações. Possui mais de 10 anos de experiência em liderança.","attendees":[{"email":"kaue@obostudio.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/piu-jfph-dpa","status":"Agendado","updated":null,"remotejid":"558587140501@s.whatsapp.net"}},{"json":{"id_googlevent":"6b9hit1rp9uqgiubefqhvcaaak","start_time":"2025-03-17T17:00:00.000Z","end_time":"2025-03-17T17:40:00.000Z","summary":"Leticia Ribeiro e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/556181387002\n\nResumo: \n\nLeticia lidera uma equipe pequena, enfrentando desafios como sobrecarga e alta pressão por resultados. Tem interesse na formação Head de Marketing 2.0 para refinar habilidades e aumentar seu impacto como líder.","attendees":[{"email":"cesarefrigeracao770@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/yja-exgz-gct","status":"Agendado","updated":null,"remotejid":"556181387002@s.whatsapp.net"}},{"json":{"id_googlevent":"d5k3eja1cm20o8l1oihuigjcpk","start_time":"2025-03-17T18:20:00.000Z","end_time":"2025-03-17T19:00:00.000Z","summary":"[Confirmado] Lucas Silva dos Santos e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/558396738655\n\nResumo: \n\nLucas lidera uma equipe de 4 a 7 pessoas e está em uma nova posição há uma semana, focando em estratégia, liderança e uso de IA. Interessado na formação Head de Marketing 2.0 para aprimorar habilidades e estruturar práticas.","attendees":[{"email":"lkconsultoriajp@gmail.com","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/ebh-uykh-jtz","status":"Confirmado","updated":"2025-03-15T20:52:26.794Z","remotejid":"558396738655@s.whatsapp.net"}},{"json":{"id_googlevent":"aei7u325fvgnrlhaik0c4f70sg","start_time":"2025-03-05T10:00:00.000Z","end_time":"2025-03-05T10:40:00.000Z","summary":"Veridiana Alarcom Thomé e The CMOs (Walleska)","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/5516993420356\n\nResumo: \n\nVeridiana lidera uma equipe pequena de 2 pessoas há 1 ano. Está interessada em aprimorar suas habilidades de liderança e busca superar desafios como sobrecarga de trabalho operacional e alta pressão por resultados. A formação Head de Marketing 2.0 é ideal para ela, pois foca em estratégia, liderança e uso de Inteligência Artificial.","attendees":[{"email":"veridiana@bendu.com.br","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/mcj-yghk-ynv","status":"Agendado","updated":null,"remotejid":"5516993420356@s.whatsapp.net"}},{"json":{"id_googlevent":"9vcniii5664vb8r8b6pvvd0t2o","start_time":"2025-03-14T18:20:00.000Z","end_time":"2025-03-14T19:00:00.000Z","summary":"[Confirmado]  Kauan Victor Araujo dos Reis e The CMOs","description":"Reúna-se com um representante The CMOs\n\nLocal: Esta é uma conferência online via Google Meet.\n\nVocê pode participar desta reunião pelo seu computador, tablet ou smartphone.\n\nWhatsApp: wa.me/556183026797\n\nResumo: \n\nKauan lidera uma equipe grande, com mais de 8 pessoas, e está há 4 meses na posição de liderança. Ele busca aprimorar suas habilidades estratégicas e maximizar resultados organizacionais. Está interessado na formação Head de Marketing 2.0 para desenvolver novos líderes e equilibrar visão estratégica com execução.","attendees":[{"email":"kauanvictor099@gmail.com","responseStatus":"needsAction"},{"email":"gustavo@thecmosmarketers.digital","responseStatus":"needsAction"}],"hangoutLink":"https://meet.google.com/ejv-upja-nga","status":"Confirmado","updated":"2025-03-14T21:23:16.081Z","remotejid":"556183026797@s.whatsapp.net"}}],"Postgres1":[{"json":{"job_name":"Follow-up com Carlos","schedule":"2025-03-01T18:07:44.571Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-02T13:10:08.987Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":31}},{"json":{"job_name":"Follow-up com Leonardo","schedule":"2025-03-02T16:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-02T13:13:07.004Z","remotejid":"553391152081@s.whatsapp.net","action":"message_return_later","idd":32}},{"json":{"job_name":"Retorno conversa Andiara","schedule":"2024-11-21T17:45:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-11-21T15:42:41.625Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":18}},{"json":{"job_name":"Retorno para Andiara","schedule":"2024-11-22T18:30:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-11-22T18:28:22.491Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":19}},{"json":{"job_name":"Lembrar Pedro sobre a conversa","schedule":"2024-11-25T17:43:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-11-25T17:41:06.432Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":20}},{"json":{"job_name":"Reunião com Pedro Scardua para discutir programas de liderança e marketing","schedule":"2024-12-03T17:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-12-02T18:15:58.495Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":21}},{"json":{"job_name":"Retomar conversa com o usuário","schedule":"2024-12-03T17:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-12-03T17:01:03.833Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":24}},{"json":{"job_name":"Retomar conversa sobre formação em liderança","schedule":"2024-12-03T17:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-12-03T17:02:02.361Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":25}},{"json":{"job_name":"Reunião com Andiara Lemos sobre Data Driven Leadership","schedule":"2024-12-03T19:30:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-12-02T18:41:17.726Z","remotejid":"554899825981@s.whatsapp.net","action":"message_return_later","idd":22}},{"json":{"job_name":"Reunião com consultor educacional","schedule":"2024-12-04T17:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2024-12-03T03:37:55.073Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":23}},{"json":{"job_name":"Follow-up para agendamento de reunião sobre Formação Head de Marketing 2.0 com Gabriel Araujo","schedule":"2025-01-04T18:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-01-03T16:02:11.747Z","remotejid":"5527996298155@s.whatsapp.net","action":"message_return_later","idd":26}},{"json":{"job_name":"Agendar reunião para formação Head de Marketing 2.0 com Gabriel Araujo","schedule":"2025-01-04T18:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-01-03T16:02:36.970Z","remotejid":"5527996298155@s.whatsapp.net","action":"message_return_later","idd":27}},{"json":{"job_name":"Follow-up com Gabriel Araujo para agendamento de reunião sobre a Formação Head de Marketing 2.0","schedule":"2025-01-05T18:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-01-04T18:01:06.414Z","remotejid":"5527996298155@s.whatsapp.net","action":"message_return_later","idd":28}},{"json":{"job_name":"Lembrete de Ligação para Andiara","schedule":"2024-11-19T21:43:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-01-08T21:20:01.648Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":29}},{"json":{"job_name":"Follow-up com Carlos","schedule":"2025-03-02T18:07:44.571Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-02T13:07:47.452Z","remotejid":"5527993160804@s.whatsapp.net","action":"message_return_later","idd":30}},{"json":{"job_name":"Aguardar site disponível para matrícula","schedule":"2025-03-03T13:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-02T23:26:34.458Z","remotejid":"5511968129789@s.whatsapp.net","action":"message_return_later","idd":33}},{"json":{"job_name":"Contato com especialista para informações sobre a Formação Head de Marketing 2.0","schedule":"2025-03-08T13:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-08T11:12:31.482Z","remotejid":"556299006885@s.whatsapp.net","action":"message_return_later","idd":36}},{"json":{"job_name":"Follow-up com André Luiz sobre formação Head de Marketing 2.0","schedule":"2025-03-10T18:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-10T10:41:16.079Z","remotejid":"558393040020@s.whatsapp.net","action":"message_return_later","idd":37}},{"json":{"job_name":"Retomar conversa com André Luiz sobre formação Head de Marketing 2.0","schedule":"2025-03-10T18:30:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-10T18:01:04.053Z","remotejid":"558393040020@s.whatsapp.net","action":"message_return_later","idd":39}},{"json":{"job_name":"Enviar informações sobre a Formação Head de Marketing 2.0 para Denize","schedule":"2025-03-11T13:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-10T16:53:29.277Z","remotejid":"554999675089@s.whatsapp.net","action":"message_return_later","idd":38}},{"json":{"job_name":"Follow-up com Leonardo","schedule":"2025-03-02T16:00:00.000Z","url":null,"method":null,"headers":null,"body":null,"enabled":false,"created_at":"2025-03-24T18:44:50.119Z","remotejid":"553391152081@s.whatsapp.net","action":"message_return_later","idd":40}}]},"versionId":"0a835751-a0fe-47c9-ad05-573b71bfcc0b","triggerCount":0,"tags":[]}