cria-contas-Z4yCcXUosk03EqCp.json
{"createdAt":"2024-08-10T02:38:56.380Z","updatedAt":"2024-09-03T21:06:30.035Z","id":"Z4yCcXUosk03EqCp","name":"Cria Contas","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://app.circle.so/api/v1/space_group_members","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $json.Data.Buyer.Email }}"},{"name":"space_group_id","value":"132925"},{"name":"community_id","value":"57376"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 3sMv49x6PB2QjsvnVVHw7r8N"}]},"options":{"redirect":{"redirect":{}}}},"id":"5f9b2e37-9139-40c8-83eb-f733c0df37f6","name":"Circle","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,360]},{"parameters":{"method":"POST","url":"https://backend.cmos.ai/api/subscription/automation/grant","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer gfswqT3JhBT5gFbBuZTrvbj8V5phxvi5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"name"},{"name":"email"}]},"options":{}},"id":"995d8d9a-5d37-41f8-91e4-7e4a9999cb3e","name":"CMOS AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,540],"retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6a01fdba-22f2-42ec-bffd-4ebb5274a894","name":"email","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"09a7985b-3d8d-4310-8693-a057b2ce04d6","name":"externalid","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"428f6792-54a3-4843-aed3-cdd7f980efd1","name":"name","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"}]},"options":{}},"id":"eee231f5-3ac4-4b6d-b00f-0e73ac087cae","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,160]},{"parameters":{"method":"POST","url":"https://checkout.kajabi.com/webhooks/offers/6AdfGQeVt3PNFti3/2148780943/activate","sendQuery":true,"queryParameters":{"parameters":[{"name":"send_offer_grant_email","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"id":"9621f97e-ff3f-452d-89c3-0481516ebfbd","name":"Kajabi Active","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,160]},{"parameters":{"method":"POST","url":"https://workflows.audracs.com.br/data/erros-clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTE2Zjg1LTM4ZjEtNDc0Ni04YzM4LWRiODNlODQ5MWI5OSIsImVtYWlsIjoiZ3VzdGF2b0B0aGVjbW9zbWFya2V0ZXJzLmRpZ2l0YWwiLCJjbGllbnQiOiJUaGUgQ01PcyIsImlhdCI6MTcyMzU2MjUzMH0.RCaHae2p3OIOeMW6B7HOM6k2Zgj9ENAPg0jTuJ_pmeI"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"erro_workflow","value":"=https://workflows.dev.cmos.ai/workflow/Z4yCcXUosk03EqCp"},{"name":"=execution","value":"={{ $execution }}"},{"name":"node_version","value":"={{ $nodeVersion }}"}]},"options":{}},"id":"bb6cf075-1930-40ba-95ee-b5e3818c1562","name":"ERRO AUTUN","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,660]},{"parameters":{},"id":"6b87bded-94c1-4189-973c-f4fabdca6993","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[360,660]},{"parameters":{"identifier":"={{ $json.rd_event }}","email":"={{ $json.Data.Buyer.Email }}","additionalFields":{}},"id":"cca22ea3-9fec-4ae6-bed1-2897dd3e6fa3","name":"RD Station","type":"@deviobr/n8n-nodes-rdstation.rdStation","typeVersion":1,"position":[480,200],"credentials":{"rdStationOAuth2Api":{"id":"VszZWxzCkFzXNTmO","name":"RD Station CMOS"}},"onError":"continueRegularOutput"},{"parameters":{},"id":"e1f5b572-3925-481d-81d6-0b5ea29ed9ba","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[140,360]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.Accounts }}","rightValue":"kajabi","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"kajabi"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ca71620c-90b3-4e9f-ad1f-c115de11a38b","leftValue":"={{ $json.Accounts }}","rightValue":"circle","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"circle"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c830181c-d287-4817-8225-3dafd2e6a6df","leftValue":"={{ $json.Accounts }}","rightValue":"cmosai","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cmosai"}]},"options":{"allMatchingOutputs":true}},"id":"72bfe666-d1de-443d-ba21-2cdf67527363","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[480,360]}],"connections":{"Edit Fields":{"main":[[{"node":"Kajabi Active","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ERRO AUTUN","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"RD Station","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Circle","type":"main","index":0}],[{"node":"CMOS AI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f44f84f-9b54-48f8-8d45-1952a0b3992b","triggerCount":0,"tags":[{"createdAt":"2024-08-10T19:35:15.704Z","updatedAt":"2024-08-10T19:35:15.704Z","id":"ZvWzZ0ImKrhkBW6U","name":"curso"}]}