gerar-nota-fiscal-ss2QrB4TU63VtHOS.json
{"createdAt":"2024-08-02T22:25:41.011Z","updatedAt":"2024-09-06T20:51:26.799Z","id":"ss2QrB4TU63VtHOS","name":"Gerar Nota Fiscal","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2c793158-4969-437c-9cd7-772c8023d922","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"58653374-665c-4918-91d4-0a8dc8e16f24","name":"Exist","type":"n8n-nodes-base.if","typeVersion":2,"position":[1960,360]},{"parameters":{"url":"https://api.contaazul.com/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"search","value":"={{ $('Infos').item.json.cpfCnpj }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token - Conta Azul').item.json.token }}"}]},"options":{}},"id":"abe9fc59-55e3-4ec4-85dd-517aca331f21","name":"Get Customer CPF CNPJ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,460],"alwaysOutputData":true},{"parameters":{"url":"https://api.contaazul.com/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"search","value":"={{ $('Infos').item.json.Email }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"options":{}},"id":"2b06f548-0024-47d5-802d-1d51c2a38ba0","name":"Get Customer Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,360],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2c793158-4969-437c-9cd7-772c8023d922","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"27415417-fc56-465f-b01a-3345911dd874","name":"Exist1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2340,460]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conta_azul","mode":"list","cachedResultName":"conta_azul"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"ee41f8e0-3ff3-49b3-9fd9-d3d424af274a","name":"Get Token - Conta Azul","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1600,360],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3dc1e4fb-0f66-4b7e-89e3-9ced1ecfa75c","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"f426e3cf-66d0-4ffc-bcb2-19a5adb6364a","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,340]},{"parameters":{"assignments":{"assignments":[{"id":"6b57a1f2-a57b-42a4-8e62-468f194601e3","name":"Email","value":"={{ $json.body.Data.Buyer.Email }}","type":"string"},{"id":"7630353c-bfbb-4e00-841d-e2a2e8ebc545","name":"cpfCnpj","value":"={{ $json.body.Data.Buyer.Document }}","type":"string"},{"id":"47e92458-7a59-44f7-9b13-e562844480ec","name":"CreatedAt","value":"={{ $json.body.CreatedAt }}","type":"string"},{"id":"96d53f57-ae44-471a-8453-015c8220ab3d","name":"PaymentMethod","value":"={{ $json[\"body\"][\"Data\"][\"Purchase\"][\"Payment\"][\"PaymentMethod\"]==='pix'?'PIX_CHARGE':$json[\"body\"][\"Data\"][\"Purchase\"][\"Payment\"][\"PaymentMethod\"] }}","type":"string"},{"id":"87d2f0bf-812e-49b4-93e0-d600a702530c","name":"Value","value":"={{ $json.body.Data.Purchase.Price.Value }}","type":"string"},{"id":"875eafde-be55-49e3-a24b-2600fcd983da","name":"Name","value":"={{ $json.body.Data.Buyer.Name }}","type":"string"},{"id":"63605de0-34e5-4ce6-9275-125bc2c50753","name":"PhoneNumber","value":"={{ $json.body.Data.Buyer.PhoneNumber }}","type":"string"},{"id":"a2d42d28-55ee-4baa-a651-e20f069e01b9","name":"ZipCode","value":"={{ $json.body.Data.Buyer.Address.ZipCode }}","type":"string"},{"id":"8378b446-08b9-4cd2-a5c5-ded89725e33a","name":"Street","value":"={{ $json.body.Data.Buyer.Address.Street }}","type":"string"},{"id":"47844eaa-8af2-4dcd-a573-94f44ed1d01e","name":"StreetNumber","value":"={{ $json.body.Data.Buyer.Address.StreetNumber }}","type":"string"},{"id":"d4741782-ba47-44ff-a35d-5bf2f34f09d9","name":"Complement","value":"={{ $json.body.Data.Buyer.Address.Complement }}","type":"string"},{"id":"fbdfbf93-7691-4f92-bcd1-65a70bcf1ec7","name":"Neighborhood","value":"={{ $json.body.Data.Buyer.Address.District }}","type":"string"}]},"options":{}},"id":"7e9b4a2c-834d-49aa-be8b-91c9286047d0","name":"Infos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,360]},{"parameters":{"method":"DELETE","url":"=https://api.contaazul.com/v1/sales/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token - Conta Azul').item.json.token }}"}]},"options":{}},"id":"cd6e5854-92f7-4f6a-acfb-436f55544ca7","name":"Deleta Venda1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,140],"alwaysOutputData":true},{"parameters":{},"id":"a951a74a-f746-401a-abad-eff2479762f4","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[1940,840]},{"parameters":{"method":"POST","url":"https://workflows.audracs.com.br/data/erros-clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTE2Zjg1LTM4ZjEtNDc0Ni04YzM4LWRiODNlODQ5MWI5OSIsImVtYWlsIjoiZ3VzdGF2b0B0aGVjbW9zbWFya2V0ZXJzLmRpZ2l0YWwiLCJjbGllbnQiOiJUaGUgQ01PcyIsImlhdCI6MTcyMzU2MjUzMH0.RCaHae2p3OIOeMW6B7HOM6k2Zgj9ENAPg0jTuJ_pmeI"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"erro_workflow","value":"=https://workflows.dev.cmos.ai/workflow/ss2QrB4TU63VtHOS"},{"name":"=execution","value":"={{ $execution }}"},{"name":"node_version","value":"={{ $nodeVersion }}"}]},"options":{}},"id":"71e51066-837b-4c6a-9ebc-19f315505ccb","name":"ERRO AUTUN","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,840]},{"parameters":{"method":"POST","url":"https://api.contaazul.com/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"search","value":"={{ $('Infos').item.json.cpfCnpj }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token - Conta Azul').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{$('Infos').item.json[\"Name\"]}}\",\n  \"email\": \"{{$('Infos').item.json[\"Email\"]}}\",\n  \"mobile_phone\": \"{{$('Infos').item.json[\"PhoneNumber\"]}}\",\n  \"business_phone\": \"{{$('Infos').item.json[\"PhoneNumber\"]}}\",\n  \"person_type\": \"NATURAL\",\n  \"document\": \"{{ $('Infos').item.json[\"cpfCnpj\"] }}\",\n  \"date_of_birth\": \"1988-12-23T08:32:10.118-05\",\n  \"notes\": \"Criado via Server - Vindo de lastlink.\",\n  \"contacts\": [\n    {\n      \"name\": \"{{$('Infos').item.json[\"Name\"]}}\",\n      \"business_phone\": \"{{$('Infos').item.json[\"PhoneNumber\"]}}\",\n      \"email\": \"{{$('Infos').item.json[\"Email\"]}}\"\n    }\n  ],\n  \"address\": {\n    \"zip_code\": \"{{$('Infos').item.json[\"ZipCode\"]}}\",\n    \"street\": \"{{$('Infos').item.json[\"Street\"]}}\",\n    \"number\": \"{{$('Infos').item.json[\"StreetNumber\"]}}\",\n    \"complement\": \"{{$('Infos').item.json[\"Complement\"]}}\",\n    \"neighborhood\": \"{{$('Infos').item.json[\"Neighborhood\"]}}\"\n  }\n}","options":{}},"id":"f925692d-48b3-4842-9ecd-bc08c2894750","name":"Create Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,500],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2bc284d5-582f-49ef-bd0e-12decc77f469","leftValue":"={{ $json.error.message }}","rightValue":"CPF inválido","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"7d66e552-3d56-47fc-83f3-f0734aa8623e","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[2660,740]},{"parameters":{"errorMessage":"Ops"},"id":"09b65c68-250f-4687-9ee8-f8e2f529c07c","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2880,860]},{"parameters":{"method":"POST","url":"https://api.contaazul.com/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"search","value":"={{ $('Infos').item.json.cpfCnpj }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token - Conta Azul').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{$('Infos').item.json[\"Name\"]}}\",\n  \"email\": \"{{$('Infos').item.json[\"Email\"]}}\",\n  \"mobile_phone\": \"{{$('Infos').item.json[\"PhoneNumber\"]}}\",\n  \"business_phone\": \"{{$('Infos').item.json[\"PhoneNumber\"]}}\",\n  \"person_type\": \"NATURAL\",\n  \"document\": \"\",\n  \"date_of_birth\": \"1988-12-23T08:32:10.118-05\",\n  \"notes\": \"Criado via Server - Vindo de lastlink.\",\n  \"contacts\": [\n    {\n      \"name\": \"{{$('Infos').item.json[\"Name\"]}}\",\n      \"business_phone\": \"{{$('Infos').item.json[\"PhoneNumber\"]}}\",\n      \"email\": \"{{$('Infos').item.json[\"Email\"]}}\"\n    }\n  ],\n  \"address\": {\n    \"zip_code\": \"{{$('Infos').item.json[\"ZipCode\"]}}\",\n    \"street\": \"{{$('Infos').item.json[\"Street\"]}}\",\n    \"number\": \"{{$('Infos').item.json[\"StreetNumber\"]}}\",\n    \"complement\": \"{{$('Infos').item.json[\"Complement\"]}}\",\n    \"neighborhood\": \"{{$('Infos').item.json[\"Neighborhood\"]}}\"\n  }\n}","options":{}},"id":"430f322c-4c4a-4ae2-b631-a3a305a82b85","name":"Create Customer1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,580],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.contaazul.com/v1/sales","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Token - Conta Azul').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"emission\": \"{{$('Infos').item.json[\"CreatedAt\"]}}\",\n  \"status\": \"PENDING\",\n  \"customer_id\": \"{{$json.id}}\",\n  \"services\": [\n      {\n        \"description\": \"Assinatura - LastLink - API Server\",\n        \"quantity\": 1,\n        \"service_id\": \"6f7c044a-a00e-467b-9a8a-57c3c674669a\",\n        \"value\": {{$('Infos').item.json[\"Value\"]}}\n      }\n    ],\n  \"payment\": {\n    \"type\": \"CASH\",\n    \"method\": \"{{$('Infos').item.json[\"PaymentMethod\"]}}\",\n    \"installments\": [\n      {\n        \"number\": 1,\n        \"value\": {{$('Infos').item.json[\"Value\"]}},\n        \"due_date\": \"{{$('Infos').item.json[\"CreatedAt\"]}}\",\n        \"status\": \"PENDING\",\n        \"note\": \"NOTE\",\n        \"hasBillet\": true\n      }\n    ],\n    \"financial_account_id\": \"a8aa1036-8538-41ee-a4c1-eb86aafb413c\"\n  },\n  \"notes\": \"Venda Cadastrada via Server\"\n}","options":{}},"id":"6914c575-a89a-424d-a22f-3ff3e5e155f3","name":"Cadastra Venda","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,340],"alwaysOutputData":true},{"parameters":{"httpMethod":"POST","path":"fe9bb44e-f92a-473b-9930-4afffe1bf9ec","authentication":"basicAuth","options":{}},"id":"067c3da8-a7cd-4393-85c2-2800c87a82b9","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[920,360],"webhookId":"fe9bb44e-f92a-473b-9930-4afffe1bf9ec","credentials":{"httpBasicAuth":{"id":"Ns1zICd2Z2BVvc96","name":"Pedro Pedro"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let texto1, texto2;\n\n  try {\n    texto1 = $item(\"0\").$node[\"Webhook\"].json.body.Data.Purchase.Payment.PaymentMethod;\n    if(texto1){\n      texto1 = texto1.toUpperCase();\n    }\n  } catch (error) {\n    // Se o nó \"webhook\" não foi executado ou não existe\n    texto1 = null;\n  }\n  item.json.body.Data.Purchase.Payment.PaymentMethod = texto1;\n}\nreturn $input.all();"},"id":"ba8838dd-f5d5-4071-8931-b2f550d5b766","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,360]}],"connections":{"Exist":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Get Customer CPF CNPJ","type":"main","index":0}]]},"Get Customer Email":{"main":[[{"node":"Exist","type":"main","index":0}]]},"Get Customer CPF CNPJ":{"main":[[{"node":"Exist1","type":"main","index":0}]]},"Exist1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Create Customer","type":"main","index":0}]]},"Get Token - Conta Azul":{"main":[[{"node":"Get Customer Email","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Cadastra Venda","type":"main","index":0}]]},"Infos":{"main":[[{"node":"Get Token - Conta Azul","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ERRO AUTUN","type":"main","index":0}]]},"Create Customer":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create Customer1","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Create Customer1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Infos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"workflows.dev.cmos.ai","user-agent":"axios/1.6.7","content-length":"1434","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","authorization":"Basic cGVkcm86cGVkcm8=","content-type":"application/json","x-forwarded-for":"35.173.90.103","x-forwarded-host":"workflows.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c6078aa02f74","x-real-ip":"35.173.90.103"},"params":{},"query":{},"body":{"Id":"a371a50c-6c8f-11ef-8eb2-0e34ae58072f","IsTest":false,"Event":"Purchase_Order_Confirmed","CreatedAt":"2024-09-06T20:36:05","Data":{"Products":[{"Id":"8b788818-f2fe-43ef-965d-297959853240","Name":"The CMOs Membership"}],"Buyer":{"Id":"386fe61a-76a6-441f-8720-3add5e0fa76d","Email":"teste@pedroscardua.com.br","Name":"Pedro Completo","PhoneNumber":"+5527993160804","Document":"11574831780","Address":{"ZipCode":"04727000","Street":"Rua Bragança Paulista","StreetNumber":"409","District":"Vila Cruzeiro","City":"São Paulo","State":"SP"}},"Seller":{"Id":"8cb52d5a-3344-4a23-857a-b77aab80da2f","Email":"gustavo@thecmosmarketers.digital"},"Commissions":[{"Value":2.68,"Source":"MARKETPLACE"},{"Value":2.32,"Source":"PRODUCER"},{"Value":0,"Source":"COPRODUCER"},{"Value":0,"Source":"AFFILIATE"}],"Purchase":{"PaymentId":"a7253171-fac8-4867-8b1a-d101242e6660","Recurrency":12,"PaymentDate":"2024-09-06T20:35:54","OriginalPrice":{"Value":5},"Price":{"Value":5},"Payment":{"NumberOfInstallments":1,"PaymentMethod":"credit_card","InterestRateAmount":0}},"Subscriptions":[{"Id":"f555e531-d263-4633-9f41-25bf333995d5","ProductId":"8b788818-f2fe-43ef-965d-297959853240"}],"Offer":{"Id":"ee3af17c-8b21-4ab9-a10f-d15264503b82","Name":"The CMOs Membership - Pro"},"Utm":{},"DeviceInfo":{"UserAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36","ip":"191.13.253.170"}}},"webhookUrl":"https://webhooks.dev.cmos.ai/data/fe9bb44e-f92a-473b-9930-4afffe1bf9ec","executionMode":"test"}}]},"versionId":"60157700-0bd9-4067-8191-e79605866e07","triggerCount":1,"tags":[{"createdAt":"2024-08-10T02:22:05.137Z","updatedAt":"2024-08-10T02:22:05.137Z","id":"2c0G6e6J4J2pV0Uq","name":"Conta Azul"},{"createdAt":"2024-08-10T19:35:15.704Z","updatedAt":"2024-08-10T19:35:15.704Z","id":"ZvWzZ0ImKrhkBW6U","name":"curso"}]}