new-cron-7TM7kECDBs3Fdvtz.json
{"createdAt":"2025-03-24T19:06:22.017Z","updatedAt":"2025-10-01T03:17:42.793Z","id":"7TM7kECDBs3Fdvtz","name":"NEW CRON","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO table_pg_cron (job_name, schedule, remotejid, action)\nVALUES ('{{ $item(\"0\").$node[\"Edit Fields\"].json[\"job_name\"] }}', '{{ $item(\"0\").$node[\"Edit Fields\"].json[\"schedule\"] }}', '{{ $item(\"0\").$node[\"Edit Fields\"].json[\"remotejid\"] }}', '{{ $item(\"0\").$node[\"Edit Fields\"].json[\"action\"] }}');","options":{}},"id":"a8b84cee-7d8c-411f-9fc7-1c3d394f4dab","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1580,340],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"4a8b41a1-0867-4163-bb4c-f5fbbf7d334f","name":"job_name","value":"={{ $json.body.job_name }}","type":"string"},{"id":"aeb22af8-53de-4e6c-a025-4a30f51b5113","name":"schedule","value":"={{ $json.body.schedule.toDateTime().toUTC() }}","type":"string"},{"id":"340237fd-e38d-46ef-a7a3-8adf5685fe5d","name":"remotejid","value":"={{ $json.body.remotejid}}","type":"string"},{"id":"3f316bc9-297a-4360-a31d-23a75eb5a36e","name":"action","value":"={{ $json.body.action }}","type":"string"}]},"options":{}},"id":"f87dda6d-4662-4a50-9cea-4ecb6030d18a","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,340]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"message_return_later","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"message_return_later"}]},"options":{}},"id":"21b17911-6421-4074-a22d-38bd83658e07","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1180,340]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"769ec195-341b-449b-9963-43e14775325a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[940,660]},{"parameters":{"operation":"executeQuery","query":"   SELECT *\n   FROM table_pg_cron\n   WHERE schedule <= '{{ $json.time }}'\n     AND enabled = true;","options":{}},"id":"2e0263b2-e263-4f9a-9698-6e52e1a7fd9f","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1380,660],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"messages.upsert\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $json.number }}@s.whatsapp.net\",\n      \"fromMe\": false,\n      \"id\": \"3EB0A357424E308EDA598B\"\n    },\n    \"pushName\": \"CRON\",\n    \"message\": {\n      \"conversation\": \"#CMOS <CRON, time_now: {{ $item(\"0\").$node[\"Edit Fields1\"].json[\"time_now\"] }}, Agora é o momento de retornmar a conversa com o usuário>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $json.number }}@s.whatsapp.net\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"388436c7-c173-4f8c-b4d7-f736ba5e3620","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,660]},{"parameters":{"assignments":{"assignments":[{"id":"76cd1e7c-aa29-44ea-a4f6-6ea6e1a0dbc4","name":"number","value":"={{ $json.remotejid.split('@')[0] }}","type":"string"},{"id":"1286028d-7f6e-4db3-817d-b25889f5fdd5","name":"time_now","value":"={{ $json.schedule }}","type":"string"},{"id":"b7ab9435-da5b-491b-880f-14f995f690bc","name":"action_to_execute","value":"message_return_later","type":"string"}]},"options":{}},"id":"d0f18a6e-f7b3-45d0-8fe6-0ed9db669a74","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,660]},{"parameters":{"assignments":{"assignments":[{"id":"3bc8ac21-b142-4a93-a1c7-ddf3fab95aff","name":"time","value":"={{ $now.toUTC() }}","type":"string"}]},"options":{}},"id":"02c57379-52ab-4acd-9433-cd49189059ff","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,660]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"table_pg_cron","mode":"list","cachedResultName":"table_pg_cron"},"columns":{"mappingMode":"defineBelow","value":{"enabled":false,"idd":"={{ $('Postgres1').item.json.idd }}"},"matchingColumns":["idd"],"schema":[{"id":"job_name","displayName":"job_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"schedule","displayName":"schedule","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"method","displayName":"method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headers","displayName":"headers","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"enabled","displayName":"enabled","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"remotejid","displayName":"remotejid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"action","displayName":"action","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"idd","displayName":"idd","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"e576e834-c326-4a63-82f0-69f091f2ed44","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2240,660],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE ultm_int <= NOW() - INTERVAL '2 hours'\n  AND ia_ativa = true\n  AND rmkt_ativado = true\n  AND fluxo = 'cmos'\n  AND (etapa_rmkt <= 1 OR etapa_rmkt IS NULL);","options":{}},"id":"77ba3d93-f093-4662-9506-98ce7a82b367","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1820,1040],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"assignments":{"assignments":[{"id":"3bc8ac21-b142-4a93-a1c7-ddf3fab95aff","name":"time","value":"={{ $now.toUTC() }}","type":"string"}]},"options":{}},"id":"71594f64-8d44-4ad6-844c-1e780b1d5580","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,1040]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"f4fe2443-ac87-4984-a50d-c7e32e94c3c5","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[960,1040]},{"parameters":{"content":"Action em Cron"},"id":"d0846d22-bac2-482a-b94a-c81e3f5a171c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,600]},{"parameters":{"content":"## RMKT"},"id":"b752d685-0f63-4d33-abbf-88c22433d5df","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,1020]},{"parameters":{"content":"## FOLLOW UP"},"id":"3f424afc-80bc-4b6e-93eb-5ac6bde43ef5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,2200]},{"parameters":{"assignments":{"assignments":[{"id":"3bc8ac21-b142-4a93-a1c7-ddf3fab95aff","name":"time","value":"={{ $now.toUTC() }}","type":"string"}]},"options":{}},"id":"59aee6ce-adab-4f3c-b0e2-225ba7cb68d1","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,2220]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"a19104b9-b54f-487d-a2a4-c64b0eadf977","name":"Schedule Trigger2","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[960,2220]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"message_return_later","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"message_return_later"}]},"options":{}},"id":"065dfac6-334e-42df-bf63-edf0b90415df","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1600,660]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE start_time_googlevent <= (NOW() - INTERVAL '3 hours') + INTERVAL '24 hours'\n  AND ia_ativa = true\n  AND rmkt_ativado = false\n  AND fluxo = 'cmos'\n  AND followup_ativado = TRUE\n  AND etapa_followup = '24h';\n","options":{}},"id":"0ca8f7f6-6994-4ad6-a273-122b8dd5e0e7","name":"24H","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,2220],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE start_time_googlevent <= (NOW() - INTERVAL '3 hours') + INTERVAL '2 hours'\n  AND ia_ativa = true\n  AND rmkt_ativado = false\n  AND fluxo = 'cmos'\n  AND followup_ativado = TRUE\n  AND etapa_followup = '2h';\n","options":{}},"id":"469142fb-e814-423c-920c-1230b58b3db5","name":"2H","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,2540],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE start_time_googlevent <= (NOW() - INTERVAL '3 hours') + INTERVAL '10 minutes'\n  AND ia_ativa = true\n  AND rmkt_ativado = false\n  AND fluxo = 'cmos'\n  AND followup_ativado = TRUE\n  AND etapa_followup = '10min';\n","options":{}},"id":"383ae52b-cecf-46f8-9390-5f66674abffc","name":"10MIN","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1340,2840],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"where":{"values":[{"column":"id_googlevent","value":"={{ $json.id_googlevent }}"}]},"options":{}},"id":"331b60d3-cc88-4291-b915-c1025a047f4b","name":"Postgres4","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1600,2220],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"followup_ativado":false,"remoteJid":"={{ $node[\"24H\"].json[\"remoteJid\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"4d168d74-8f06-4d37-ac70-611007958082","name":"Postgres5","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2120,2040],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64e6c419-746a-428a-b1e3-60a05a4f2341","leftValue":"={{ $json.status }}","rightValue":"Cancelado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"022063e7-16b7-482e-b834-bd29a8c7c524","name":"cancelado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,2220]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"followup\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('24H').item.json.remoteJid }}\",\n      \"fromMe\": false,\n      \"id\": \"0\"\n    },\n    \"pushName\": \"{{ $('24H').item.json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#CMOS <FOLLOWUP, informe ao user que falta 24h para a reunião começar, informe o link novamente caso ele queira confirmar ou cancelar>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $('24H').item.json.remoteJid }}\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"2daa18e1-5f05-406c-a3d7-a4e97a80660a","name":"AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,2220]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"where":{"values":[{"column":"id_googlevent","value":"={{ $json.id_googlevent }}"}]},"options":{}},"id":"57f544c8-b915-40ef-8365-bfba356962fb","name":"Postgres6","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1600,2540],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"followup_ativado":false,"remoteJid":"={{ $node[\"2H\"].json[\"remoteJid\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"c0781d98-df33-45d3-8e35-fc3f0ebf0e6a","name":"Postgres7","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2100,2480],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64e6c419-746a-428a-b1e3-60a05a4f2341","leftValue":"={{ $json.status }}","rightValue":"Cancelado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"5e55461a-e0c5-4dd4-8436-2a04a41d9129","name":"cancelado?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,2540]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"followup\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('2H').item.json.remoteJid }}\",\n      \"fromMe\": false,\n      \"id\": \"0\"\n    },\n    \"pushName\": \"{{ $('2H').item.json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#CMOS <FOLLOWUP, informe ao user que falta 2h para a reunião começar, informe o link novamente caso ele queira confirmar ou cancelar>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $('2H').item.json.remoteJid }}\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"9c8aa940-0670-4833-bf78-e09fbce50fd7","name":"AI1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,2620]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meetings","mode":"list","cachedResultName":"meetings"},"where":{"values":[{"column":"id_googlevent","value":"={{ $json.id_googlevent }}"}]},"options":{}},"id":"8335d62e-aa39-4cba-b6b6-a651ee5b9a96","name":"Postgres8","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1600,2840],"credentials":{"postgres":{"id":"CuinLtdgXmuGfzAe","name":"Postgres PUBLIC postgres"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"followup_ativado":false,"remoteJid":"={{ $node[\"10MIN\"].json[\"remoteJid\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"9cfbd4d6-d4c0-4b82-8c96-6ba5ca87ad1c","name":"Postgres9","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2100,2780],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64e6c419-746a-428a-b1e3-60a05a4f2341","leftValue":"={{ $json.status }}","rightValue":"Cancelado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"5c1f3e0a-0758-4d32-817b-cd1f701edbd3","name":"cancelado?2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,2840]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"followup\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $('10MIN').item.json.remoteJid }}\",\n      \"fromMe\": false,\n      \"id\": \"0\"\n    },\n    \"pushName\": \"{{ $('10MIN').item.json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#CMOS <FOLLOWUP, informe ao user que falta 10 MIN para a reunião começar, Tudo pronto para te receber, estamos te esperando.>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $('10MIN').item.json.remoteJid }}\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"6e711313-cf11-483d-8890-4d0df1e2f6e6","name":"AI2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,2920]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $node[\"24H\"].json[\"remoteJid\"] }}","etapa_followup":"2h"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"6fe7f4b0-bf88-439e-9147-ba2a3f6c2e24","name":"Postgres10","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2320,2220],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $node[\"2H\"].json[\"remoteJid\"] }}","etapa_followup":"10min"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"0991fbc6-8b5b-4d53-bee5-73e09fd5643f","name":"Postgres11","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2280,2620],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"followup_ativado":false,"remoteJid":"={{ $node[\"10MIN\"].json[\"remoteJid\"] }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{"replaceEmptyStrings":true}},"id":"69d57e0e-3460-4897-8d81-aed2a0a7e5b1","name":"Postgres12","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2260,2920],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres13').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $node[\"24H\"].json[\"rd_deal_id\"] }}\",\n    \"text\": \"Lembrete de 24h enviado.\"\n  }\n}","options":{}},"id":"121faa55-094d-49a8-b8ea-d53e625d84a6","name":"CRM NOTE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2700,2220]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"30a64d4b-c0c6-4576-b79c-594d415cf5e7","name":"Postgres13","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2500,2220],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres14').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $node[\"2H\"].json[\"rd_deal_id\"] }}\",\n    \"text\": \"Lembrete de 2h enviado.\"\n  }\n}","options":{}},"id":"f05038d4-7ce0-4482-8986-b3aeee539a8a","name":"CRM NOTE1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,2620]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"35c8505e-9b9d-4af6-b112-ea71821cfafe","name":"Postgres14","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2460,2620],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres15').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"activity\": {\n    \"deal_id\": \"{{ $node[\"10MIN\"].json[\"rd_deal_id\"] }}\",\n    \"text\": \"Lembrete de 2h enviado.\"\n  }\n}","options":{}},"id":"c646024b-67c3-4f76-af0d-b92912e4ed00","name":"CRM NOTE2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,2920]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"fb039ad2-660c-4bb5-883b-2a46f5a93ecd","name":"Postgres15","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2460,2920],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $node[\"10MIN\"].json[\"rd_deal_id\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $('Postgres15').item.json.token_crm }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"679c2b23b9d063001f315ed7"}]},"options":{}},"id":"ddefb5b7-5f08-46ed-b37f-35b03123c6e0","name":"Update negociacao","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,2920]},{"parameters":{"assignments":{"assignments":[{"id":"d6b2721d-d1aa-4ca9-9bd2-63c552201a57","name":"test","value":"dd diam koma.  makdmksm akmdksmaldsdDSD\n\ndaklmds\n\na\nsdcmeifm e $r/434%$ˆ$Y$ f;,","type":"string"}]},"options":{}},"id":"dd4a5ebb-35a6-445c-819d-f9b6da0b426b","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,2060]},{"parameters":{"assignments":{"assignments":[{"id":"5a58fd94-3064-4d35-a6b8-242a684263a4","name":"formated","value":"={{ $json.test.trim().replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\"/g, '\\\\\"').replace(/\\\\/g, '\\\\\\\\') }}\n","type":"string"}]},"options":{}},"id":"4182e095-607d-484a-a3fb-a2abca2b1241","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3180,2060]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM rmkt_contextos\nWHERE fluxo = 'cmos'\nORDER BY id ASC;\n","options":{}},"id":"b6025233-27e2-4448-af86-2dde2a4247d8","name":"Postgres16","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1340,1040],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"id":"f73e8064-bfcd-4cea-b6c6-a26854d2111e","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1560,1040]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e8f87a3-3895-4728-bbd8-8aa3f6054cd3","leftValue":"={{ $json.etapa_rmkt }}","rightValue":"","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"id":"488c0d0b-01f8-40e3-80b2-51d962203679","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2040,1040]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $json.remoteJid }}","etapa_rmkt":1},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"99f52dab-0eb8-45e7-8c73-ca32d99bc7f9","name":"Postgres17","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2340,940],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"assignments":{"assignments":[{"id":"ad03fc56-0cd5-4805-a5d9-e4c53a2ed19c","name":"remoteJid","value":"={{ $json.remoteJid }}","type":"string"},{"id":"49dd3921-3983-4c3c-8a5d-4ae6a86857c9","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"60e6d0bb-4437-4646-9539-2dae43609716","name":"etapa_rmkt","value":"={{ $json.etapa_rmkt }}","type":"number"},{"id":"c80ab44b-3792-48b9-849a-e732170c8b76","name":"prompt_rmkt","value":"={{ $item( $json[\"etapa_rmkt\"] - 1 ).$node[\"Postgres16\"].json.contexto }}","type":"string"}]},"options":{}},"id":"5fc94e03-6e82-466d-915e-d41b906db14f","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,1060]},{"parameters":{"method":"POST","url":"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event\": \"followup\",\n  \"instance\": \"TESTE\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $json.remoteJid }}\",\n      \"fromMe\": false,\n      \"id\": \"0\"\n    },\n    \"pushName\": \"{{ $json.nome }}\",\n    \"message\": {\n      \"conversation\": \"#CMOS <{{$json.prompt_rmkt }}>\",\n      \"messageContextInfo\": {\n        \"deviceListMetadata\": {\n          \"senderKeyHash\": \"TFfe9cTMk2zPFQ==\",\n          \"senderTimestamp\": \"1731399298\",\n          \"senderAccountType\": \"E2EE\",\n          \"receiverAccountType\": \"E2EE\",\n          \"recipientKeyHash\": \"D+k4iRGFi9ijtw==\",\n          \"recipientTimestamp\": \"1731288750\"\n        },\n        \"deviceListMetadataVersion\": 2,\n        \"messageSecret\": \"l+TwPuhFnb2I58zHvDoW+yV4FsZU+PfAvVatj1Mr4uY=\"\n      }\n    },\n    \"messageType\": \"conversation\",\n    \"messageTimestamp\": 1731690996,\n    \"instanceId\": \"7cc94892-040e-4bb2-9eeb-e07b45b99bb2\",\n    \"source\": \"web\"\n  },\n  \"destination\": \"https://webhooks.dev.cmos.ai/data/947f7604-ffcc-46b7-bdd3-1e3ca9f86113\",\n  \"date_time\": \"2024-11-15T14:16:36.194Z\",\n  \"sender\": \"{{ $json.remoteJid }}\",\n  \"server_url\": \"https://wspapi.dev.cmos.ai\",\n  \"apikey\": null\n}","options":{}},"id":"6f212433-6d29-45fa-9a12-3291458c5f16","name":"AI3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,1100]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('Edit Fields7').item.json.remoteJid }}","etapa_rmkt":"={{ $('Edit Fields7').item.json.etapa_rmkt + 1 }}","etapa_crm":"entrar_em_rmkt"},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"1a255bdc-f972-4c0b-9596-4b4f27ca15e4","name":"Postgres18","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2900,920],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE ultm_int <= NOW() - INTERVAL '1 day'\n  AND ia_ativa = true\n  AND rmkt_ativado = true\n  AND fluxo = 'cmos'\n  AND (etapa_rmkt = 2);","options":{}},"id":"22e46a02-4b6c-43d5-a734-3e9c19385e14","name":"Postgres19","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1820,1220],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE ultm_int <= NOW() - INTERVAL '3 day'\n  AND ia_ativa = true\n  AND rmkt_ativado = true\n  AND fluxo = 'cmos'\n  AND (etapa_rmkt = 3);","options":{}},"id":"ec99516f-6a8f-4e31-9649-6080bb52dce8","name":"Postgres20","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1820,1400],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE ultm_int <= NOW() - INTERVAL '5 day'\n  AND ia_ativa = true\n  AND rmkt_ativado = true\n  AND fluxo = 'cmos'\n  AND (etapa_rmkt = 4);","options":{}},"id":"1272b784-9a2e-417e-b0f5-7cef6e638723","name":"Postgres21","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1820,1580],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE ultm_int <= NOW() - INTERVAL '7 day'\n  AND ia_ativa = true\n  AND rmkt_ativado = true\n  AND fluxo = 'cmos'\n  AND (etapa_rmkt = 5);","options":{}},"id":"7bfe54bf-e53b-4dc6-88a9-6371a9d782fc","name":"Postgres22","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1820,1740],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM whatsapp_evo_ai\nWHERE ultm_int <= NOW() - INTERVAL '10 day'\n  AND ia_ativa = true\n  AND rmkt_ativado = true\n  AND fluxo = 'cmos'\n  AND (etapa_rmkt = 6);","options":{}},"id":"0758e9a9-f1c3-49dc-8be0-81256a9a3737","name":"Postgres23","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1820,1920],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('Edit Fields').item.json.remotejid }}","rmkt_ativado":false},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"14946589-7c9a-4462-aeed-ddd969926679","name":"Postgres24","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1800,340],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whatsapp_evo_ai","mode":"list","cachedResultName":"whatsapp_evo_ai"},"columns":{"mappingMode":"defineBelow","value":{"remoteJid":"={{ $('Postgres1').item.json.remotejid }}","rmkt_ativado":true},"matchingColumns":["remoteJid"],"schema":[{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"inicio_int","displayName":"inicio_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ultm_int","displayName":"ultm_int","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"ia_ativa","displayName":"ia_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"qtd_interacoes","displayName":"qtd_interacoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"rmkt_ativado","displayName":"rmkt_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"etapa_rmkt","displayName":"etapa_rmkt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_contact_id","displayName":"rd_contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rd_deal_id","displayName":"rd_deal_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etapa_crm","displayName":"etapa_crm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followup_ativado","displayName":"followup_ativado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"etapa_followup","displayName":"etapa_followup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_googlevent","displayName":"id_googlevent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"start_time_googlevent","displayName":"start_time_googlevent","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"d84918d3-e91e-44de-9051-ce7a8cae0ad3","name":"Postgres25","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2440,660],"credentials":{"postgres":{"id":"ReGTsouy9RB3Bhsy","name":"POSTGRES EVO CMOS"}}},{"parameters":{"httpMethod":"POST","path":"39d8619e-53fb-451e-b364-6ccf82915d31","options":{}},"id":"16a8249d-69f7-4ee0-b008-241ec260be89","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[960,340],"webhookId":"39d8619e-53fb-451e-b364-6ccf82915d31"}],"connections":{"Postgres":{"main":[[{"node":"Postgres24","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"Postgres25","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Postgres16","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"24H","type":"main","index":0},{"node":"2H","type":"main","index":0},{"node":"10MIN","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"24H":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"2H":{"main":[[{"node":"Postgres6","type":"main","index":0}]]},"10MIN":{"main":[[{"node":"Postgres8","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"cancelado?","type":"main","index":0}]]},"cancelado?":{"main":[[{"node":"Postgres5","type":"main","index":0}],[{"node":"AI","type":"main","index":0}]]},"AI":{"main":[[{"node":"Postgres10","type":"main","index":0}]]},"Postgres6":{"main":[[{"node":"cancelado?1","type":"main","index":0}]]},"cancelado?1":{"main":[[{"node":"Postgres7","type":"main","index":0}],[{"node":"AI1","type":"main","index":0}]]},"AI1":{"main":[[{"node":"Postgres11","type":"main","index":0}]]},"Postgres8":{"main":[[{"node":"cancelado?2","type":"main","index":0}]]},"cancelado?2":{"main":[[{"node":"Postgres9","type":"main","index":0}],[{"node":"AI2","type":"main","index":0}]]},"AI2":{"main":[[{"node":"Postgres12","type":"main","index":0}]]},"Postgres10":{"main":[[{"node":"Postgres13","type":"main","index":0}]]},"Postgres11":{"main":[[{"node":"Postgres14","type":"main","index":0}]]},"Postgres12":{"main":[[{"node":"Postgres15","type":"main","index":0}]]},"Postgres13":{"main":[[{"node":"CRM NOTE","type":"main","index":0}]]},"Postgres14":{"main":[[{"node":"CRM NOTE1","type":"main","index":0}]]},"CRM NOTE2":{"main":[[{"node":"Update negociacao","type":"main","index":0}]]},"Postgres15":{"main":[[{"node":"CRM NOTE2","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Postgres16":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Postgres3","type":"main","index":0},{"node":"Postgres19","type":"main","index":0},{"node":"Postgres20","type":"main","index":0},{"node":"Postgres21","type":"main","index":0},{"node":"Postgres22","type":"main","index":0},{"node":"Postgres23","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres17","type":"main","index":0}],[{"node":"Edit Fields7","type":"main","index":0}]]},"Postgres17":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Postgres18","type":"main","index":0},{"node":"AI3","type":"main","index":0}]]},"Postgres19":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres20":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres21":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres22":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres23":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2024-11-21T11:53:28.003-03:00","Readable date":"November 21st 2024, 11:53:28 am","Readable time":"11:53:28 am","Day of week":"Thursday","Year":"2024","Month":"November","Day of month":"21","Hour":"11","Minute":"53","Second":"28","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Schedule Trigger1":[{"json":{"timestamp":"2025-02-17T14:09:19.002-03:00","Readable date":"February 17th 2025, 2:09:19 pm","Readable time":"2:09:19 pm","Day of week":"Monday","Year":"2025","Month":"February","Day of month":"17","Hour":"14","Minute":"09","Second":"19","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Schedule Trigger2":[{"json":{"timestamp":"2025-03-06T10:30:59.002-03:00","Readable date":"March 6th 2025, 10:30:59 am","Readable time":"10:30:59 am","Day of week":"Thursday","Year":"2025","Month":"March","Day of month":"06","Hour":"10","Minute":"30","Second":"59","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Postgres19":[{"json":{"remoteJid":"5527993160804@s.whatsapp.net","nome":"Carlos 300125","inicio_int":null,"ultm_int":"2025-02-16T17:08:41.497Z","ia_ativa":true,"qtd_interacoes":46,"rmkt_ativado":true,"etapa_rmkt":2,"fluxo":"cmos","rd_contact_id":"679c2c6751b9e9000113c6d3","rd_deal_id":"679c5453f824d654975822e7","email":"carlos300125@gmail.com","etapa_crm":"Empty","followup_ativado":false,"etapa_followup":"10min","id_googlevent":"opapqvgrb7cq2dkqvcblu3gb44","start_time_googlevent":"2025-02-03T09:00:00.000Z"}}],"Webhook":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","user-agent":"axios/1.7.4","content-length":"153","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"35.173.90.103","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"195345ad3e12","x-real-ip":"35.173.90.103"},"params":{},"query":{},"body":{"action":"message_return_later","remotejid":"553391152081@s.whatsapp.net","job_name":"Follow-up com Leonardo","schedule":"2025-03-02T13:00:00.000-03:00"},"webhookUrl":"https://webhooks.dev.cmos.ai/data/39d8619e-53fb-451e-b364-6ccf82915d31","executionMode":"production"}}]},"versionId":"94add1aa-59d5-4194-87e6-90f8c332268f","triggerCount":4,"tags":[]}