processa-venda-ti7UPsx9fDJqQ8Y6.json
{"createdAt":"2024-08-10T02:31:03.715Z","updatedAt":"2025-10-01T03:17:57.562Z","id":"ti7UPsx9fDJqQ8Y6","name":"Processa Venda","active":false,"nodes":[{"parameters":{"queue":"vendas","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"},{"key":"x-max-length","value":"1"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":10}},"id":"36fbbb90-461b-4922-ab05-2ae11a657534","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[120,220],"credentials":{"rabbitmq":{"id":"LFeAQn4uH3mp3JDT","name":"RabbitMQ account"}}},{"parameters":{"content":"Verifica qual plano comprado","height":336.20472440944843},"id":"9e300fea-5181-4aba-95d1-e6b8e6319f10","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[280,80]},{"parameters":{"content":"Define parametro do plano","height":564.1102362204713},"id":"6ce2a8e9-af57-4a30-a020-1650e3898d6a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-20]},{"parameters":{"assignments":{"assignments":[{"id":"6d9a6201-4a19-421c-8a6f-fa23d4dfb878","name":"rd_event","value":"onboarding-membership-pro","type":"string"},{"id":"2cbd1bfe-22d3-4e92-84c5-e53a0f8c1772","name":"Accounts","value":"[\"kajabi\",\"circle\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"185311c2-6769-4cdc-a3c7-7ad3f3ddc58b","name":"Pro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,400]},{"parameters":{"assignments":{"assignments":[{"id":"6d9a6201-4a19-421c-8a6f-fa23d4dfb878","name":"rd_event","value":"onboarding-membership-essential","type":"string"},{"id":"2cbd1bfe-22d3-4e92-84c5-e53a0f8c1772","name":"Accounts","value":"[\"circle\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"56edaec9-fd27-47f1-be8e-94224b69896e","name":"Essencial","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,220]},{"parameters":{"assignments":{"assignments":[{"id":"6d9a6201-4a19-421c-8a6f-fa23d4dfb878","name":"rd_event","value":"onboarding-membership-advanced","type":"string"},{"id":"2cbd1bfe-22d3-4e92-84c5-e53a0f8c1772","name":"Accounts","value":"[\"kajabi\",\"circle\",\"cmosai\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"85c088c2-27af-451a-8a40-08d04851233d","name":"Advenced","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,40]},{"parameters":{},"id":"1138e074-56a3-42e9-9a97-62f76e76c2a4","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[480,600]},{"parameters":{"method":"POST","url":"https://workflows.audracs.com.br/data/erros-clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTE2Zjg1LTM4ZjEtNDc0Ni04YzM4LWRiODNlODQ5MWI5OSIsImVtYWlsIjoiZ3VzdGF2b0B0aGVjbW9zbWFya2V0ZXJzLmRpZ2l0YWwiLCJjbGllbnQiOiJUaGUgQ01PcyIsImlhdCI6MTcyMzU2MjUzMH0.RCaHae2p3OIOeMW6B7HOM6k2Zgj9ENAPg0jTuJ_pmeI"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"erro_workflow","value":"=https://workflows.dev.cmos.ai/workflow/ti7UPsx9fDJqQ8Y6"},{"name":"=execution","value":"={{ $execution }}"},{"name":"node_version","value":"={{ $nodeVersion }}"}]},"options":{}},"id":"ecf783f8-5b1c-463c-93d6-436c956e7338","name":"ERRO AUTUN","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,600]},{"parameters":{"workflowId":"ss2QrB4TU63VtHOS","options":{}},"id":"16e9e250-082f-48c7-af52-1842abae3f08","name":"Nota Fiscal","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[980,-80]},{"parameters":{"workflowId":"Z4yCcXUosk03EqCp","options":{}},"id":"a9342a08-fb9c-425b-9e30-655d85891778","name":"Cria Contas","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[980,80]},{"parameters":{"workflowId":"ss2QrB4TU63VtHOS","options":{}},"id":"c0a4adad-67b4-46cf-9635-b954f2314d3c","name":"Nota Fiscal1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1240,280]},{"parameters":{"workflowId":"Z4yCcXUosk03EqCp","options":{}},"id":"10b86dd3-4064-4896-a239-7aba73e5210e","name":"Cria Contas1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1240,440]},{"parameters":{"workflowId":"ss2QrB4TU63VtHOS","options":{}},"id":"da74a4b8-f3b9-4377-8b08-0c918d2b3b7c","name":"Nota Fiscal2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1020,520]},{"parameters":{"workflowId":"Z4yCcXUosk03EqCp","options":{}},"id":"4d495430-c910-4d42-a6fe-d4abc2c11922","name":"Cria Contas2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1020,680]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"Data\"][\"Offer\"][\"Name\"] }}","rightValue":"Advanced","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Advanced"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"16e384cc-d0a8-4796-a4e2-7c26d3c30c6a","leftValue":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"Data\"][\"Offer\"][\"Name\"] }}","rightValue":"Essential","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Essential"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"36af512f-6669-452a-95af-d318869d7d9f","leftValue":"={{ $item(\"0\").$node[\"RabbitMQ Trigger\"].json[\"body\"][\"Data\"][\"Offer\"][\"Name\"] }}","rightValue":"Pro","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pro"}]},"options":{"allMatchingOutputs":true}},"id":"a4f63ed5-a7fc-419b-8455-21aead90719d","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[340,220]}],"connections":{"RabbitMQ Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Pro":{"main":[[{"node":"Nota Fiscal2","type":"main","index":0},{"node":"Cria Contas2","type":"main","index":0}]]},"Essencial":{"main":[[{"node":"Nota Fiscal1","type":"main","index":0},{"node":"Cria Contas1","type":"main","index":0}]]},"Advenced":{"main":[[{"node":"Nota Fiscal","type":"main","index":0},{"node":"Cria Contas","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ERRO AUTUN","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Advenced","type":"main","index":0}],[{"node":"Essencial","type":"main","index":0}],[{"node":"Pro","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RabbitMQ Trigger":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","content-length":"1444","accept":"application/json","accept-encoding":"gzip, deflate","content-type":"application/json; charset=utf-8","traceparent":"00-291645ed4ced2d60c0da0365951e554b-d4ab50eaeb7b73a7-01","x-forwarded-for":"3.80.173.39","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c6078aa02f74","x-lastlink-token":"d9203d26ec584a409476976a3163e2a4","x-real-ip":"3.80.173.39"},"params":{},"query":{},"body":{"Id":"a371a50c-6c8f-11ef-8eb2-0e34ae58072f","IsTest":false,"Event":"Purchase_Order_Confirmed","CreatedAt":"2024-09-06T20:36:05","Data":{"Products":[{"Id":"8b788818-f2fe-43ef-965d-297959853240","Name":"The CMOs Membership"}],"Buyer":{"Id":"386fe61a-76a6-441f-8720-3add5e0fa76d","Email":"teste@pedroscardua.com.br","Name":"Pedro Completo","PhoneNumber":"+5527993160804","Document":"11574831780","Address":{"ZipCode":"04727000","Street":"Rua Bragança Paulista","StreetNumber":"409","District":"Vila Cruzeiro","City":"São Paulo","State":"SP"}},"Seller":{"Id":"8cb52d5a-3344-4a23-857a-b77aab80da2f","Email":"gustavo@thecmosmarketers.digital"},"Commissions":[{"Value":2.68,"Source":"MARKETPLACE"},{"Value":2.32,"Source":"PRODUCER"},{"Value":0,"Source":"COPRODUCER"},{"Value":0,"Source":"AFFILIATE"}],"Purchase":{"PaymentId":"a7253171-fac8-4867-8b1a-d101242e6660","Recurrency":12,"PaymentDate":"2024-09-06T20:35:54","OriginalPrice":{"Value":5},"Price":{"Value":5},"Payment":{"NumberOfInstallments":1,"PaymentMethod":"credit_card","InterestRateAmount":0}},"Subscriptions":[{"Id":"f555e531-d263-4633-9f41-25bf333995d5","ProductId":"8b788818-f2fe-43ef-965d-297959853240"}],"Offer":{"Id":"ee3af17c-8b21-4ab9-a10f-d15264503b82","Name":"The CMOs Membership - Pro"},"Utm":{},"DeviceInfo":{"UserAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36","ip":"191.13.253.170"}}},"webhookUrl":"https://webhooks.dev.cmos.ai/data/ae1bbc2c-532c-451c-8d67-aae30585ee13","executionMode":"production"}}]},"versionId":"6c5f472a-c933-4ffc-85d3-33ebeea2f87c","triggerCount":1,"tags":[{"createdAt":"2024-08-10T02:30:52.466Z","updatedAt":"2024-08-10T02:30:52.466Z","id":"jWvSVV3Xdoqxygwy","name":"rabbitmq"},{"createdAt":"2024-08-10T19:35:15.704Z","updatedAt":"2024-08-10T19:35:15.704Z","id":"ZvWzZ0ImKrhkBW6U","name":"curso"},{"createdAt":"2024-08-13T15:34:08.565Z","updatedAt":"2024-08-13T15:34:08.565Z","id":"9ovON0mN3y4tXvZZ","name":"processamento"}]}