processa-fim-de-periodo-cMltxGdJl1x47XdP.json
{"createdAt":"2024-08-10T18:32:09.739Z","updatedAt":"2025-10-01T03:18:00.157Z","id":"cMltxGdJl1x47XdP","name":"Processa Fim de periodo","active":false,"nodes":[{"parameters":{"queue":"vendasfim","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"onlyContent":true,"parallelMessages":10}},"id":"6cd592c5-c7ee-4b20-bb28-83d8e4376557","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[120,220],"credentials":{"rabbitmq":{"id":"LFeAQn4uH3mp3JDT","name":"RabbitMQ account"}}},{"parameters":{"content":"Verifica qual plano comprado","height":336.20472440944843},"id":"b43c9e00-d4f8-4024-8d98-0150195f63af","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[280,80]},{"parameters":{"content":"Define parametro do plano","height":564.1102362204713},"id":"b8f637c6-bc84-45df-b821-a40c8c923672","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-20]},{"parameters":{"assignments":{"assignments":[{"id":"6d9a6201-4a19-421c-8a6f-fa23d4dfb878","name":"rd_event","value":"onboarding-membership-advanced","type":"string"},{"id":"2cbd1bfe-22d3-4e92-84c5-e53a0f8c1772","name":"Accounts","value":"[\"kajabi\",\"circle\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"7075f97b-3e15-4b1e-ade6-1e7eff3f5e4f","name":"Pro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.Data.Products[0].Name }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"16e384cc-d0a8-4796-a4e2-7c26d3c30c6a","leftValue":"={{ $json.Data.Products[0].Name }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"36af512f-6669-452a-95af-d318869d7d9f","leftValue":"={{ $json.Data.Products[0].Name }}","rightValue":"Pró","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pro"}]},"options":{}},"id":"0181e10e-cc2f-4716-bed2-7ec12c36138c","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[340,220]},{"parameters":{"assignments":{"assignments":[{"id":"6d9a6201-4a19-421c-8a6f-fa23d4dfb878","name":"rd_event","value":"onboarding-membership-essential","type":"string"},{"id":"2cbd1bfe-22d3-4e92-84c5-e53a0f8c1772","name":"Accounts","value":"[\"circle\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"a98f3d6d-5074-4709-84fa-27c5ef8f72b7","name":"Essencial","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,220]},{"parameters":{"assignments":{"assignments":[{"id":"6d9a6201-4a19-421c-8a6f-fa23d4dfb878","name":"rd_event","value":"onboarding-membership-advanced","type":"string"},{"id":"2cbd1bfe-22d3-4e92-84c5-e53a0f8c1772","name":"Accounts","value":"[\"kajabi\",\"circle\",\"cmosai\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"id":"c989e93a-8d5a-47ba-9c71-b784272fd861","name":"Advenced","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,40]},{"parameters":{},"id":"5e9e4f22-2a58-40b9-9f36-c2367694ab56","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[500,580]},{"parameters":{"method":"POST","url":"https://workflows.audracs.com.br/data/erros-clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTE2Zjg1LTM4ZjEtNDc0Ni04YzM4LWRiODNlODQ5MWI5OSIsImVtYWlsIjoiZ3VzdGF2b0B0aGVjbW9zbWFya2V0ZXJzLmRpZ2l0YWwiLCJjbGllbnQiOiJUaGUgQ01PcyIsImlhdCI6MTcyMzU2MjUzMH0.RCaHae2p3OIOeMW6B7HOM6k2Zgj9ENAPg0jTuJ_pmeI"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"erro_workflow","value":"=https://workflows.dev.cmos.ai/workflow/cMltxGdJl1x47XdP"},{"name":"=execution","value":"={{ $execution }}"},{"name":"node_version","value":"={{ $nodeVersion }}"}]},"options":{}},"id":"a9cb681d-26b0-4c4c-88b5-a961b7081ecb","name":"ERRO AUTUN","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,580]},{"parameters":{"workflowId":"zZ69qnCYUxu3YUEN","options":{}},"id":"c35f008e-bab0-4814-aa70-d3e687702daa","name":"Remove Contas","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[960,220]}],"connections":{"RabbitMQ Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Pro":{"main":[[{"node":"Remove Contas","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Advenced","type":"main","index":0}],[{"node":"Essencial","type":"main","index":0}],[{"node":"Pro","type":"main","index":0}]]},"Essencial":{"main":[[{"node":"Remove Contas","type":"main","index":0}]]},"Advenced":{"main":[[{"node":"Remove Contas","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ERRO AUTUN","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"RabbitMQ Trigger":[{"json":{"Id":"4807b619-49ff-11ef-a6bd-0e34ae58072f","IsTest":false,"Event":"Purchase_Order_Confirmed","CreatedAt":"2024-07-24T20:57:04","Data":{"Products":[{"Id":"5df585ee-4be7-47ee-9544-5a449d3c89a1","Name":"Assinatura Membership The CMOs Marketers - Plano Pró"}],"Buyer":{"Id":"6bac110a-xxxx-xxxx-xxxx-efa0a3e0f76c","Email":"pedro+teste@autun.com.br","Name":"Teste Autun","PhoneNumber":"+5527993160804","Document":"11574831780","Address":{"ZipCode":"04711030","Street":"Rua Enxovia","StreetNumber":"472","District":"Vila sao francisco","City":"Sao paulo","State":"SP"}},"Seller":{"Id":"8cb52d5a-3344-4a23-857a-b77aab80da2f","Email":"gustavo@thecmosmarketers.digital"},"Commissions":[{"Value":62.26,"Source":"MARKETPLACE"},{"Value":1435.94,"Source":"PRODUCER"},{"Value":0,"Source":"COPRODUCER"},{"Value":0,"Source":"AFFILIATE"}],"Purchase":{"PaymentId":"268bbbed-772c-4abb-be6b-2a828f9d9de9","Recurrency":12,"PaymentDate":"2024-07-24T20:56:51","OriginalPrice":{"Value":1498.2},"Price":{"Value":1823.99},"Payment":{"NumberOfInstallments":12,"PaymentMethod":"credit_card","InterestRateAmount":325.79}},"Subscriptions":[{"Id":"80dc1b62-97df-4a54-a318-b39605aafcd1","ProductId":"5df585ee-4be7-47ee-9544-5a449d3c89a1","Offer":{"Id":"7042e0fa-7f3c-4afb-924b-9c9d98155778","Name":"Assinatura The CMOs Marketers - Plano Pró"}}],"Utm":{"DeviceInfo":{"UserAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36","ip":"170.231.44.120","querystring":""}}}}}]},"versionId":"0b7faf11-585e-4475-9333-bf20d48a95d7","triggerCount":1,"tags":[{"createdAt":"2024-08-10T02:30:52.466Z","updatedAt":"2024-08-10T02:30:52.466Z","id":"jWvSVV3Xdoqxygwy","name":"rabbitmq"},{"createdAt":"2024-08-10T19:35:15.704Z","updatedAt":"2024-08-10T19:35:15.704Z","id":"ZvWzZ0ImKrhkBW6U","name":"curso"}]}