refresh-tokens-lRvumZwXysgNNVyJ.json
{"createdAt":"2024-08-02T21:41:13.641Z","updatedAt":"2025-10-01T03:17:54.386Z","id":"lRvumZwXysgNNVyJ","name":"Refresh tokens","active":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conta_azul","mode":"list","cachedResultName":"conta_azul"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"92dabb05-3c76-4b42-8927-16bee75a8e88","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[600,340],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conta_azul","mode":"list","cachedResultName":"conta_azul"},"columns":{"mappingMode":"defineBelow","value":{"id":1,"refresh_token":"={{ $json.refresh_token }}","token":"={{ $json.access_token }}"},"matchingColumns":["id"],"schema":[{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"783729d1-d676-4333-b7c1-459e3e166763","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1000,340],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://api.contaazul.com/oauth2/token","sendQuery":true,"queryParameters":{"parameters":[{"name":"refresh_token","value":"={{ $json.refresh_token }}"},{"name":"grant_type","value":"refresh_token"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic anVsbzJzWnd5U25zVGRYUnhVcmhDUDVmZHA4QUkycHo6Q3ROb0Qza0s0aVdDRk5EZHNicFFJb0hjNmlrb04yc2g="}]},"options":{}},"id":"c78a2aa0-5c51-4297-b7cf-ee4978e038ca","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,340]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"d268ef7f-f1b5-4f68-ac65-86e510f9c001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[400,340]},{"parameters":{"content":"## Each 30 minutes\n**Refresh tokens**\n","height":294,"width":242},"id":"f5ba0ab2-7988-48b0-a5f5-d027aececc59","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,200]},{"parameters":{"content":" Read refresh_token","height":294,"width":173,"color":4},"id":"b6d8265d-27fe-48a8-81b0-e30c3ec540d5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,200]},{"parameters":{"content":"Refresh token - Conta Azul","height":294,"width":173,"color":4},"id":"8526fbfe-1a8e-4083-bce9-c5e6a6f2b353","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,200]},{"parameters":{"content":" Update refresh_token & token","height":294,"width":173,"color":4},"id":"711de291-c9b1-4f80-b747-17c9d37bd3c8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,200]},{"parameters":{},"id":"3d5d8db9-b920-4459-9462-920fe5b427bb","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[560,600]},{"parameters":{"method":"POST","url":"https://workflows.audracs.com.br/data/erros-clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTE2Zjg1LTM4ZjEtNDc0Ni04YzM4LWRiODNlODQ5MWI5OSIsImVtYWlsIjoiZ3VzdGF2b0B0aGVjbW9zbWFya2V0ZXJzLmRpZ2l0YWwiLCJjbGllbnQiOiJUaGUgQ01PcyIsImlhdCI6MTcyMzU2MjUzMH0.RCaHae2p3OIOeMW6B7HOM6k2Zgj9ENAPg0jTuJ_pmeI"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"erro_workflow","value":"=https://workflows.dev.cmos.ai/workflow/lRvumZwXysgNNVyJ"},{"name":"=execution","value":"={{ $execution }}"},{"name":"node_version","value":"={{ $nodeVersion }}"}]},"options":{}},"id":"4c78a4d4-7fc7-489b-b944-38097f146687","name":"ERRO AUTUN","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,600]},{"parameters":{"content":"RD STATION - AI\n\nclient_id:482f6466-c087-415d-b493-c741987e7dd2\n\nclient_secret:081ac82e15bf4d60a9c11073f5eca25f\n\nstep2\n-https://www.google.com/?code=39f1155a6f26264d13f3f15c3d20f0af","height":244.02699662542176,"width":419.1901012373452},"id":"acd8aeda-145a-46d4-880c-bb737390a1b9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,600]},{"parameters":{"method":"POST","url":"https://api.rd.services/auth/token","sendQuery":true,"queryParameters":{"parameters":[{"name":"token_by","value":"39f1155a6f26264d13f3f15c3d20f0af"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"482f6466-c087-415d-b493-c741987e7dd2"},{"name":"client_secret","value":"081ac82e15bf4d60a9c11073f5eca25f"},{"name":"code","value":"39f1155a6f26264d13f3f15c3d20f0af"}]},"options":{}},"id":"e1ee0832-867e-4fe4-8caf-5a0243a79c55","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,880]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"limit":1,"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"id":"abdc0857-f12c-4300-8c3c-73c6fd0fda8b","name":"Postgres2","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,820],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://api.rd.services/auth/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"482f6466-c087-415d-b493-c741987e7dd2"},{"name":"client_secret","value":"081ac82e15bf4d60a9c11073f5eca25f"},{"name":"refresh_token","value":"={{ $json.refresh_token }}"}]},"options":{}},"id":"a900cc1b-fd50-4b7e-9135-059feb4b8c01","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,820]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"rdstation","mode":"list","cachedResultName":"rdstation"},"columns":{"mappingMode":"defineBelow","value":{"id":1,"refresh_token":"={{ $json.refresh_token }}","token":"={{ $json.access_token }}"},"matchingColumns":["id"],"schema":[{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"43ce4ff2-864f-4184-b883-90c4e7fa833f","name":"Postgres3","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1540,820],"credentials":{"postgres":{"id":"mKPhiJHIErXnxKWZ","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"id":"6dd0b446-770b-47a4-a6db-a8525662bd03","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[920,820]}],"connections":{"Postgres":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ERRO AUTUN","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Postgres2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"none","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"HTTP Request1":[{"json":{"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5yZC5zZXJ2aWNlcyIsInN1YiI6IllBMGlRb3NnUHB5MF9VTGcyeUYtVUFrWWI0akVqa2pZTUkzd3V6MEZMOFlAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vYXBwLnJkc3RhdGlvbi5jb20uYnIvYXBpL3YyLyIsImFwcF9uYW1lIjoiU2VydmVybGVzcyBBSSBOOE4gMjAyNSIsImV4cCI6MTczODM3NjA4NywiaWF0IjoxNzM4Mjg5Njg3LCJzY29wZSI6IiJ9.UipJm3vJdDlGZVGq9AP_XZvV8hnn_INhT2_Gvkx_UMWUcUXAAc3ALvOp_HF1lchc8y6Axi7FMBBv54z7PLTXB4Ru7GaA6UH_BuP-fN13hEp6u3Yar8fZPZW2OUx2sC_9SR30kOrLdfzhXQDX8KfAo5sdgojgqIWIzmgFZwoT-P1_TYz8lml8ACepSTirnJZu2V72SnhKb9hwEs8-UTH2OyQ8lXPfoksy5Zs8ICCopPNH1OmvQlB7as3VQX09Em8DdEAgRaMAtQXGOXQr4AmcUlekC6hHXsfU1T-cJu4QKq9bTRNn6eAAWi9EhhGU6QTdKwgfRyCYgxRk_6IKvew3cA","expires_in":86400,"refresh_token":"PvGtY5Jp40HIiOQ-8xazpV30O1jEEnWtkfkLTIBiGx0"}}]},"versionId":"38a0ea02-96e6-487e-8c2f-f1db7ec2c5c7","triggerCount":2,"tags":[{"createdAt":"2024-08-10T19:35:15.704Z","updatedAt":"2024-08-10T19:35:15.704Z","id":"ZvWzZ0ImKrhkBW6U","name":"curso"},{"createdAt":"2024-08-10T02:22:05.137Z","updatedAt":"2024-08-10T02:22:05.137Z","id":"2c0G6e6J4J2pV0Uq","name":"Conta Azul"},{"createdAt":"2025-01-31T02:21:22.751Z","updatedAt":"2025-01-31T02:21:22.751Z","id":"UdqUccxnmye01Nym","name":"RD Station"}]}