remove-contas-zZ69qnCYUxu3YUEN.json
{"createdAt":"2024-08-10T18:32:53.083Z","updatedAt":"2024-08-14T00:56:41.122Z","id":"zZ69qnCYUxu3YUEN","name":"Remove Contas","active":false,"nodes":[{"parameters":{},"id":"3fdc6624-cde7-4328-b51e-79f90b8a9e9b","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[260,360]},{"parameters":{"method":"DELETE","url":"https://app.circle.so/api/v1/space_group_members","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $json.Data.Buyer.Email }}"},{"name":"space_group_id","value":"132925"},{"name":"community_id","value":"57376"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 3sMv49x6PB2QjsvnVVHw7r8N"}]},"options":{"redirect":{"redirect":{}}}},"id":"0faad1f9-6fcd-44c7-9eaf-ea8f119339d0","name":"Circle","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,360]},{"parameters":{"identifier":"={{ $json.rd_event }}","email":"={{ $json.Data.Buyer.Email }}","additionalFields":{}},"id":"351d0d43-6fe4-488a-9d74-ebad5f33554c","name":"RD Station","type":"@deviobr/n8n-nodes-rdstation.rdStation","typeVersion":1,"position":[480,200],"credentials":{"rdStationOAuth2Api":{"id":"VszZWxzCkFzXNTmO","name":"RD Station CMOS"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.Accounts }}","rightValue":"kajabi","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"kajabi"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ca71620c-90b3-4e9f-ad1f-c115de11a38b","leftValue":"={{ $json.Accounts }}","rightValue":"circle","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"circle"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c830181c-d287-4817-8225-3dafd2e6a6df","leftValue":"={{ $json.Accounts }}","rightValue":"cmosai","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cmosai"}]},"options":{"allMatchingOutputs":true}},"id":"e59d91a0-896f-4bd4-842b-b954be6825e7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[480,360]},{"parameters":{"assignments":{"assignments":[{"id":"6a01fdba-22f2-42ec-bffd-4ebb5274a894","name":"email","value":"={{ $json.body.Data.Member.Email }}","type":"string"},{"id":"09a7985b-3d8d-4310-8693-a057b2ce04d6","name":"externalid","value":"={{ $json.body.Data.Member.Email }}","type":"string"},{"id":"fd0e72fc-e812-443d-a746-797026c74c3c","name":"name","value":"none","type":"string"}]},"options":{}},"id":"d464f5f3-ac00-4536-a31b-72a2b655ba59","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,160]},{"parameters":{"method":"POST","url":"https://workflows.audracs.com.br/data/erros-clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTE2Zjg1LTM4ZjEtNDc0Ni04YzM4LWRiODNlODQ5MWI5OSIsImVtYWlsIjoiZ3VzdGF2b0B0aGVjbW9zbWFya2V0ZXJzLmRpZ2l0YWwiLCJjbGllbnQiOiJUaGUgQ01PcyIsImlhdCI6MTcyMzU2MjUzMH0.RCaHae2p3OIOeMW6B7HOM6k2Zgj9ENAPg0jTuJ_pmeI"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"erro_workflow","value":"=https://workflows.dev.cmos.ai/workflow/zZ69qnCYUxu3YUEN"},{"name":"=execution","value":"={{ $execution }}"},{"name":"node_version","value":"={{ $nodeVersion }}"}]},"options":{}},"id":"d9ec3901-59ec-4b84-982e-72ded77a4a51","name":"ERRO AUTUN","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,640]},{"parameters":{},"id":"625990db-3753-42e1-b391-13509e115295","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[500,640]},{"parameters":{"method":"POST","url":"https://checkout.kajabi.com/webhooks/offers/6AdfGQeVt3PNFti3/2148780943/deactivate","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"id":"943a8f07-fd4e-411d-a02f-f5c353b2d8a6","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,160],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://backend.cmos.ai/api/subscription/automation/revoke","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer gfswqT3JhBT5gFbBuZTrvbj8V5phxvi5"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"name"},{"name":"email"}]},"options":{}},"id":"340fae6e-b29b-4f0b-ac81-2e7def7a1199","name":"CMOS AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,600],"retryOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Circle","type":"main","index":0}],[{"node":"CMOS AI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ERRO AUTUN","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"headers":{"host":"webhooks.dev.cmos.ai","content-length":"436","accept":"application/json","accept-encoding":"gzip, deflate","content-type":"application/json; charset=utf-8","x-forwarded-for":"3.222.188.183","x-forwarded-host":"webhooks.dev.cmos.ai","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c6078aa02f74","x-lastlink-token":"5a1c829a794349159888e922bbd8dcd7","x-real-ip":"3.222.188.183"},"params":{},"query":{},"body":{"Id":"504ab00a-03cd-417d-8a53-26af2bf4afab","IsTest":true,"Event":"Product_Access_Ended","CreatedAt":"2024-08-14T00:44:54","Data":{"Product":{"Id":"8b788818-f2fe-43ef-965d-297959853240","Name":"Assinatura The CMOs "},"Member":{"Id":"28a4b371-6ba3-4be7-807d-70f421c8777a","Email":"contato@lastlink.com"},"AccessType":"subscription","SubscriptionId":"11fa2f0c-98a1-4d3c-ab00-ae48e67f2177","AccessEndedAt":"2024-08-14T00:44:54.4898695Z"}},"webhookUrl":"https://webhooks.dev.cmos.ai/data/fim-lastklink","executionMode":"production","rd_event":"onboarding-membership-advanced","Accounts":["kajabi","circle","cmosai"]}}]},"versionId":"7cee0eba-719a-4fcf-9b79-e14a663072c9","triggerCount":0,"tags":[{"createdAt":"2024-08-10T19:35:15.704Z","updatedAt":"2024-08-10T19:35:15.704Z","id":"ZvWzZ0ImKrhkBW6U","name":"curso"}]}