scoreapp-RE0Bjk2FZuzFl2zy.json
{"createdAt":"2024-08-10T19:56:44.017Z","updatedAt":"2025-10-01T03:18:02.328Z","id":"RE0Bjk2FZuzFl2zy","name":"ScoreApp","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://www.thecmosmarketers.digital/2e6c87d58ea485e8ac73a40135fc5c5b","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"id":"0c6af357-2b55-4c8f-9ec1-3217a9758751","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,140]},{"parameters":{"httpMethod":"POST","path":"624dc9ea-e793-497a-8ea3-46bd1b800195","options":{}},"id":"9e934c81-b676-4e67-b49e-89c39358fca5","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[820,360],"webhookId":"624dc9ea-e793-497a-8ea3-46bd1b800195"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.body.event_name }}","rightValue":"QUIZ_FINISHED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"QUIZ_FINISHED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"745d4d08-07e5-4f0f-b7f3-7146c601cf6e","leftValue":"={{ $json.body.event_name }}","rightValue":"QUIZ_STARTED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"QUIZ_STARTED"}]},"options":{}},"id":"fad2fa9d-fba9-4117-9960-c41aefaf9a21","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1040,360]},{"parameters":{"identifier":"Scorecard-incompleto","email":"={{ $json.body.data.email }}","additionalFields":{"customFields":{"customFieldValues":[{"fieldId":"Name","fieldValue":"={{ $json.body.data.first_name }} {{ $json.body.data.last_name }}"},{"fieldId":"Job Title","fieldValue":"={{ $json.body.data.lead_form_questions[0].answers[0].answer_value }}"},{"fieldId":"Phone","fieldValue":"={{ $json.body.data.lead_form_questions[1].answers[0].answer_value }}"},{"fieldId":"Traffic Source","fieldValue":"={{ $json.body.data.utm_source }}"},{"fieldId":"Traffic Campaign","fieldValue":"={{ $json.body.data.utm_campaign }}"},{"fieldId":"Traffic Medium","fieldValue":"={{ $json.body.data.utm_medium }}"}]}}},"id":"b4de7955-2e00-45f4-a8c4-bb5d02ba1746","name":"RD Station","type":"@deviobr/n8n-nodes-rdstation.rdStation","typeVersion":1,"position":[1260,460],"credentials":{"rdStationOAuth2Api":{"id":"VszZWxzCkFzXNTmO","name":"RD Station CMOS"}}},{"parameters":{"identifier":"scorecard-concluido","email":"={{ $json.body.data.email }}","additionalFields":{"customFields":{"customFieldValues":[{"fieldId":"Name","fieldValue":"={{ $json.body.data.first_name }} {{ $json.body.data.last_name }}"},{"fieldId":"Job Title","fieldValue":"={{ $json.body.data.lead_form_questions[0].answers[0].answer_value }}"},{"fieldId":"Phone","fieldValue":"={{ $json.body.data.lead_form_questions[1].answers[0].answer_value }}"},{"fieldId":"Traffic Source","fieldValue":"={{ $json.body.data.utm_source }}"},{"fieldId":"Traffic Campaign","fieldValue":"={{ $json.body.data.utm_campaign }}"},{"fieldId":"Traffic Medium","fieldValue":"={{ $json.body.data.utm_medium }}"}]}}},"id":"521419ce-c70b-421c-8dc5-1c6f153b360b","name":"RD Station1","type":"@deviobr/n8n-nodes-rdstation.rdStation","typeVersion":1,"position":[1260,280],"credentials":{"rdStationOAuth2Api":{"id":"VszZWxzCkFzXNTmO","name":"RD Station CMOS"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"RD Station1","type":"main","index":0}],[{"node":"RD Station","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d335076d-ac10-4c72-9388-032541f3865f","triggerCount":1,"tags":[{"createdAt":"2024-08-10T20:25:46.666Z","updatedAt":"2024-08-10T20:25:46.666Z","id":"grVOqwXhaOCRNbw3","name":"ScoreApp"}]}