testes-43C9HHpiMB1LMqig.json
{"createdAt":"2024-11-08T02:56:22.984Z","updatedAt":"2025-10-01T03:17:56.726Z","id":"43C9HHpiMB1LMqig","name":"TESTES","active":false,"nodes":[{"parameters":{"options":{}},"id":"939bb301-5e12-4d5b-9a56-61a61cca5f0d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[680,400],"typeVersion":1,"credentials":{"openAiApi":{"id":"W8iBjzq8J1W1HRw0","name":"OpenAi account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"Message","mode":"list","cachedResultName":"Message"},"returnAll":true,"where":{"values":[{"column":"key","condition":"LIKE","value":"%@s.whatsapp.net"}]},"options":{}},"id":"62e5ed5a-eea4-4220-9fe3-0f6c24fbe00a","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[260,520],"credentials":{"postgres":{"id":"8gzN3hWDgAbrmxHj","name":"Postgres EVO CHAT"}}},{"parameters":{"assignments":{"assignments":[{"id":"baf531c6-5836-44f9-9079-8d735951ddb0","name":"id_msg","value":"={{ $json.id }}","type":"string"},{"id":"54c030fd-5aa2-4e95-8ca3-05bc5199f5ce","name":"fromMe","value":"={{ $json.key.fromMe }}","type":"boolean"},{"id":"8f9a122c-ab66-4714-9d7f-f281e6131502","name":"remoteJid","value":"={{ $json.key.remoteJid }}","type":"string"},{"id":"7b414856-6815-4153-8555-651c9151132c","name":"type","value":"={{ $json.messageType }}","type":"string"},{"id":"95021c55-442f-4d6a-811a-01ce2d0051ac","name":"conversation","value":"={{ $json.message.conversation }}","type":"string"}]},"options":{}},"id":"5e58ff75-2471-4d58-85e3-51aedabb8a2b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,520]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"8b6eb6d7-6758-40c3-82f3-92fafd210a13","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[600,520]},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"Contact","mode":"list","cachedResultName":"Contact"},"returnAll":true,"where":{"values":[{"column":"remoteJid","value":"5527993160804@s.whatsapp.net"}]},"options":{}},"id":"05274b1b-be4c-42b1-888d-22f9dee02e5a","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[260,720],"credentials":{"postgres":{"id":"8gzN3hWDgAbrmxHj","name":"Postgres EVO CHAT"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"ac0b5dd6-b757-4495-b3c5-4f2b6b7190c0","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[600,720]},{"parameters":{"path":"3ab60994-0ba6-436b-8063-51a4a5c80b5d","responseMode":"responseNode","options":{}},"id":"8a90ad7e-7a2e-47a3-b777-1505c0c9fa6c","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,720],"webhookId":"3ab60994-0ba6-436b-8063-51a4a5c80b4b"},{"parameters":{"path":"3ab60994-0ba6-436b-8063-51a4a5c80b4b","responseMode":"responseNode","options":{}},"id":"562b9039-58a9-4eca-93af-c5b0f79ae016","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,520],"webhookId":"3ab60994-0ba6-436b-8063-51a4a5c80b4b"},{"parameters":{"options":{}},"id":"040e7c4d-8e51-4582-bd66-ed47252c61c1","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[440,240],"webhookId":"ca38250a-0312-4679-96ae-46a6ed7b1d4b"},{"parameters":{"agent":"conversationalAgent","options":{}},"id":"6b8b7de8-fe3f-43b5-97ce-a52a9e44eb5e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[700,240],"typeVersion":1.6},{"parameters":{},"id":"1de5b8d1-85c5-4c21-ac1f-5ed541dd4011","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1080,240]},{"parameters":{"options":{}},"id":"16cccd7f-4c24-4e4a-9b0f-1a70dfefaddb","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,700]}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Postgres":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveExecutionProgress":false},"staticData":null,"meta":{"templateId":"1954","templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"name":"First item","code":1}}],"Webhook":[{"json":{"name":"First item","code":1}}]},"versionId":"2a16e53e-50f2-460a-8872-3506315f9652","triggerCount":4,"tags":[]}